<template>
  <div>
    <DashboardUAT/>
  </div>
</template>
<script>
import DashboardUAT from '@/components/pages/Dashboard/DashboardUAT'
export default {
  components: {
    DashboardUAT
  }
}
</script>
