<template>
  <div style="background-color: #e5e5e5">
    <v-main>
      <v-container fluid style="padding: 30px">
        <v-row class="align-center text-center">
          <v-col
            cols="6"
            sm="8"
            xs="12"
            md="4"
            lg="7"
            style="padding-top: 0; padding-bottom: 0"
          >
            <Loading :isLoadingCheck="isLoading"></Loading>
            <div class="text-left title__margin">
              <p class="title__top">Document UAT</p>
            </div>
          </v-col>
        </v-row>
        <!-- <v-divider></v-divider> -->
        <v-spacer></v-spacer>
        <v-row>
          <v-col
            cols="4"
            class="text-end"
            style="padding-top: 14px; padding-bottom: 0px"
          >
            <v-text-field
              dense
              solo
              flat
              prepend-inner-icon="mdi-magnify"
              v-model="search"
              @input="searchenb()"
              label="Search"
              style="margin-left: 5px"
            ></v-text-field>
          </v-col>
          <v-col
            cols="1"
            class="text-end"
            style="padding-top: 14px; padding-bottom: 0px"
          >
            <v-btn
              color="#0F75BD"
              height="40"
              style="text-transform: capitalize"
              dark
              >
              OK</v-btn
            >
          </v-col>
        </v-row>

        <v-row>
            <v-btn
              class="ma-2"
              color="#0F75BD"
              height="40"
              style="text-transform: capitalize"
              dark
               v-if="!isHidden"
              >
              Cloud 
              <feather
                style="color: white; margin-bottom: 20px; margin-left: 10px;"
                type="x"
                size="15"
                v-on:click="isHidden = true"
              ></feather>
              </v-btn>
        </v-row>

        <v-row>
            <v-col cols="5"></v-col>
            <v-col
            md="7"
            sm="7"
            class="text-end"
            style="padding-top: 4px; padding-bottom: 0px"
          >
            <v-btn
              class="ma-2"
              color="#0F75BD"
              height="40"
              style="text-transform: capitalize"
              dark
              @click="adduat()"
              ><feather
                style="color: white"
                type="plus-circle"
                size="20"
                stroke-width="1"
                class="mr-2"
              ></feather>
              Create</v-btn
            >
          </v-col>
        </v-row>

        <v-row class="mt-2 align-center text-center row__padding rowbgpm">
          <v-col md="12" sm="12">
            <v-data-table
                 @page-count="pageCount = $event"
          no-data-text="No data available"
          :headers="headerTeamAvailable"
          :items-per-page="itemsPerPage"
          style="white-space: nowrap"
          hide-default-footer
          :items="mockdata1"
          :page.sync="page"
          :search="search"
          height="450px"
          fixed-header
            >

            </v-data-table>

            <v-row>
              <v-col
                cols="12"
                class="hidden-lg-only hidden-xl-only pb-0 pt-0"
                style="display: flex; align-items: center; justify-content: center;"
                >
                <v-pagination
                  v-model="page"
                  :length="pageCount"
                  color="#174A67"
                  :total-visible="7"
                ></v-pagination>
              </v-col>
              <v-col
                cols="4"
                class="d-md-none d-lg-flex  hidden-md-only hidden-sm-and-down pb-0 pt-0"
              >
                <v-row>
                  <v-col
                    cols="12"
                    style="padding-top: 50px; !important"
                    class="text-start fontrowtable hidden-sm-and-down"
                  >
                    Showing {{ startRowPerPages || 1 }} to
                    {{ endRowPerPages }} of {{ desserts.length }} entries
                  </v-col>
                </v-row>
              </v-col>
              <v-col
                cols="8"
                class="d-md-none d-lg-flex  hidden-md-only hidden-sm-and-down pb-0 pt-0"
              >
                <v-row>
                  <v-col
                    cols="3"
                style="display: flex; align-items: center"
                    class="hidden-sm-and-down"
                  >
                    <v-row>
                      <v-col
                    cols="9"
                    class="fontrowtable"
                    style="padding-top:38px; !important;"
                    >Row per page :</v-col
                  >
                  <v-col cols="3" class="px-0 py-0">
                    <v-select
                      solo
                      flat
                      style="padding-top: 26px"
                          :items="pagelist"
                          outlined
                          dense
                          :value="itemsPerPage"
                          type="number"
                          class="slcsv"
                          @input="itemsPerPage = parseInt($event, 10)"
                        ></v-select>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col
                    cols="6"
                    style="display: flex; align-items: center; justify-content: end"
                    class="justify-end pb-0 pt-0"
                  >
                    <v-pagination
                      v-model="page"
                      :length="pageCount"
                      color="#174A67"
                      :total-visible="7"
                    ></v-pagination>
                  </v-col>
                  <v-col
                    cols="3"
                    style="display: flex; align-items: center"
                    class="hidden-sm-and-down"
                  >
                    <v-row>
                      <v-col
                        md="8"
                        class="fontrowtable"
                        style="padding-top: 35px; !important;display: flex;justify-content: end;"
                    >Go to page :</v-col
                      >
                      <v-col md="4" cols="4" class="px-0 py-0">
                        <v-text-field
                          solo
                          flat
                          v-model.number="pageTextField"
                          @input="checkpage()"
                          min="1"
                          outlined
                          dense
                          :max="pageCount"
                          style="padding-top: 23px"
                          class="txb"
                          type="number"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

       
        <ModalAddDocument/>
      </v-container>
    </v-main>
  </div>
</template>
<script>
import { EventBus } from "@/utils/EventBus";
import Loading from "@/components/commons/Loading/Loading";

import ModalAddDocument from "@/components/commons/ModalAddDocument/ModalAddDocument";
export default {
  components: {
    Loading,
  
    ModalAddDocument
  },
  data() {
    return {
      pagelist: [5, 10, 15, {
        value: Number.MAX_SAFE_INTEGER,
        text: 'all'
      }],
      pageTextField: 1,
      page: 1,
      itemsPerPage: 10,
      pageCount: 0,
      search: "",
      itemSummary: null,
      isLoading: false,
      isHidden: false,
      selectservice: "All service",
      menu: false,
      date: new Date().toISOString().substr(0, 7),
      desserts: [],
      mockdata1:[
        {
          no: '1',
          document_id: 'D02-000151',
          document_name:'Cloud(Nutanix) + xxxxxxxxx',
          open:' '
              
        },
      ],
      headerTeamAvailable: [
        {
          text: 'No.',
          value: 'no',
          align: 'center',
          sortable: false,
          width: '5%',
          class: 'header__other text-center'
        },
        {
          text: 'Document Name',
          value: 'document_name',
          align: 'center',
          class: 'header__other text-center',
          width: '25%',
          sortable: false
        },
        {
          text: 'Document ID',
          value:'document_id',
          align: 'center',
          class: 'header__other text-center',
          width: '25%',
          sortable: false
        },
        {
          text: '',
          value:'open',
          align: 'center',
          class: 'header__other text-center',
          width: '25%',
          sortable: false
        },
       
      ],
    };
  },
  computed: {
    numberOfPages() {
      return Math.ceil(this.desserts.length / this.itemsPerPage);
    },
    startRowPerPages() {
      return Math.ceil((this.page - 1) * this.itemsPerPage) + 1;
    },
    endRowPerPages() {
      return Math.ceil(this.itemsPerPage * this.page) > this.desserts.length
        ? this.desserts.length
        : Math.ceil(this.itemsPerPage * this.page);
    },
  },
  created() {
    // this.getSummary();
  },
  methods: {
    adduat() {
      EventBus.$emit("adduat");
    },
    searchenb() {
      EventBus.$emit("searchTablepmservice", this.search);
    },
    checkpage () {
      this.pageTextField = this.pageTextField > 0 || !this.pageTextField ? this.pageTextField : 1
      this.pageTextField = this.pageTextField <= this.pageCount || !this.pageTextField ? this.pageTextField : this.pageCount
      if (this.pageTextField) { this.page = this.pageTextField }
    },
  },
};
</script>
<style>
.row__padding {
  padding: 24px;
}
.title__top {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #174a67 !important;
}
.rowbgpm {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  padding-bottom: 0px !important;
}
.text-start {
  padding-right: 0px !important;
}
.v-pagination__navigation {
  box-shadow: none !important;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 32px;
  width: 32px;
  margin: 0.3rem 10px;
}
.v-pagination__item {
  background: transparent;
  border-radius: 10px;
  font-size: 1rem;
  height: 34px;
  margin: 0.3rem;
  min-width: 34px;
  padding: 0 5px;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  width: auto;
  box-shadow: none !important;
}
.servicecol {
  width: 180px !important;
  min-width: 170px !important;
  height: 110px;
  border-radius: 4px;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.theme--light.v-pagination .v-pagination__item {
  background: #ffffff;
  color: rgba(23, 74, 103, 0.87);
}
.theme--light.v-pagination .v-pagination__item--active {
  color: #ffffff;
}
.slcsv .v-input__slot {
  width: min-content !important;
  border-radius: 10px !important;
}
.txb .v-input__slot {
 border-radius: 10px;
  max-width: 60px;
}
td {
  border: 1px solid #f1f2f6;
}
th {
  border: 1px solid #f1f2f6;
}

.row__padding {
  padding: 24px;
}

.header__other {
  background-color: #5589bb !important;
  color: #ffffff !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.rowbg {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
}

.title__font {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #0f75bd;
}
.title__margin {
  margin-bottom: 10px;
}

.body__font tr td {
  font-size: 18px !important;
}
.fontrowtable {
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  color: #174a67;
}

.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #fff;
  color: #174a67;
  font-size: 1em;
  border: thin solid currentColor;
}
@media screen and (max-width: 600px) {
  .row__padding {
    padding: unset !important;
  }
}

</style>
