<template>
  <div>
    <v-main>
      <v-container fluid style="padding: 30px">
        <v-row class="align-center text-center">
          <v-col
            cols="6"
            sm="8"
            xs="12"
            md="4"
            lg="7"
            style="padding-top: 0; padding-bottom: 0; padding-left: 30px"
          >
            <Loading :isLoadingCheck="isLoading"></Loading>
            <div class="text-left title__margin">
              <v-row class="pl-3">
                <a
                  :href="'/mydocument'"
                  style="color: gray; text-decoration: none"
                  >Document Notification /</a
                >
                <a class="title__top"> Cloud(Nutanix) + xxxxxxx</a>
              </v-row>
            </div>
          </v-col>
        </v-row>
        <v-spacer></v-spacer>

        <v-row>
          <v-col cols="12" style="padding-left: 200px; padding-right: 200px">
            <v-stepper alt-labels>
              <v-stepper-header>
                <v-stepper-step step="1" complete> Create </v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step step="2" complete>
                  Add Infomation
                </v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step :rules="[() => false]" step="3">
                  Checking
                  <small>Alert message</small>
                </v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step step="4" complete> Editing </v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step step="5"> Complete </v-stepper-step>
              </v-stepper-header>
            </v-stepper>
          </v-col>
        </v-row>

        <v-row class="ml-5 mr-5 mt-5">
          <v-col
            cols="8"
            style="
              border-radius: 10px;
              margin-top: 10px;
              background-color: white;
            "
          >
            <v-row>
              <v-col cols="6" class="pt-0 pb-0">
                <div style="margin-left: 20px; margin-right: 20px">
                  <v-row>
                    <v-col cols="5">
                      <p style="color: #aeaeae">Customer ID :</p>
                    </v-col>
                    <v-col cols="7">
                      <p
                        style="
                          color: #0f75bd;
                          font-weight: 500;
                          font-size: 18px;
                        "
                      >
                        C01-000168
                      </p>
                    </v-col>
                  </v-row>
                </div>
              </v-col>

              <v-col cols="6" class="pt-0 pb-0">
                <div style="margin-left: 20px; margin-right: 20px">
                  <v-row>
                    <v-col cols="5">
                      <p style="color: #aeaeae">UAT ID :</p>
                    </v-col>
                    <v-col cols="7">
                      <p
                        style="
                          color: #0f75bd;
                          font-weight: 500;
                          font-size: 18px;
                        "
                      >
                        1234
                      </p>
                    </v-col>
                  </v-row>
                </div>
              </v-col>

              <v-col cols="6" class="pt-0 pb-0">
                <div style="margin-left: 20px; margin-right: 20px">
                  <v-row>
                    <v-col cols="5">
                      <p style="color: #aeaeae">Customer Name :</p>
                    </v-col>
                    <v-col cols="7">
                      <p
                        style="
                          color: #0f75bd;
                          font-weight: 500;
                          font-size: 18px;
                        "
                      >
                        Intergrated Retail Management Consulting Pte.Ltd.
                      </p>
                    </v-col>
                  </v-row>
                </div>
              </v-col>

              <v-col cols="6" class="pt-0 pb-0">
                <div style="margin-left: 20px; margin-right: 20px">
                  <v-row>
                    <v-col cols="5">
                      <p style="color: #aeaeae">Solution :</p>
                    </v-col>
                    <v-col cols="7">
                      <p
                        style="
                          color: #0f75bd;
                          font-weight: 500;
                          font-size: 18px;
                        "
                      >
                        Cloud/Nx Cloud, Network/Link
                      </p>
                    </v-col>
                  </v-row>
                </div>
              </v-col>

              <v-col cols="6" class="pt-0 pb-0">
                <div style="margin-left: 20px; margin-right: 20px">
                  <v-row>
                    <v-col cols="5">
                      <p style="color: #aeaeae">Project Name :</p>
                    </v-col>
                    <v-col cols="7">
                      <p
                        style="
                          color: #0f75bd;
                          font-weight: 500;
                          font-size: 18px;
                        "
                      >
                        Cloud Computing
                      </p>
                    </v-col>
                  </v-row>
                </div>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="4"></v-col>
        </v-row>

        <v-row class="ml-5 mr-5 mt-5">
          <v-col cols="10" style="padding-bottom: 0px">
            <v-tabs
              v-model="tab"
              left
              class="nat1"
              style="background-color: #ffffff padding-bottom: 0px;"
            >
              <v-tab
                v-for="item in items"
                :key="item"
                style="text-transform: capitalize"
                @click="changetab(item)"
              >
                {{ item }}
              </v-tab>
            </v-tabs>
          </v-col>
          <v-col
            cols="2"
            style="padding-bottom: 0px; display: flex; justify-content: end"
          >
            <v-btn
              color="#0F75BD"
              height="40"
              style="text-transform: capitalize"
               @click="expand = !expand"
              dark
              ><feather style="color: white" type="eye" size="20"></feather> All
              Preview</v-btn
            >
          </v-col>

          <v-col cols="9" style="padding-top: 0px">
            <v-tabs-items v-model="tab">
              <v-tab-item>
                <TapsPm></TapsPm>
              </v-tab-item>
              <v-tab-item>
                <TapsCloud></TapsCloud>
              </v-tab-item>
              <v-tab-item>
                <TapsFirewall></TapsFirewall>
              </v-tab-item>
            </v-tabs-items>
          </v-col>

          <v-col cols="3" style="padding-top: 0px">
            <v-expand-transition>
              <v-card
                v-show="expand"
                height="100"
                width="100"
                class="mx-auto secondary"
              ></v-card>
            </v-expand-transition>
          </v-col>

          <v-col cols="2">
            <v-btn
              color="#ffffff"
              style="text-transform: capitalize"
              large
              @click="canceldocument()"
              >
              <feather style="color: #C7C7C7; margin-right: 10px" type="trash-2" size="20"></feather>
              <p style="color: #C7C7C7; margin-bottom: 0px;">Cancel Document</p> 
            </v-btn>
          </v-col>
          <v-col cols="12" style="display: flex; justify-content: center">
            <v-btn
              color="#174A67"
              height="40"
              width="150"
              style="text-transform: capitalize; color: #ffffff"
              @click="submitdocument()"
            >
              Submit</v-btn
            >
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </div>
</template>
<script>
import swal from "sweetalert2";
import Loading from "@/components/commons/Loading/Loading";
import TapsPm from "@/components/pages/DocumentTapsForm/TapsPm";
import TapsCloud from "@/components/pages/DocumentTapsForm/TapsCloud";
import TapsFirewall from "@/components/pages/DocumentTapsForm/TapsFirewall";
import Icon from '@/assets/New Project.png'
export default {
  components: {
    Loading,
    TapsPm,
    TapsCloud,
    TapsFirewall,
  },

  data() {
    return {
      expand: false,
      expand2: false,
      tab: null,
      items: ["PM/Presale", "Cloud(Nx)", "Virtual Firewall (Fortigate)"],
      isLoading: false,
      dialog2: false,
      checkbox: true,
      page: 1,
    };
  },
  computed: {},
  created() {},
  mounted() {},
  methods: {
    async submitdocument() {
      try {
        this.isLoading = true
        swal.fire({
          position: 'center',
          icon: 'success',
          title: 'Success',
          showConfirmButton: false,
          timer: 1500
        })
      } catch (error) {
        swal.fire({ confirmButtonColor: '#325869', icon: 'error', title: 'No' })
      } finally {
        this.isLoading = false
      }
    },
    async canceldocument () {
      swal
        .fire({
          imageUrl: Icon,
          imageWidth: 110,
          imageHeight: 120,
          text: 'Are you confirm to Cancel this Document data?',
          reverseButtons: true,
          showCancelButton: true,
          confirmButtonColor: '#174A67',
          confirmButtonText: 'Delete'
        })
        .then(async (result) => {
          if (result.isConfirmed) {
            try {
              this.isLoading = true
              await canceldocument()
              swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Deleted!',
                text: 'Your data has been deleted.',
                confirmButtonColor: '#174A67'
              })
             
            } catch (error) {
              console.log(error)
            } finally {
              this.isLoading = false
            }
          }
        })
    },
    changetab(data) {
      if (
        (data === "PM/Presale" && this.tab !== 0) ||
        (data === "Cloud(Nx)" && this.tab !== 1) ||
        (data === "Virtual Firewall (Fortigate)" && this.tab !== 2)
      ) {
        this.search = "";
      }
    },
    Confirm() {
      swal
        .fire({
          text: "Confirm Information",
          reverseButtons: true,
          showCancelButton: true,
          confirmButtonColor: "#174A67",
          confirmButtonText: "Confirm",
        })
        .then(async (result) => {
          if (result.isConfirmed) {
            swal.fire({
              position: "center",
              icon: "success",
              title: "Deleted!",
              text: "Your data has been deleted.",
              confirmButtonColor: "#174A67",
            });
            this.getAssignapi();
          }
        });
    },
  },
};
</script>
<style>
.title__top {
  padding-left: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #174a67 !important;
}
.title__font {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #0f75bd;
}
.title__margin {
  margin-bottom: 10px;
}

.row__padding {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 24px;
}

.rowbg {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.theme--light.v-stepper {
  background: #e5e5e5;
}

.v-stepper {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  box-shadow: none;
}

.v-tabs {
  flex: 1 1 auto;
  width: auto;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 0px !important;
}
.nat1 .v-tab {
  font-weight: 600 !important;
  font-size: 20px !important;
  background-color: white !important;
  border-radius: 10px 10px 0px 0px !important;
  overflow: hidden !important;
  padding-bottom: 0px !important;
}
.nat1 .v-tab:not(.v-tab--active) {
  background-color: #e5e5e5 !important;
  border-radius: 0px 0px 0px 0px !important;
}

.nat1 .v-tabs .v-tab--active {
  border-radius: 10px !important;
  background-color: #e5e5e5 !important;
}

.nat1 .v-tabs-slider-wrapper {
  width: 0 !important;
}

.nat1 .v-slide-group__content {
  background-color: #e5e5e5 !important;
}
</style>
