<template>
  <div style="background-color: #e5e5e5">
    <v-main>
      <v-container fluid style="padding: 30px">
        <v-row class="align-center text-center">
          <v-col
            cols="6"
            sm="8"
            xs="12"
            md="4"
            lg="7"
            style="padding-top: 0; padding-bottom: 0"
          >
            <Loading :isLoadingCheck="isLoading"></Loading>
            <div class="text-left title__margin">
              <p class="title__top">My Dog</p>
            </div>
          </v-col>
        </v-row>
        <v-spacer></v-spacer>
        <v-row>
          <v-col
            cols="5"
            class="text-end"
            style="padding-top: 14px; padding-bottom: 0px"
          >
            <v-text-field
              dense
              solo
              flat
              prepend-inner-icon="mdi-magnify"
              v-model="search"
              @input="searchenb()"
              label="Search"
              style="margin-left: 5px"
            ></v-text-field>
          </v-col>
          <v-col md="7" sm="7"></v-col>
        </v-row>
        
        <v-tabs
          v-model="tab"
          left
          class="taps"
        >
          <v-tab
            v-for="item in items"
            :key="item"
            style="text-transform: capitalize; margin-right: 20px; color:#ffffff;"
            :style="item === 'All Document' ? 'background-color: #5589BB' 
              : item === 'Pending' ? 'background-color: #ED7D2B;' 
              : item === 'In Progress' ? 'background-color: #FCC419;' 
              : item === 'Reject' ? 'background-color: #F03D3E;' 
              : item === 'Complete' ? 'background-color: #58A144;' 
              :'background-color: #C7C7C7;' "
            @click="changetab(item)"
          >
            {{ item }}
          </v-tab>
        </v-tabs>
        <v-tabs-items v-model="tab" style="border-radius: 0px 8px 8px 8px">
          <v-tab-item>
            <TableAllDocument></TableAllDocument>
          </v-tab-item>
          <v-tab-item>
            <TablePending></TablePending>
          </v-tab-item>
          <v-tab-item>
            <TableInProgress></TableInProgress>  
          </v-tab-item>
          <v-tab-item>
            <TableReject></TableReject>
          </v-tab-item>
          <v-tab-item>
            <TableComplete></TableComplete>  
          </v-tab-item>
          <v-tab-item>
            <TableCancel></TableCancel>  
          </v-tab-item>
        </v-tabs-items>
      </v-container>
    </v-main>
  </div>
</template>
<script>
import { EventBus } from "@/utils/EventBus";
import Loading from "@/components/commons/Loading/Loading";
import TableAllDocument from "@/components/pages/DocumentTableForm/TableAllDocument";
import TablePending from "@/components/pages/DocumentTableForm/TablePending";
import TableInProgress from "@/components/pages/DocumentTableForm/TableInProgress";
import TableReject from "@/components/pages/DocumentTableForm/TableReject";
import TableComplete from "@/components/pages/DocumentTableForm/TableComplete";
import TableCancel from "@/components/pages/DocumentTableForm/TableCancel";
export default {
  components: {
    Loading,
    TableAllDocument,
    TablePending,
    TableInProgress,
    TableReject,
    TableComplete,
    TableCancel,
  },
  data() {
    return {
      tab: null,
      items: ["All Document", "Pending", "In Progress", "Reject", "Complete", "Cancel"],
      page: 1,
      itemsPerPage: 10,
      pageCount: 0,
      search: "",
      itemSummary: null,
      isLoading: false,
      selectservice: "All service",
      menu: false,
      date: new Date().toISOString().substr(0, 7),
    };
  },
  computed: {
    numberOfPages() {
      return Math.ceil(this.desserts.length / this.itemsPerPage);
    },
    startRowPerPages() {
      return Math.ceil((this.page - 1) * this.itemsPerPage) + 1;
    },
    endRowPerPages() {
      return Math.ceil(this.itemsPerPage * this.page) > this.desserts.length
        ? this.desserts.length
        : Math.ceil(this.itemsPerPage * this.page);
    },
  },
  created() {
    // this.getSummary();
  },
  methods: {
    searchenb() {
      EventBus.$emit("searchDocNot", this.search);
    },
    changetab(data) {
      if (
        (data === "All Document" && this.tab !== 0) ||
        (data === "Pending" && this.tab !== 1) ||
        (data === "In Progress" && this.tab !== 2) ||
        (data === "Reject" && this.tab !== 3) ||
        (data === "Complete" && this.tab !== 4) ||
        (data === "Cancel" && this.tab !== 5)
      ) {
        this.search = "";
        this.searchenb();
      }
    },
  },
};
</script>
<style>
.row__padding {
  padding: 24px;
}
.title__top {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #174a67 !important;
}
.title__margin {
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .row__padding {
    padding: unset !important;
  }
}
.v-tabs {
  flex: 1 1 auto;
  width: auto;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
}
.taps .v-tab {
  font-weight: 600 !important;
  font-size: 20px !important;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
.taps .v-tab:not(.v-tab--active) {
  border-radius: 10px !important;
  background-color: #ffffff !important;
  border-radius: 0px 0px 0px 0px;
  color: #918f8f !important;
}

.taps .v-tabs .v-tab--active {
  border-radius: 10px !important;
  background-color: #e5e5e5 !important;
}

.taps .v-tabs-slider-wrapper {
  width: 0 !important;
}

.taps .v-slide-group__content {
  background-color: #e5e5e5;
}
</style>
