<template>
  <v-row justify="center">
    <v-dialog persistent v-model="dialog2" max-width="1200px">
      <v-card style="background-color: #f5f5f5">
        <v-card-title
          class="text-center justify-center"
          style="padding-right: 15px"
        >
          <h3 class="head2 ml-2" color="#174A67">Edit Customer Data</h3>
          <v-spacer></v-spacer>
          <v-btn icon color="#333333" large @click="dialog2 = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-container class="px-5">
          <v-card style="box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px">
            <v-list-item>
              <v-list-item-content>
                <v-row class="ml-0">
                  <h4
                    color="#0F75BD"
                    style="
                      margin-bottom: 10px;
                      margin-top: 10px;
                      color: #0f75bd;
                      margin-right: 10px;
                    "
                  >
                    Customer Data
                  </h4>

                    <toggle-button :font-size="16" class="mr-3" :sync="true" v-model="dataCus.is_critical" :value="dataCus.is_critical" :height="30" :width="99" :color="{checked: '#F03D3E', unchecked: '#0F75BD'}" :labels="{checked: 'Critical', unchecked: 'Normal'}"></toggle-button>
                    <toggle-button :font-size="16" class="mr-3" :sync="true" v-model="dataCus.cus_activate" :value="dataCus.cus_activate" :height="30" :width="105" :color="{checked: '#3AB54A', unchecked: '#e5e5e5'}" :labels="{checked: 'Activate', unchecked: 'Inctivate'}"></toggle-button>

                </v-row>
                <v-form ref="form" v-model="valid">
                  <v-row>
                    <v-col
                      class="pt-0 pb-0"
                      cols="12"
                      sm="4"
                      md="4"
                      lg="4"
                      xl="4"
                    >
                      <p>Customer ID<span class="red--text"> *</span></p>
                      <v-text-field
                        single-line
                        v-model="dataCus.cus_id"
                        outlined
                        :rules="[(v) => !!v || 'Customer ID is required']"
                        min="1"
                        label="Customer ID"
                        oninput="if(Number(this.value) < Number(this.min) && this.value) this.value = this.min;"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col
                      class="pt-0 pb-0"
                      cols="12"
                      sm="4"
                      md="4"
                      lg="4"
                      xl="4"
                    >
                      <p>
                        Customer Name (Thai)<span class="red--text"> *</span>
                      </p>
                      <v-text-field
                        single-line
                        v-model="dataCus.cus_name_th"
                        outlined
                        :rules="[
                          (v) => !!v || 'Customer Name (Thai) is required',
                        ]"
                        min="1"
                        label="Customer Name"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="4"
                      md="4"
                      lg="4"
                      xl="4"
                      class="pt-0 pb-0"
                    >
                      <p
                        class="
                          hidden-md-only
                          hidden-lg-only
                          hidden-xl-only
                          hidden-md-and-up
                        "
                      >
                        Customer Name (Eng)<span
                          class="red--text hidden-md-only hidden-lg-only"
                        >
                          *</span
                        >
                      </p>
                      <p
                        class="
                          d-sm-none d-md-flex
                          hidden-sm-only hidden-xs-only
                        "
                      >
                        Customer Name (English)<span
                          class="red--text hidden-sm-only"
                        >
                          *</span
                        >
                      </p>
                      <v-text-field
                        single-line
                        v-model="dataCus.cus_name_en"
                        outlined
                        :rules="[
                          (v) => !!v || 'Customer Name (Eng) is required',
                        ]"
                        min="1"
                        label="Customer Name"
                        required
                      ></v-text-field>
                    </v-col>

                    <v-col
                      cols="12"
                      sm="4"
                      md="4"
                      lg="4"
                      xl="4"
                      class="pt-0 pb-0"
                    >
                      <p
                        class="
                          hidden-md-only
                          hidden-lg-only
                          hidden-xl-only
                          hidden-md-and-up
                        "
                      >
                        Customer Info
                      </p>
                      <p
                        class="
                          d-sm-none d-md-flex
                          hidden-sm-only hidden-xs-only
                        "
                      >
                        Customer Info
                      </p>
                      <v-text-field
                        single-line
                        v-model="dataCus.cus_info"
                        outlined
                        min="1"
                        label="Customer Info"
                      ></v-text-field>
                    </v-col>

                    <v-col
                      cols="12"
                      sm="4"
                      md="4"
                      lg="4"
                      xl="4"
                      class="pt-0 pb-0"
                    >
                      <p>Customer Contact File</p>
                      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        small
                        rounded
                        color="primary"
                        dark
                         v-bind="attrs"
	v-on="on"
                        @click="$refs.fileDiagram.$refs.input.click()"
                        style="
                          position: absolute;
                          margin-top: 13px;
                          margin-left: 10px;
                          text-transform: capitalize;
                          z-index: 999;
                        "
                      >
                        Choose File
                      </v-btn>
                      </template>
<span>The system allows the file size to be no more than 200 MB. If you need to add files, please contact admin</span>
</v-tooltip>
                      <v-file-input
                        v-show="cus_file"
                        single-line
                        outlined
                        show-size
                        counter
                        prepend-icon=""
                        ref="fileDiagram"
                        v-model="cus_file"
                        :rules="rulefileinput"
                      ></v-file-input>
                        <v-text-field
                          v-show="!cus_file"
                          readonly
                          v-model="dataCus.cusFile_name"
                          single-line
                          class="textfile"
                          outlined
                          clearable
                      ></v-text-field>
                    </v-col>

                    <!-- <v-col cols="12" class="pt-0">
                      <v-checkbox
                        v-model="dataCus.is_critical"
                        label="Critical"
                        color="info"
                        hide-details
                        style="
                          margin-top: 0px;
                          padding-top: 0px;
                          padding-left: 5px;
                        "
                      ></v-checkbox>
                    </v-col> -->
                  </v-row>
                  <v-row class="justify-center">
                    <v-col
                      cols="6"
                      sm="6"
                      md="6"
                      style="display: flex; justify-content: flex-end"
                    >
                      <v-btn
                        outlined
                        color="#174A67"
                        style="text-transform: capitalize"
                        @click="dialog2 = false"
                        >Cancel</v-btn
                      >
                    </v-col>

                    <v-col cols="6" sm="6" md="6">
                      <v-btn
                        depressed
                        color="#174A67"
                        @click="handleEditCustomer"
                        style="color: white; text-transform: capitalize"
                      >
                        Save</v-btn
                      >
                    </v-col>
                  </v-row>
                </v-form>
              </v-list-item-content>
            </v-list-item>
          </v-card>
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { EventBus } from '@/utils/EventBus'
import { editCus } from '@/api/modal'
import moment from 'moment'
import { TopSwal } from '@/utils/TopSwal'
import { getProfile } from '@/utils/profile'
import swal from 'sweetalert2'
export default {
  props: ['handleLoading'],
  data: () => ({
    confirm_UAT_file: null,
    cusData: {},
    switch1: true,
    checkbox: true,
    projectDurationRules: [(v) => !!v || 'Project is required'],
    rulefileinput: [
      (value) =>
        !value ||
        value.size < 209715200 ||
        'File size should be less than 200 MB!'
    ],
    valid: true,
    dialog2: false,
    cus_file: null,
    data: {},
    profile: {},
    dataCus: {},
  }),
  watch: {
    dialog2 (val) {
      if (!val) {
        this.cus_file = null
        this.$refs.form.resetValidation()
      }
    }
  },
  computed: {},
  mounted () {
    EventBus.$on('openModalEditCustomer', this.getDetail)
  },
  methods: {

    async handleEditCustomer () {
      try {
        if (this.$refs.form.validate()) {
            var formData = new FormData()
            if (this.cus_file) {
                formData.append('cus_file', this.cus_file)
                formData.append('file_id', true)
            } else if (this.dataCus.cusFile_name) {
                formData.append('file_id', true)
            }
            formData.append('cus_id', this.dataCus.cus_id)
            formData.append('cus_no', this.dataCus.cus_no)
            formData.append('cus_name_th', this.dataCus.cus_name_th)
            formData.append('cus_name_en', this.dataCus.cus_name_en)
            formData.append('cus_info', this.dataCus.cus_info)
            if (this.dataCus.cus_activate) {
                formData.append('cus_activate', this.dataCus.cus_activate)
            }
            if (this.dataCus.is_critical) {
                formData.append('is_critical', this.dataCus.is_critical)
            }
            var xml = getProfile()
            var keeplog = {
                pm_id: xml.pm_id ? xml.pm_id : 'admin',
                aLog_type: 'edit',
                aLog_dtl: 'edit customer',
                aLog_to: this.dataCus.cus_no,
                aLog_loc: 'customer'
            }
            formData.append('keep_log', JSON.stringify(keeplog))
          await editCus(formData)
          this.dialog2 = false
          swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Success',
            showConfirmButton: false,
            timer: 1500
          })
        }
        EventBus.$emit('reloadPMServiceDetail')
      } catch (error) {
        swal.fire({
          confirmButtonColor: '#325869',
          icon: 'error',
          title: error.response.data.message
        })
      }
    },

    async getDetail (data) {
        let temp = await JSON.parse(JSON.stringify(data))
        this.dataCus = temp
        this.dialog2 = true
    }
  }
}
</script>
<style>
.head2 {
  font-size: 23px;
  color: #325869;
}
.head3 {
  font-size: 26px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.v-file-input .v-file-input__text {
  padding-left: 130px !important;
}
</style>
