<template>
  <div>
    <DocumentFormEdit/>
  </div>
</template>
<script>
import DocumentFormEdit from '@/components/pages/Document/DocumentFormEdit'
export default {
  components: {
    DocumentFormEdit
  }
}
</script>