<template>
  <div v-if="isLoggedIn()">
    <v-app id="inspire">
      <Loading :isLoadingCheck="isLoading"></Loading>
      <!-- Header -->
      <v-app-bar color="#174A67" app elevate-on-scroll clipped-right>
        <a style="padding-left:18px" @click="tablink('dashboard')" href="#dashboard">
          <img v-if="!mini" width="90px" src="@/assets/images/inetlogo.png" />
        </a>
        <v-tabs class="pdl65" v-model="tab">
          <v-tabs-slider :style="($route.name === 'PMService') ? 'display: none;' : ''" color="white"></v-tabs-slider>
          <v-tab active-class="textbar" style="color: white !important;text-transform: capitalize;width: 160px;" @click="tablink('dashboard')" href="#dashboard">
            <feather style="padding-right: 20px" type="home"></feather>
            Dashboard home
          </v-tab>
          <v-tab active-class="textbar" style="color: white !important;text-transform: capitalize;width: 160px;" @click="tablink('service')" href="#Service" >
            <feather style="padding-right: 20px" type="layers"></feather>
            Services
          </v-tab>
          <!-- @mouseout="showMenu=false" -->
          <v-tab v-if="(profile.pm_id || profile.user_id === '000') && false" active-class="textbar" style="color: white !important;text-transform: capitalize;width: 160px;" @mouseover="showMenueqirefalselose(),showMenu=true" @mouseleave="showMenueqirefalse()" @click="checkroute(),showMenueqirefalselose(), showMenu=true"  href="#uat">
          <v-menu offset-y offset-x v-model="showMenu" nudge-left="69" nudge-bottom="21" :open-on-hover="showMenu">
              <template v-slot:activator="{ on, attrs }">
                  <feather style="padding-right: 20px" type="file-text"></feather>
                <span>UAT <v-icon color="#ffffff">{{ showMenu ? 'mdi-menu-up' : 'mdi-menu-down' }}</v-icon></span>
              </template>
              <v-list>
                <v-list-item @mouseover="showMenueqirefalselose()" @click="UatMenu('Dashboard')">
                  <v-list-item-title>Dashboard UAT</v-list-item-title>
                </v-list-item>
                <v-list-item @mouseover="showMenueqirefalselose()" @click="UatMenu('Uat')">
                  <v-list-item-title>Document UAT</v-list-item-title>
                </v-list-item>
                <v-list-item @mouseover="showMenueqirefalselose()" @click="UatMenu('MyDocument')">
                  <v-list-item-title>My Document</v-list-item-title>
                </v-list-item>
              </v-list>
          </v-menu>
          </v-tab>
          <v-tab style="display:none;" href="#PMService"></v-tab>
          <v-tab style="display:none;" href="#LogsAction"></v-tab>
        </v-tabs>
        <v-spacer></v-spacer>
        <v-btn class="ma-2 userprofile hidden-sm-and-down" disabled outlined style="color: white;text-transform: lowercase;">
            <feather style="color: white;padding-right: 9px" type="user" size="17" ></feather>
            {{profile.one_email ? profile.one_email : profile.user_oneID ? profile.user_oneID : '-'}}
        </v-btn>
        <!-- <p class="ma-2" style="text-transform: lowercase;color: white;">
          <feather style="color:white;padding-right: 9px;" type="user" size="17" ></feather>
          <span>{{profile.one_email ? profile.one_email : profile.user_oneID ? profile.user_oneID : '-'}}</span>
        </p> -->
        <v-menu left offset-y bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="white" icon v-bind="attrs" v-on="on">
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list class=" py-0">
            <v-list-item
              v-for="(item, i) in menuOptions"
              :key="i"
              @click="topMenu(item.fn)"
              class="px-9 py-1"
              v-if="(item.text === 'Manage PM' && (profile.pm_id || profile.user_id === '000')) || item.text !== 'Manage PM'"
            >
                <feather style="color: #174A67;padding-right: 23px" :type = item.icon size="19"></feather>
                <v-list-item-title>{{ item.text }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-app-bar>

      <router-view />
      <!-- <v-footer color="grayfooter" app>
        <span class="grey--text">&copy;INET 2021</span>
      </v-footer> -->
    </v-app>
  </div>
</template>

<script>
import { EventBus } from '@/utils/EventBus'
// import swal from 'sweetalert2'
import { getProfile } from '@/utils/profile'
import { logLogout } from '@/api/log'
import { isLoggedIn, getCheckAdminDraw } from '@/utils/auth'
import Loading from '@/components/commons/Loading/Loading'

import { TopSwal } from '@/utils/TopSwal'

export default {
  name: 'Home',
  components: {
    Loading
  },
  data () {
    return {
      showMenu: false,
      tab: null,
      date: new Date().toISOString().substr(0, 10),
      loading: true,
      isLoading: false,
      drawer: null,
      profile: {
        thai_email: ''
      },
      img_profile: {
        men: require('@/assets/images/man.png'),
        women: require('@/assets/images/woman.png')
      },
      mini: false,
      window: {
        width: 0,
        height: 0
      },
      menuOptions: [
        {
          icon: 'calendar',
          text: 'Calendar',
          fn: 'calendar'
        },
        {
          icon: 'users',
          text: 'Manage PM',
          fn: 'pm'
        },
        {
          icon: 'file-text',
          text: 'View Action Logs',
          fn: 'aLogs'
        },
        {
          icon: 'log-out',
          text: 'Log Out',
          fn: 'logout'
        }
      ],
      PMService: ['PMServiceDetail', 'PMServiceDetailEdit', 'PMLogDetail'],
      uatRoute: ['DashboardUAT','DocumentUAT','documentformedit', 'mydocument'],
      timeout: null
    }
  },

  created () {
    window.addEventListener('resize', this.handleResize)
    this.handleResize()
    this.checkroute()
  },
  mounted () {
    this.isLoading = true
    EventBus.$on('swipe', this.test)
    EventBus.$on('searchDate', this.searchDate)
    this.getProfile()
    this.isLoading = false
    // console.log(this.tab, 'mounted')
  },
  watch: {
    $route (to, from) {
      this.checkroute()
    }
  },
  destroyed () {
    window.removeEventListener('resize', this.handleResize)
  },
  methods: {
    UatMenu (uat) {
      if (uat == 'Dashboard') {
        this.$router.push('DashboardUAT')
      } else if (uat == 'Uat') {
        this.$router.push('DocumentUAT')
      } else if (uat == 'Notification') {
        this.$router.push('DocumentNotification')
      } else if (uat == 'MyDocument'){
        this.$router.push('MyDocument')
      }
    },

    topMenu (fn) {
      if (fn == 'logout') {
        this.logout()
      } else if (fn == 'calendar') {
        window.open('https://teamup.com/ks3yzgm9fgsa7fd1p5')
      } else if (fn == 'pm') {
        this.$router.push('PMService')
      } else if (fn == 'aLogs') {
        this.$router.push('LogsAction')
      }
    },
    showMenueqirefalselose () {
      clearTimeout(this.timeout)
    },
    showMenueqirefalse () {
      clearTimeout(this.timeout)
      this.timeout = setTimeout(async () => {
        if (this.showMenu === true) {
          this.showMenu = false
        }
      }, 123)
    },
    async checkroute () {
      if (this.$route.hash && this.$route.hash != '#uat') {
        var xml = this.$route.hash.replace('#', '')
        xml.toLowerCase()
        this.$router.push('/' + xml)
      }
        await this.$nextTick();
      if (this.PMService.includes(this.$route.name)) {
        this.tab = 'Service'
      } else if (this.uatRoute.includes(this.$route.name)) {
        this.tab = 'uat'
      } else {
        this.tab = this.$route.name
      }
    //   console.log(this.$route.name, 'xxxxxxxxx')
    },

    searchDate (date) {
      this.date = date
    },
    isLoggedIn () {
      return isLoggedIn()
    },
    async getProfile () {
      const profile = await getProfile()
      this.loading = true
      this.profile = profile
    },
    handleResize () {
      this.window.width = window.innerWidth
      this.window.height = window.innerHeight
    },
    goto (path) {
      this.$router.push(path)
    },
    gotodetail (path) {
      this.$router.push('/summary')
    },
    gotosummary () {
      this.$router.push('/home')
      this.opened = true
    },
    test (path) {
      this.opened = path
    },
    async logout () {
      try {
        // navigator.clipboard.writeText(this.tab);
        // var accId = this.profile.account_id
        localStorage.clear()
        // TopSwal('ออกจากระบบสำเร็จ', 'success')
        this.$router.push('/')
      } catch (e) {
        localStorage.clear()
        // TopSwal('ออกจากระบบสำเร็จ', 'success')
        this.$router.push('/')
      }

      // TopSwal(this.tab, 'success')
    },
    gototeamup () {
      window.open('https://teamup.com/ks3yzgm9fgsa7fd1p5')
    },
    tablink (data) {
      this.$router.push(data)
    }
  }
}
</script>
<style>
.userprofile .v-btn__content{
    align-items: center;
    color: inherit;
    display: flex;
    flex: 1 0 auto;
    justify-content: inherit;
    line-height: normal;
    color: white;
    position: relative;
}
.theme--light.v-btn.v-btn--disabled {
    color: white !important;
}
.textbar {
  font-size: 16px !important;
  background-color: rgba(170, 219, 252, 0.09) !important;
}
.v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > td, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td {
    font-size: 0.875rem;
    height: 48px;
    border-bottom-width: 3px;
    border-bottom-color: rgba(0, 0, 0, 0.12);
}
swal2-shown swal2-height-auto {
  padding-left: 0px !important;
}
.pdl65 {
  padding-left: 35px;
}
.v-tabs-slider-wrapper {
  bottom: 10px !important;
  margin: 0 !important;
  position: absolute !important;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
  z-index: 1 !important;
}
.font-head {
  font-size: 27px;
}
.font-title {
  font-size: 22px;
}
.text-title {
  margin: auto;
  margin-bottom: 15px !important;
  margin-left: 10px;
}

.selectnavbar {
  background-color: var(--v-greeninet-base) !important;
  color: var(--v-greeninet-base) !important;
}

.font-sub {
  font-size: 20px;
}

.center-mini {
  justify-content: center !important;
}

.avatar-size-mini {
  transition: all 0.2s;
}
.avatar-shadow {
  -moz-box-shadow: 0px 6px 5px var(--v-avatar_shawdow-base);
  -webkit-box-shadow: 0px 6px 5px var(--v-avatar_shawdow-base);
  box-shadow: 0px 6px 5px var(--v-avatar_shawdow-base);
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
}
.avatar-size {
  transition: all 0.2s;
  width: 100px !important;
  height: 100px !important;
  min-width: 100px !important;
}
.v-list-item--link:before {
    background-color: #00bbff !important;
}
.v-list-item:hover:before {
    opacity: .07 !important;
}
@media only screen and (max-width: 900px) {
  .imgbar {
    height: 60px;
    max-width: 100%;
  }
  .img {
    max-width: 4% !important;
    flex: 0;
  }
  .date {
    max-width: 9% !important;
    flex: 0;
    padding-left: 4% !important;
  }
  .text-title {
    display: none;
  }
  .btn-detail {
    max-width: 9% !important;
    flex: 0;
    padding-left: 2% !important;
  }
  .v-toolbar__title {
    font-size: 8px;
  }
}
.v-application--is-ltr .v-list-item__action:last-of-type:not(:only-child),
.v-application--is-ltr .v-list-item__avatar:last-of-type:not(:only-child),
.v-application--is-ltr .v-list-item__icon:last-of-type:not(:only-child) {
  margin-left: 0px;
}
</style>
