<template>
  <div>
      <loading
          :active.sync="isLoading"
          loader="spinner"
          color='Lightgreen'
          :is-full-page="fullPage">
      </loading>
  </div>
</template>
<script>
// Import component
import Loading from 'vue-loading-overlay'
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css'
export default {
  props: ['isLoadingCheck'],
  components: {
    Loading
  },
  data () {
    return {
      fullPage: true
    }
  },
  computed: {
    isLoading () {
      return this.isLoadingCheck
    }
  }
}
</script>
