<template>
  <div class="limiter">
    <v-row :style="`min-height: ${window.height}px`">
      <v-col
        cols="6"
        lg="6"
        sm="12"
        md="6"
        style="background-color: white; display: flex; align-items: center"
      >
        <v-img
          max-height="80px"
          max-width="100%"
          @click="goto('/')"
          class="imgbar"
          contain
          src="@/assets/images/logomnsp.jpg"
        />
      </v-col>
      <v-col
        cols="6"
        lg="6"
        sm="12"
        md="6"
        style="background-color: #174a67; display: flex; padding-left: 0px"
      >
        <v-row>
          <v-col
            style="justify-content: center; align-items: center; display: flex"
          >
            <v-card style="border-radius: 40px" class="cardmar" width="65%">
              <v-container style="padding: 20px">
                <v-form class="form-card" ref="form" v-model="valid">
                  <div
                    style="font-size: 30px; font-weight: 600; color: #174a67"
                  >
                    Welcome
                  </div>
                  <div style="color: #a4a4a4">Sign in to your account</div>
                  <div style="margin-top: 30px">Username</div>
                  <v-text-field
                    outlined
                    v-model="user.username"
                    :rules="usernameRules"
                    dense
                    @keyup.enter="getLogin(user)"
                    color="info"
                    prepend-inner-icon="mdi-account"
                    placeholder="Username"
                  ></v-text-field>
                  <div>Password</div>
                  <v-text-field
                    outlined
                    v-model="user.password"
                    :rules="passwordRules"
                    dense
                    color="info"
                    prepend-inner-icon="mdi-lock"
                    :append-icon="value ? 'mdi-eye' : 'mdi-eye'"
                    @keyup.enter="getLogin(user)"
                    @click:append="() => (value = !value)"
                    :type="value ? 'password' : 'text'"
                    placeholder="Password"
                  ></v-text-field>
                  <v-row>
                    <v-col
                      cols="6"
                      style="padding-bottom: 0px; font-size: 14px"
                    >
                      <v-checkbox
                        v-model="checkboxpm"
                        label="Remember Me"
                        color="info"
                        class="checkfont"
                        style="
                          margin-top: 0px;
                          padding-top: 0px;
                          padding-left: 0px;
                        "
                      ></v-checkbox>
                    </v-col>
                    <v-col cols="6" style="display: flex; justify-content: end">
                      <a style="font-size: 14px" @click="golink()"
                        >Forget Password</a
                      >
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <div>
                        <div class="login_btn" @click="getLogin(user)">
                          {{ loginloading ? "" : "Login" }}
                          <div>
                            <img
                              :class="[
                                loginloading === true
                                  ? 'loading_img'
                                  : 'loading_img2',
                              ]"
                              src="@/assets/images/loading.gif"
                              alt="lo"
                            />
                          </div>
                        </div>
                      </div>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col> </v-col>
                  </v-row>
                </v-form>
              </v-container>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { setAuthToken, isSuperUser } from "@/utils/auth";
import { setProfile } from "@/utils/profile";
import { getLogin } from "@/api/login";
import swal from "sweetalert2";

export default {
  data() {
    return {
      checkboxpm: true,
      window: {
        width: 0,
        height: 0,
      },
      username: "",
      usernameRules: [
        (v) => !!v || "Username is required",
        // v => (v && v.length >= 6) || 'Username must be more than 6 characters'
      ],
      passwordRules: [
        (v) => !!v || "Password is required",
        // v => (v && v.length >= 8) || 'Password must be more than 8 characters'
      ],
      password: "",
      user: {},
      valid: true,
      value: String,
      loginloading: false,
    };
  },
  created() {
    this.checkextoken();
    this.checkScreen();
    this.handleResize();
    window.addEventListener("resize", this.handleResize);
  },
  methods: {
    handleResize() {
      this.window.width = window.innerWidth;
      this.window.height = window.innerHeight;
      // console.log(this.window.height, "height");
    },
    goto(path) {
      this.$router.push(path);
    },
    golink(){
      window.open('https://one.th/type_forgot_password')
    },
    signin(path) {
      // this.$refs.form.submit()
      this.$router.push(path);
    },
    async getLogin(user) {
      this.loginloading = true;
      try {
        const res = await getLogin(user);
        setProfile(res);
        setAuthToken(res.access_token, res.one_token);
        this.$router.push("/dashboard");
        this.loginloading = false;
      } catch (error) {
        this.loginloading = false;
        swal.fire({
          confirmButtonColor: "#325869",
          icon: "info",
          title: error.response.data.message,
        });
        // TopSwal(error.response.data.message, "error");
      }
    },
    checkextoken() {
      var tokens = this.$route.query.errortoken;
      if (tokens === "extoken") {
        swal
          .fire({
            title: "คำเตือน",
            text: "สิทธิ์ในการเข้าสู่ระบบของท่านหมดอายุ กรุณาเข้าสู่ระบบใหม่",
            icon: "warning",
            showCancelButton: false,
            confirmButtonText: "รับทราบ",
            allowOutsideClick: false,
          })
          .then((result) => {
            if (result.isConfirmed) {
              this.$router.push("/");
            }
          });
      }
    },
    checkScreen() {
      var token = localStorage.getItem("access_token");
      if (token == null) {
        this.$router.push("/");
      } else {
        if (true) {
          this.$router.push("/dashboard");
        } else if (isSuperUser()) {
          this.$router.push("/dashboard");
        } else {
          this.$router.push("/timesheet");
        }
      }
    },
  },
};
</script>

<style scoped>
.cardmar {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.checkfont .v-label {
  font-size: 14px !important;
  line-height: 1;
  min-height: 8px;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

img.loading_img {
  display: unset;
  width: 26px;
  margin-left: 10px;
}
img.loading_img2 {
  display: none;
  width: 26px;
  margin-left: 10px;
}
.limiter {
  background-color: var(--v-text_login-base);
  width: 100%;
  margin: 0 auto;
}
.login_btn {
  background-color: #174a67 !important;
  height: 42px;
  align-items: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: white;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.signin {
  padding: 20px;
}
.imgbar {
  cursor: pointer;
  margin: 15px;
}
.form-card {
  padding: 20px;
  border-radius: 5px;
}
</style>
