<template>
  <div>
    <Loading :isLoadingCheck="isLoading"></Loading>
    <v-row style="padding-top: 0">
      <v-col class="my-2 mx-10">
        <v-row>
          <v-col cols="10">
            <v-row>
              <p class="title__font text-left">
                6.2 ผลการขึ้นระบบและทดสอบสำหรับให้บริการ Service : Virtual Firewall Sophos 1 Core
              </p>
            </v-row>
          </v-col>
          <v-col cols="2">
            <v-row style="display: flex; justify-content: end;">
              <v-btn outlined color="#174A67"> Preview </v-btn>
            </v-row>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="6" class="mx-3">
            <p class="title__font text-left">6.2.1 Firewall Hardware Specification Detail</p>
            <v-text-field
              single-line
              :rules="[(v) => !!v || 'Firewall Hardware Specification Detail is required']"
              outlined
              label="Firewall Hardware Specification Detail"
            ></v-text-field>

            <v-btn
              color="primary"
              rounded
              dark
              :loading="isSelecting"
              @click="handleFileImport"
            >
              Insert Image
            </v-btn>
            <input
              ref="uploader"
              class="d-none"
              type="file"
              @change="onFileChanged"
            />
          </v-col>
          <v-col cols="6"></v-col>
        </v-row>

        <v-row>
          <v-col cols="6" class="mx-3">
            
              <p class="title__font text-left">
                6.2.2 Virtual Firewall Throughput
              </p>
          
          </v-col>
          <v-col cols="6"></v-col>
        </v-row>

        <v-row>
          <v-col cols="6" class="mx-3">
            <v-btn
              color="primary"
              rounded
              dark
              :loading="isSelecting"
              @click="handleFileImport"
            >
              Insert Image
            </v-btn>
            <input
              ref="uploader"
              class="d-none"
              type="file"
              @change="onFileChanged"
            />
            <p class="title__font text-left">
              6.1.3 Test Connect to Cloud Server
            </p>
            <v-text-field
              single-line
              :rules="[(v) => !!v || 'Test ping to server IP is required']"
              outlined
              label="Test ping to server IP"
            ></v-text-field>

            <v-btn
              color="primary"
              rounded
              dark
              :loading="isSelecting"
              @click="handleFileImport"
            >
              Insert Image
            </v-btn>
            <input
              ref="uploader"
              class="d-none"
              type="file"
              @change="onFileChanged"
            />

            <v-text-field
              single-line
              :rules="[(v) => !!v || 'Test ping to server IP is required']"
              outlined
              label="Test ping to server IP"
            ></v-text-field>

            <v-btn
              color="primary"
              rounded
              dark
              :loading="isSelecting"
              @click="handleFileImport"
            >
              Insert Image
            </v-btn>
            <input
              ref="uploader"
              class="d-none"
              type="file"
              @change="onFileChanged"
            />
          </v-col>
          <v-col cols="6"></v-col>
        </v-row>

        <v-row>
          <v-col cols="12">
            <v-row>
              <p class="title__font text-left">
                6.1.4 Snapshot Backup (Cloud Commercial)
              </p>
            </v-row>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6" class="mx-3">
            <v-text-field
              single-line
              :rules="[(v) => !!v || 'Backup Detail is required']"
              outlined
              label="Backup Detail"
            ></v-text-field>

            <v-btn
              color="primary"
              rounded
              dark
              :loading="isSelecting"
              @click="handleFileImport"
            >
              Insert Image
            </v-btn>
            <input
              ref="uploader"
              class="d-none"
              type="file"
              @change="onFileChanged"
            />
          </v-col>
          <v-col cols="6"></v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import Loading from "@/components/commons/Loading/Loading";
import { EventBus } from "@/utils/EventBus";
export default {
  components: {
    Loading,
  },
  data() {
    return {
      isSelecting: false,
      selectedFile: null,

      pagelist: [
        5,
        10,
        15,
        {
          value: Number.MAX_SAFE_INTEGER,
          text: "all",
        },
      ],
      tab: null,
      items: ["PM Service", "Non-PM Service"],
      page: 1,
      itemsPerPage: 10,
      pageTextField: 1,
      pageCount: 0,
      search: "",
      mockdata1: [
        {
          no: "1",
          document_id: "D02-000151",
          document_name: "Cloud(Nutanix) + xxxxxxxxx",
          user_request: "น้ำค้าง เย็นเยือก",
          mail: "nam1234@inet.com",
          request_date: "06/08/2021 12:30:01",
          open: "",
        },
      ],
      headerTeamAvailable: [
        {
          text: "No",
          value: "no",
          sortable: false,
          class: "header__other text-center",
          align: "center",
        },
        {
          text: "Document ID",
          value: "document_id",
          sortable: false,
          class: "header__other text-center",
          align: "center",
        },
        {
          text: "Document Name",
          value: "document_name",
          sortable: false,
          class: "header__other text-center",
          align: "center",
        },
        {
          text: "User Request",
          value: "user_request",
          class: "header__other text-center",
          sortable: false,
          align: "center",
        },
        {
          text: "Zimbra Mail",
          value: "mail",
          class: "header__other text-center",
          sortable: false,
          align: "center",
        },
        {
          text: "Request Date",
          value: "request_date",
          class: "header__other text-center",
          sortable: false,
          align: "center",
        },
        {
          text: "",
          value: "open",
          class: "header__other text-center",
          sortable: false,
          align: "center",
        },
      ],
      desserts: [],
      itemSummary: null,
      isLoading: false,
      menu: false,
      date: new Date().toISOString().substr(0, 7),
    };
  },
  computed: {
    numberOfPages() {
      return Math.ceil(this.desserts.length / this.itemsPerPage);
    },
    startRowPerPages() {
      return Math.ceil((this.page - 1) * this.itemsPerPage) + 1;
    },
    endRowPerPages() {
      return Math.ceil(this.itemsPerPage * this.page) > this.desserts.length
        ? this.desserts.length
        : Math.ceil(this.itemsPerPage * this.page);
    },
  },
  created() {},
  mounted() {
    EventBus.$on("searchDocNot", this.searchDocNot);
  },
  methods: {
    handleFileImport() {
      this.isSelecting = true;

      window.addEventListener(
        "focus",
        () => {
          this.isSelecting = false;
        },
        { once: true }
      );

      this.$refs.uploader.click();
    },
    onFileChanged(e) {
      this.selectedFile = e.target.files[0];
    },
    btnlink(data) {
      this.$router.push(data);
    },
    checkpage() {
      this.pageTextField =
        this.pageTextField > 0 || !this.pageTextField ? this.pageTextField : 1;
      this.pageTextField =
        this.pageTextField <= this.pageCount || !this.pageTextField
          ? this.pageTextField
          : this.pageCount;
      if (this.pageTextField) {
        this.page = this.pageTextField;
      }
    },
    searchDocNot(data) {
      this.search = data;
    },
  },
};
</script>
<style>
.text-start {
  padding-right: 0px !important;
}
.v-pagination__navigation {
  box-shadow: none !important;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 32px;
  width: 32px;
  margin: 0.3rem 10px;
}
.v-pagination__item {
  background: transparent;
  border-radius: 10px;
  font-size: 1rem;
  height: 34px;
  margin: 0.3rem;
  min-width: 34px;
  padding: 0 5px;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  width: auto;
  box-shadow: none !important;
}
.theme--light.v-pagination .v-pagination__item {
  background: #ffffff !important;
  color: rgba(23, 74, 103, 0.87);
}
.theme--light.v-pagination .v-pagination__item--active {
  color: #ffffff !important;
}
.slcsv .v-input__slot {
  width: min-content !important;
  border-radius: 10px !important;
}
.txb .v-input__slot {
  border-radius: 10px;
  max-width: 60px;
}
td {
  border: 1px solid #f1f2f6;
}
th {
  border: 1px solid #f1f2f6;
}

.row__padding {
  padding: 24px;
}

.header__other {
  background-color: #5589bb !important;
  color: #ffffff !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.rowbg {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
}

.title__font {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #0f75bd;
}
.title__margin {
  margin-bottom: 10px;
}

.body__font tr td {
  font-size: 18px !important;
}
.fontrowtable {
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  color: #174a67;
}
@media screen and (max-width: 600px) {
  .row__padding {
    padding: unset !important;
  }
}
.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #fff;
  color: #174a67;
  font-size: 1em;
  border: thin solid currentColor;
}
</style>
