<template>
  <div>
    <Loading :isLoadingCheck="isLoading"></Loading>
    <v-row style="padding-top: 0">
      <v-col class="my-2 mx-10">
        <v-row>
          <v-col cols="10">
            <v-row>
              <p class="title__font text-left">1. company logo</p>
              <div class="text-decoration-underline ml-5 text_link">
                Click to see a sample image.
              </div>
            </v-row>
          </v-col>

          <v-col cols="2">
            <v-row style="display: flex; justify-content: end;">
              <v-btn outlined color="#174A67"> Preview </v-btn>
            </v-row>
          </v-col>
        </v-row>
        
        <v-row>
          <v-col cols="6" class="mx-3">
            <v-row>
              <v-btn
                color="primary"
                rounded
                dark
                :loading="isSelecting"
                @click="handleFileImport"
              >
                Insert Image
              </v-btn>
              <input
                ref="uploader"
                class="d-none"
                type="file"
                @change="onFileChanged"
              />
            </v-row>
          </v-col>

          <v-col cols="6"></v-col>
        </v-row>

        <v-row>
          <v-col cols="12">
            <v-row>
              <p class="title__font text-left">2. แผนการดำเนินงาน</p>
              <div class="text-decoration-underline ml-5 text_link">
                Click to see a sample image.
              </div>
            </v-row>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6" class="mx-3">
            <v-row>
              <v-btn
                color="primary"
                rounded
                dark
                :loading="isSelecting"
                @click="handleFileImport"
              >
                Insert Image
              </v-btn>
              <input
                ref="uploader"
                class="d-none"
                type="file"
                @change="onFileChanged"
              />
            </v-row>
          </v-col>

          <v-col cols="6"></v-col>
        </v-row>

        <v-row>
          <v-col cols="12">
            <v-row>
              <p class="title__font text-left">3. Diagram</p>
              <div class="text-decoration-underline ml-5 text_link">
                Click to see a sample image.
              </div>
            </v-row>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6" class="mx-3">
            <v-row>
              <v-btn
                color="primary"
                rounded
                dark
                :loading="isSelecting"
                @click="handleFileImport"
              >
                Insert Image
              </v-btn>
              <input
                ref="uploader"
                class="d-none"
                type="file"
                @change="onFileChanged"
              />
            </v-row>
          </v-col>
          <v-col cols="6"></v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import Loading from "@/components/commons/Loading/Loading";
import { EventBus } from "@/utils/EventBus";
export default {
  components: {
    Loading,
  },
  data() {
    return {
      isSelecting: false,
      selectedFile: null,
      pagelist: [
        5,
        10,
        15,
        {
          value: Number.MAX_SAFE_INTEGER,
          text: "all",
        },
      ],
      tab: null,
      page: 1,
      itemsPerPage: 10,
      pageTextField: 1,
      pageCount: 0,
      search: "",
      mockdata1: [
        {
          no: "1",
          document_id: "D02-000151",
          document_name: "Cloud(Nutanix) + xxxxxxxxx",
          related_team: "Cloud/abc",
          status: "",
          date: "06/08/2021",
          open: "",
        },
      ],
      headerTeamAvailable: [
        {
          text: "No",
          value: "no",
          sortable: false,
          class: "header__other text-center",
          align: "center",
        },
        {
          text: "Document ID",
          value: "document_id",
          sortable: false,
          class: "header__other text-center",
          align: "center",
        },
        {
          text: "Document Name",
          value: "document_name",
          sortable: false,
          class: "header__other text-center",
          align: "center",
        },
        {
          text: "Related Team",
          value: "related_team",
          sortable: false,
          class: "header__other text-center",
          align: "center",
        },
        {
          text: "Status",
          value: "status",
          class: "header__other text-center",
          sortable: false,
          align: "center",
        },
        {
          text: "Date",
          value: "date",
          class: "header__other text-center",
          sortable: false,
          align: "center",
        },
        {
          text: "",
          value: "open",
          class: "header__other text-center",
          sortable: false,
          align: "center",
        },
      ],
      desserts: [],
      itemSummary: null,
      isLoading: false,
      menu: false,
      date: new Date().toISOString().substr(0, 7),
    };
  },
  computed: {},
  created() {},
  mounted() {
    EventBus.$on("searchDocNot", this.searchDocNot);
  },
  methods: {
    handleFileImport() {
      this.isSelecting = true;

      window.addEventListener(
        "focus",
        () => {
          this.isSelecting = false;
        },
        { once: true }
      );

      this.$refs.uploader.click();
    },
    onFileChanged(e) {
      this.selectedFile = e.target.files[0];
    },

    btnlink(data) {
      this.$router.push(data);
    },
    checkpage() {
      this.pageTextField =
        this.pageTextField > 0 || !this.pageTextField ? this.pageTextField : 1;
      this.pageTextField =
        this.pageTextField <= this.pageCount || !this.pageTextField
          ? this.pageTextField
          : this.pageCount;
      if (this.pageTextField) {
        this.page = this.pageTextField;
      }
    },
    searchDocNot(data) {
      this.search = data;
    },
  },
};
</script>
<style>
.text_link {
  font-style: normal;
  font-weight: 500 !important;
  font-size: 12px;
  line-height: 22px;
  color: #0f75bd !important;
}

.row__padding {
  padding: 24px;
}

.header__other {
  background-color: #5589bb !important;
  color: #ffffff !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}

.rowbg {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
}

.title__font {
  font-style: normal;
  font-weight: 500 !important;
  font-size: 18px;
  line-height: 22px;
  color: #333333 !important;
}

.title__margin {
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .row__padding {
    padding: unset !important;
  }
}
.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #fff;
  color: #174a67;
  font-size: 1em;
  border: thin solid currentColor;
}
</style>
