<template>
  <v-row justify="center">
    <v-dialog persistent v-model="dialog2" max-width="1350px">
      <v-card style="background-color: #f5f5f5">
        <v-container fluid style="padding: 30px">
          <v-row style="justify-content: end">
            <div>
                <v-btn
                icon
                color="#8f938e"
                class="mr-3"
              >
              <feather
                @click="dialog2 = false"
                style="color: #333333"
                type="x"
                size="27"
                stroke-width="2"
              ></feather>
              </v-btn>
            </div>
          </v-row>
          <v-row class="mt-2 align-center text-center row__padding rowbgpm">
            <v-col md="12" sm="12">
              <v-data-table
                :headers="headerTeamAvailable"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                @page-count="pageCount = $event"
                :items="desserts"
                style="white-space: nowrap"
                height="500"
                item-key="_id"
                :search="search"
                hide-default-footer
              >
                <template v-slot:[`item.s_date`]="{ item }">
                  <v-row style="margin-right: 0px" justify="center">
                    <v-btn
                      class="mt-2 mb-2"
                      large
                      outlined
                      color="#58A144"
                      height="40"
                      style="text-transform: capitalize; width: 40%"
                      dark
                      @click="SaveLog(item.pm_id)"
                      >submit</v-btn
                    >
                  </v-row>
                </template>
              </v-data-table>
              <v-row>
          <v-col
            cols="12"
            class="hidden-lg-only hidden-xl-only pb-0 pt-0"
            style="display: flex; align-items: center; justify-content: center"
          >
            <v-pagination
              v-model="page"
              :length="pageCount"
              color="#174A67"
              :total-visible="7"
            ></v-pagination>
          </v-col>
          <v-col cols="4" class="d-md-none d-lg-flex hidden-md-only hidden-sm-and-down pb-0 pt-0">
            <v-row>
              <v-col
                cols="12"
                style="padding-top: 50px; !important"
                class="text-start fontrowtable hidden-sm-and-down"
              >
                Showing {{ startRowPerPages || 1 }} to {{ endRowPerPages }} of
                {{ desserts.length }} entries
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="8" class="d-md-none d-lg-flex hidden-md-only hidden-sm-and-down pb-0 pt-0">
            <v-row>
              <v-col
                cols="3"
                style="display: flex; align-items: center"
                class="hidden-sm-and-down"
              >
                <v-row>
                  <v-col
                    cols="9"
                    class="fontrowtable"
                    style="padding-top:38px; !important;"
                    >Row per page :</v-col
                  >
                  <v-col cols="3" class="px-0 py-0">
                    <v-select
                      solo
                      flat
                      style="padding-top: 26px"
                      :items="pagelist"
                      outlined
                      dense
                      :value="itemsPerPage"
                      type="number"
                      class="slcsv"
                      @input="itemsPerPage = parseInt($event, 10)"
                    ></v-select>
                  </v-col>
                </v-row>
              </v-col>
              <v-col
                cols="6"
                style="display: flex; align-items: center; justify-content: end"
              >
                <v-pagination
                  v-model="page"
                  :length="pageCount"
                  color="#174A67"
                  :total-visible="7"
                ></v-pagination>
              </v-col>
              <v-col
                cols="3"
                style="display: flex; align-items: center"
                class="hidden-sm-and-down"
              >
                <v-row>
                  <v-col
                    md="8"
                    class="fontrowtable"
                    style="padding-top: 35px; !important;display: flex;justify-content: end;"
                    >Go to page :</v-col
                  >
                  <v-col md="4" class="px-0 py-0">
                    <v-text-field
                          solo
                          flat
                          v-model.number="pageTextField"
                          @input="checkpage()"
                          min="1"
                          outlined
                          dense
                          :max="pageCount"
                          style="padding-top: 23px"
                          class="txb"
                          type="number"
                        ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import swal from 'sweetalert2'
import { EventBus } from '@/utils/EventBus'
import Loading from '@/components/commons/Loading/Loading'
import moment from 'moment'
import { getPM, userAPv } from '@/api/pm'
export default {
  components: {
    Loading
  },
  data () {
    return {
      pagelist: [5, 10, 15, {
        value: Number.MAX_SAFE_INTEGER,
        text: "all"
      }],
      dialog2: false,
      page: 1,
      itemsPerPage: 5,
      pageTextField: 1,
      pageCount: 0,
      search: '',
      headerTeamAvailable: [
        {
          text: 'No.',
          align: 'center',
          sortable: false,
          value: 'pm_id',
          width: '5%',
          class: 'header__other text-center'
        },
        {
          text: 'PM Name',
          align: 'center',
          value: 'pm_name',
          class: 'header__other text-center',
          sortable: false
        },
        {
          text: 'PM Nickname',
          align: 'center',
          value: 'pm_nickname',
          width: '10%',
          class: 'header__other text-center',
          sortable: false
        },
        {
          text: 'Email (INET)',
          align: 'center',
          value: 'pm_email',
          class: 'header__other text-center',
          sortable: false
        },
        {
          text: '',
          value: 's_date',
          class: 'header__other text-center',
          sortable: false,
          align: 'center',
          width: '10%'
        }
      ],
      desserts: [
        {
          no: 1,
          user_name: 'กาญจนา ดวงต๋า',
          nick_name: 'ออม',
          email: 'abcde@one.th'
        },
        {
          no: 2,
          user_name: 'กิตติชัย อุตม์สุรินทร์',
          nick_name: 'อัพ',
          email: 'abcde@one.th'
        },
        {
          no: 2,
          user_name: 'ชมพูนุท เตียนมีผล',
          nick_name: 'มีน',
          email: 'abcde@one.th'
        },
        {
          no: 4,
          user_name: 'ฐานิตา ธิช่างทอง',
          nick_name: 'ขิม',
          email: 'abcde@one.th'
        },
        {
          no: 5,
          user_name: 'ณัฏฐ์ สุวัฒนโฆสานุวัตร',
          nick_name: 'นัท',
          email: 'abcde@one.th'
        },
        {
          no: 6,
          user_name: 'ธนสาร ผิวบาง',
          nick_name: 'ต้น',
          email: 'abcde@one.th'
        },
        {
          no: 7,
          user_name: 'วิภาวี บุญญา',
          nick_name: 'มิกกี้',
          email: 'abcde@one.th'
        },
        {
          no: 8,
          user_name: 'ชมพูนุท เตียนมีผล',
          nick_name: 'มีน',
          email: 'abcde@one.th'
        }
      ],
      itemSummary: null,
      isLoading: false,
      selectservice: 'All service',
      itemsservice: [
        'All service',
        'PM Service',
        'MNSP Service',
        'BCP Service',
        'Report Service'
      ],
      menu: false,
      // date: new Date().toISOString().substr(0, 7)
      date: null,
      user_id: ''
    }
  },
  computed: {
    numberOfPages () {
      return Math.ceil(this.desserts.length / this.itemsPerPage)
    },
    startRowPerPages () {
      return Math.ceil((this.page - 1) * this.itemsPerPage) + 1
    },
    endRowPerPages () {
      return Math.ceil(this.itemsPerPage * this.page) > this.desserts.length
        ? this.desserts.length
        : Math.ceil(this.itemsPerPage * this.page)
    },
    computedDateFormattedMomentjs () {
      return this.date ? moment(this.date).format('MMMM YYYY') : ''
    }
  },
  created () {
    this.getPM()
  },
  mounted () {
    EventBus.$on('dataTablenonpmservice', this.detailPM)
  },
  methods: {
    checkpage () {
      this.pageTextField = this.pageTextField > 0 || !this.pageTextField ? this.pageTextField : 1
      this.pageTextField = this.pageTextField <= this.pageCount || !this.pageTextField ? this.pageTextField : this.pageCount
      if (this.pageTextField) { this.page = this.pageTextField }
    },
    async SaveLog (pmid) {
      try {
        //   console.log("%s ====== %s",empID,this.user_id)
        await userAPv(this.user_id, pmid)
        swal.fire({
          position: 'center',
          icon: 'success',
          title: 'Success',
          showConfirmButton: false,
          timer: 1500
        })
        this.dialog2 = false
        EventBus.$emit('reloaddatatablenonpmservice')
      } catch (error) {
        console.log(error)
      }
    },
    detailPM (massage) {
      this.user_id = massage
      this.dialog2 = true
    },
    openModalAddCustomer () {
      EventBus.$emit('openModalAddCustomer')
    },
    seemore (cus_id) {
      const routeData = this.$router.resolve({
        name: 'PMServiceDetail',
        query: { data: cus_id }
      })
      window.open(routeData.href, '_blank')
    },
    async getPM () {
      this.isLoading = true
      const data = await getPM()
      this.desserts = data
      this.isLoading = false
    },
    checkcolor (data) {
      var xml =
        'font-style: normal;font-weight: normal;font-size: 14px;line-height: 24px;'
      if (data === 'Terminate') {
        xml += 'color: #F03D3E;'
      } else if (data === 'Complete') {
        xml += 'color: #58A144;'
      } else if (data === 'In Progress') {
        xml += 'color: #FCC419;'
      } else {
        xml += 'color: #333333;'
      }
      return xml
    }
  }
}
</script>

<style>
.v-pagination__navigation {
  box-shadow: none !important;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 32px;
  width: 32px;
  margin: 0.3rem 10px;
}
.v-pagination__item {
  background: transparent;
  border-radius: 10px;
  font-size: 1rem;
  height: 34px;
  margin: 0.3rem;
  min-width: 34px;
  padding: 0 5px;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  width: auto;
  box-shadow: none !important;
}
.theme--light.v-pagination .v-pagination__item {
  background: #ffffff;
  color: rgba(23, 74, 103, 0.87);
}
.theme--light.v-pagination .v-pagination__item--active {
  color: #ffffff;
}
.slcsv .v-input__slot {
  width: min-content !important;
  border-radius: 10px !important;
}
.txb .v-input__slot {
  border-radius: 10px;
  max-width: 60px;
}
td {
  border: 1px solid #f1f2f6;
}
th {
  border: 1px solid #f1f2f6;
}

.font-head {
  font-size: 22px;
}
.font-sub {
  font-size: 18px;
}
.v-breadcrumbs__item {
  font-size: 25px !important;
  color: var(--v-text_darkgray-base) !important;
}
.row__padding {
  padding: 24px;
}
.header__first {
  background: linear-gradient(
      180deg,
      var(--v-table_header_first_bg-base) 85%,
      var(--v-table_header_other_bg-base) 15%
    )
    no-repeat !important;
  color: var(--v-table_header_first_text-base) !important;
  white-space: nowrap;
  font-size: 18px !important;
}
.header__other {
  background-color: #5589bb !important;
  color: #ffffff !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.rowbgpm {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  padding-bottom: 0px !important;
}
.title__topse {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #174a67 !important;
  margin-left: 9px;
}
.title__font {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #0f75bd;
}
.fontrowtable {
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  color: #174a67;
}
.title__margin {
  margin-bottom: 10px;
}
.grandtotal__color {
  background-color: var(--v-row_highlight_bg-base);
  font-weight: bold;
}
.body__font tr td {
  font-size: 18px !important;
}
@media screen and (max-width: 600px) {
  .row__padding {
    padding: unset !important;
  }
}
</style>

<style scoped>
a:hover {
  text-decoration: underline;
  text-underline-position: under;
}
tbody:hover {
  background-color: #eeeeee !important;
}
tbody tr:last-child td {
  /* border-bottom: thin solid rgba(0, 0, 0, 0.12) !important; */
  border-bottom-width: 3px;
}
</style>
