<template>
  <div style="background-color: #e5e5e5">
    <v-main>
      <v-container fluid style="padding: 30px">
        <v-row class="align-center text-center">
          <v-col
            cols="6"
            sm="8"
            xs="12"
            md="4"
            lg="7"
            style="padding-top: 0; padding-bottom: 0"
          >
            <Loading :isLoadingCheck="isLoading"></Loading>
            <div class="text-left title__margin">
              <p class="title__top pl-2">Dashboard</p>
            </div>
          </v-col>
        </v-row>
        <v-spacer></v-spacer>
        <v-row>
          <v-col md="5" sm="5" style="padding-bottom: 0px"> </v-col>
          <v-col
            md="7"
            sm="7"
            class="text-end"
            style="padding-top: 4px; padding-bottom: 0px"
          >
            <v-badge
            v-if="profile.pm_id || profile.user_id === '000'"
              bordered
              color="error"
              :value="badgenum"
              :content="badgenum"
              overlap
              >
              <v-btn
                class="ma-2"
                color="#0F75BD"
                height="40"
                style="text-transform: capitalize"
                dark
               @click="btnlink('assignment')"
              >
              <feather
                style="color: white"
                type="plus-circle"
                size="26"
                stroke-width="1"
                class="mr-2"
              ></feather>
                Assign Job
              </v-btn>
            </v-badge>
            <v-btn
              @click="Exportpdf()"
              class="ma-2"
              outlined
              color="#0F75BD"
              height="40"
              style="background-color: #ffffff; text-transform: capitalize"
            >
              <v-icon left>mdi-export-variant</v-icon>Export
            </v-btn>
          </v-col>
        </v-row>
        <v-row class="align-center text-center row__padding rowbg">
          <v-col cols="8" lg="8" md="7" sm="12">
            <div class="text-left title__margin">
              <p class="title__font">All Service</p>
            </div>
            <v-simple-table
              :dense="dense"
              :fixed-header="fixedHeader"
              height="430px"
            >
              <thead>
                <tr>
                  <th
                    v-for="(item, i) in headerTeamStatus"
                    :key="item"
                    class="header__other text-center"
                  >
                    {{ item }}
                  </th>
                </tr>
              </thead>
              <tbody class="body__font">
                <tr v-for="(item, i) in itemSummary" :key="item._id" :style="item.pm_name === 'Inactive PM' ? 'background-color: #cacaca;' : ''">
                  <td width="30%">{{ item.pm_name }}</td>
                  <td>{{ findservices(i, "all_pm") }}</td>
                  <td>{{ findservices(i, "pm") }}</td>
                  <td>{{ findservices(i, "mnsp") }}</td>
                  <td>{{ findservices(i, "bcp") }}</td>
                  <td>{{ findservices(i, "report") }}</td>
                  <td>{{ findservices(i, "cri") }}</td>
                  <td width="20%" >
                    <v-row>
                      <v-col sm="9" style="padding-right: 0px">
                        <v-progress-linear
                          :value="
                            ((item.total / itemSummarymaxvalue) * 100).toFixed(
                              3
                            )
                          "
                          color="#0F75BD"
                          height="20"
                          background-color="#E0E0E0"
                          style="border-radius: 25px"
                        >
                          <strong></strong>
                        </v-progress-linear>
                      </v-col>
                      <v-col
                        sm="3"
                        style="padding-left: 0px; padding-top: 9px"
                        >{{ item.total }}</v-col
                      >
                    </v-row>
                  </td>
                </tr>
              </tbody>
            </v-simple-table>
          </v-col>
          <v-col cols="4" lg="4" md="5" sm="12" class="d-flex justify-sm-center">
            <apexchart
              class="mt-5"
              width="460px"
              height="450px"
              type="donut"
              :options="chartOptions"
              :series="chartOptions.series"
            ></apexchart>
          </v-col>
        </v-row>

        <v-row class="mt-8 align-center text-center row__padding rowbg">
          <v-col cols="12">
            <div class="text-left title__margin">
              <p class="title__font">PM Service</p>
            </div>
          </v-col>
          <v-col cols="12">
            <v-row>
              <v-col
                v-for="(item, index) in summarypm"
                :key="index"

                @click="dataPMService(item)"
                >
                  <v-card
                    :style="`background-color:${
                    index === 0 ? '#174A67' : ''
                    };color:${index === 0 ? '#ffffff' : item.color};`"
                    :class="`${index === 0 ? 'pmservicecardS' : 'pmservicecard'}`"
                    >
                      <div
                        style="
                          font-weight: 600 !important;
                           font-size: 18px !important;
                        "
                      >
                        {{ item.name }}
                      </div>
                      <div
                        class="mt-1"
                        style="font-size: 1.6em; font-weight: 600"
                      >
                        {{ item.value }}
                      </div>
                  </v-card>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12">
            <v-simple-table
              :dense="dense"
              :fixed-header="fixedHeader"
              height="400px"
            >
              <thead>
                <tr>
                  <th
                    v-for="(item, i) in headerTeamAvailable"
                    :key="item"
                    class="header__other text-center"
                  >
                    {{ item }}
                  </th>
                </tr>
              </thead>
              <tbody class="body__font">
                <tr v-for="(item, i) in pmservices" :key="item._id">
                  <td width="20%">{{ item.pm_name }}</td>
                  <td width="8%">{{ findsostatus(i, "complete") }}</td>
                  <td width="8%">{{ findsostatus(i, "in_progress") }}</td>
                  <td width="8%">{{ findsostatus(i, "overdue") }}</td>
                  <td width="8%">{{ findsostatus(i, "uat") }}</td>
                  <td width="8%">{{ findsostatus(i, "waiting_customer") }}</td>
                  <td width="10%">{{ findsostatus(i, "waiting_so") }}</td>
                  <td width="8%">{{ findsostatus(i, "terminate") }}</td>
                  <td width="8%">{{ findsostatus(i, "cancel") }}</td>
                  <td width="14%">
                    <v-row>
                      <v-col sm="9" style="padding-right: 0px">
                        <v-progress-linear
                          :value="
                            ((item.total / pmservicesmaxvalue) * 100).toFixed(3)
                          "
                          color="#0F75BD"
                          height="20"
                          background-color="#E0E0E0"
                          style="border-radius: 25px"
                        >
                        </v-progress-linear>
                      </v-col>
                      <v-col
                        sm="3"
                        style="padding-left: 0px; padding-top: 9px"
                        >{{ item.total }}</v-col
                      >
                    </v-row>
                  </td>
                </tr>
              </tbody>
            </v-simple-table>
          </v-col>
        </v-row>
      </v-container>
      <ModalPMService />
    </v-main>
  </div>
</template>
<script>
import {
  getSummarypm,
  getSummaryservicetable,
  getSummaryservicard
} from '@/api/summary'
import { getAssigntable } from '@/api/assign'
import { getProfile } from '@/utils/profile'
import Loading from '@/components/commons/Loading/Loading'
import ModalPMService from '@/components/commons/ModalDashboard/ModalPMService'
import { EventBus } from '@/utils/EventBus'
import { exportDashboard } from '@/utils/exportExcel/dashboard'

export default {
  components: {
    Loading,
    ModalPMService
  },
  data () {
    return {
      window: {
        width: 0,
        height: 0
      },
      headCard: 'Summary',
      summarypm: [],
      pmservices: [],
      pmservicesmaxvalue: 0,
      itemSummarymaxvalue: 0,
      dense: false,
      fixedHeader: true,
      knowledge: 33,
      height: 'auto',
      headerTeamStatus: ['PM Name', 'All PM', 'Active PM', 'MNSP', 'BCP', 'Report', 'Critical', 'Summary'],
      headerTeamAvailable: [
        'PM Name',
        'Complete',
        'In Progress',
        'Overdue',
        'UAT',
        'Waiting Customer',
        'Waiting Revise SO',
        'Terminate',
        'Cancel',
        'Summary'
      ],
      itemSummary: null,
      isLoading: false,
      items: [
        {
          text: 'Summary',
          disabled: false,
          href: '/summary',
          icon: 'mdi-account-multiple-plus'
        }
      ],
      chartOptions: {},
      badgenum: 0,
      profile: {}
    }
  },
  created () {
    this.getAssignapi()
    this.getSummary()
    this.handleResize()
    window.addEventListener('resize', this.handleResize)
  },
  methods: {
    btnlink (data) {
      this.$router.push(data)
    },
    handleResize () {
      this.window.width = window.innerWidth
      this.window.height = window.innerHeight
      setTimeout(() => this.donutLabel(), 500)
      // console.log(this.window.height, "height");
    },
    findsostatus (i, data) {
      try {
        const found = this.pmservices[i].so_status.find(
          (element) => element.status === data
        )
        return found ? found.count : 0
      } catch (error) {
        return 0
      }
    },
    findservices (i, data) {
      try {
        const found = this.itemSummary[i].services.find(
          (element) => element.service === data
        )
        return found ? found.count : 0
      } catch (error) {
        return 0
      }
    },
    findchart (data) {
      try {
        const foundpm = data.find((element) => element.key === 'pm')
        const foundmnsp = data.find((element) => element.key === 'mnsp')
        const foundbcp = data.find((element) => element.key === 'bcp')
        const foundreport = data.find((element) => element.key === 'report')
        return [
          foundpm.value,
          foundmnsp.value,
          foundbcp.value,
          foundreport.value
        ]
      } catch (error) {
        return [0, 0, 0, 0]
      }
    },
    dataPMService (head) {
      if (head.key !== 'summary') {
        EventBus.$emit('dataPMService', head)
      }
    },
    async getAssignapi () {
      var getProfiledata = await getProfile()
      this.profile = getProfiledata
      if (getProfiledata.pm_id) {
        var xml = await getAssigntable(getProfiledata)
        this.badgenum = xml.result
      }
    },
    async getSummary () {
      try {
        this.isLoading = true
        const data = await getSummarypm()
        const data2 = await getSummaryservicetable()
        const data3 = await getSummaryservicard(true)
        const result = await this.findchart(data3.result)
        await this.chartfn(result)
        this.itemSummary = data2.result
        this.itemSummarymaxvalue = data2.maxSum
        this.summarypm = data.card
        this.pmservices = data.table
        this.pmservicesmaxvalue = data.maxSum
      } catch (error) {
      } finally {
        this.isLoading = false
      }
    },
    Exportpdf () {
      exportDashboard(this.itemSummary, this.summarypm, this.pmservices)
    //   this.$router.push("/exportdashboardpdf");
    },
    async donutLabel () {
      var label = await document.getElementsByClassName(
        'apexcharts-legend-text'
      )
      const colors = ['#0F75BD', '#FCC419', '#58A144', '#ED7D2B']

      Array.from(label).forEach((aNode, i) => {
        const myArr = aNode.innerHTML.split(' ')
        if (myArr.length === 4) {
          myArr[2] =
            '<span class="fade-in-text-summary" style="color: ' +
            colors[i] +
            ' !important">' +
            myArr[2] +
            '</span>'
          aNode.innerHTML = myArr.join(' ')
        } else if (myArr.length === 5) {
          myArr[3] =
            '<span class="fade-in-text-summary" style="color: ' +
            colors[i] +
            ' !important">' +
            myArr[3] +
            '</span>'
          aNode.innerHTML = myArr.join(' ')
        }
      })
    },
    chartfn (data) {
      this.chartOptions = {
        colors: [
          '#0F75BD',
          '#FCC419',
          '#58A144',
          '#ED7D2B',
          'rgba(255,87,93,.77)'
        ],
        legend: {
          fontSize: '14px',
          fontFamily: 'Helvetica, Arial',
          fontWeight: 400,
          position: 'bottom',
          horizontalAlign: 'left',
          itemMargin: {
            vertical: 10,
            horizontal: 36
          },
          // formatter: function (seriesName, opts) {
          //   const spaceLn = 7 - seriesName.length
          //   const joinPlus = spaceLn == 4 ? 0 : spaceLn == 1 ? 3 : 1
          //   const spz = new Array(spaceLn + joinPlus).join('\xa0')
          //   return `${seriesName} ${spz} ${opts.w.globals.series[opts.seriesIndex]}`
          // },
          formatter: function (seriesName, opts) {
            const spaceLn = 11 - seriesName.length
            const spaceLn2 = opts.seriesIndex == 0 || opts.seriesIndex == 2 ? 5 - opts.w.globals.series[opts.seriesIndex].toString().length : 1
            const joinPlus = spaceLn == 8 ? 3 : spaceLn == 5 ? -3 : spaceLn == 7 ? -5 : 0
            const spz = new Array(spaceLn + joinPlus).join('\xa0')
            const spz2 = new Array(spaceLn2 * 2).join('\xa0')
            return `${seriesName} ${spz} ${opts.w.globals.series[opts.seriesIndex]} ${spz2}`
          },
          markers: {
            radius: 2,
            width: 36,
            height: 19,
            offsetY: 3,
            offsetX: -9
          }
        },
        dataLabels: {
          enabled: false
        },
        labels: ['Active PM', 'MNSP', 'BCP', 'Report'],

        plotOptions: {
          pie: {
            donut: {
              labels: {
                show: true,
                name: {
                  show: true,
                  fontSize: '27px',
                  fontFamily: 'Rubik',
                  color: '#dfsda',
                  offsetY: -10
                },
                value: {
                  show: true,
                  fontSize: '19px',
                  fontFamily: 'Helvetica, Arial, sans-serif',
                  fontWeight: 600,
                  color: undefined,
                  offsetY: 16,
                  formatter: function (val) {
                    return val
                  }
                },
                total: {
                  show: true,
                  fontWeight: 600,
                  label: 'All Service',
                  color: '#373d3f',
                  formatter: function (w) {
                    return w.globals.seriesTotals.reduce((a, b) => {
                      return a + b
                    }, 0)
                  }
                }
              }
            }
          }
        },
        series: data
      }
    }
  }
}
</script>
<style>
td {
  border: 1px solid #f1f2f6;
}
th {
  border: 1px solid #f1f2f6;
}

.row__padding {
  padding: 24px;
}

.header__other {
  background-color: #5589bb !important;
  color: #ffffff !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.rowbg {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.pmservicecard {
  padding: 13px !important;
  height: 110px;
  display: grid;
  align-items: center;
  font-style: normal !important;
  border-radius: 7px;
  line-height: 22px !important;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.pmservicecardS {
  padding: 13px !important;
  height: 110px;
  display: grid;
  align-items: center;
  font-style: normal !important;
  border-radius: 7px;
  line-height: 22px !important;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.pmservicecard:hover {
    cursor: pointer;
    background-color: rgba(110, 183, 255, 0.09);
    box-shadow: 0 0 9px #fff, 0 0 11px #fff, 0 0 9px #a8d7f7, 0 0 13px #c1d4f1, 0 0 15px #d1e1f8 !important;
}
.title__top {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #174a67 !important;
}
.title__font {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #0f75bd;
}
.title__margin {
  margin-bottom: 10px;
}
.body__font tr td {
  font-size: 18px !important;
}
@media screen and (max-width: 600px) {
  .row__padding {
    padding: unset !important;
  }
}
.fade-in-text-summary {
  display: inline-block;
  animation: fadeIn linear 0.3s;
  -webkit-animation: fadeIn linear 0.3s;
  -moz-animation: fadeIn linear 0.3s;
  -o-animation: fadeIn linear 0.3s;
  -ms-animation: fadeIn linear 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
