<template>
  <div style="background-color: #e5e5e5">
    <v-main>
      <v-container fluid style="padding: 30px">
        <v-row class="align-center text-center">
          <v-col
            cols="6"
            sm="8"
            xs="12"
            md="4"
            lg="7"
            style="padding-top: 0; padding-bottom: 0"
          >
            <div class="text-left title__margin">
              <p class="title__top pl-2">UAT Dashboard</p>
            </div>
          </v-col>
        </v-row>
        <v-spacer></v-spacer>

        <v-row class="align-center text-center row__padding rowbg">
          <v-col cols="2" lg="2" md="2">
            <p class="title__font text-start">Document Type</p>
            <v-select dense :items="items" label=" " outlined></v-select>
          </v-col>

          <v-col cols="10" lg="10" md="10">
            <v-row>
              <v-col cols="7" lg="7" md="7"></v-col>
              <v-col cols="5" lg="5" md="5">
                <p class="title__font text-start">Select Date</p>
                <v-menu
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      class="mt-2"
                      :value="computedDateFormattedMomentjs"
                      label="19/10/2021  -  25/10/2021"
                      append-icon="mdi-calendar"
                      readonly
                      dense
                      outlined
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker type="month" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary"> Cancel </v-btn>
                    <v-btn text color="primary"> OK </v-btn>
                  </v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
          </v-col>

          <v-row>
            <v-col cols="4" lg="4" md="4">
              <v-card class="mx-auto">
                <v-col cols="12" style="background-color: #87d0b0">
                  <h3 style="color: #ffffff">Ratio of Each Document</h3>
                </v-col>
                <v-card-actions>
                  <apexchart
                    type="donut"
                    :options="optionsdonut"
                    :series="seriesdonut"
                  ></apexchart>
                </v-card-actions>
              </v-card>
            </v-col>
            <v-col cols="8" lg="8" md="8">
              <v-card class="mx-auto pa-10">
                <v-col cols="12">
                  <div>
                    <apexchart
                      type="bar"
                      :options="optionsbar"
                      :series="seriesbar"
                    ></apexchart>
                  </div>
                </v-col>
              </v-card>
            </v-col>
          </v-row>
        </v-row>
      </v-container>
    </v-main>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      items: ["All Document"],

      optionsbar: {
        title: {
          text: "Number of Documents PM Created",
          align: "left",
          style: {
            fontSize: "20px",
            color: "#174A67",
          },
        },
        colors: ["#0F75BD"],
        plotOptions: {
          bar: {
            borderRadius: 4,
            horizontal: true,
          },
        },
        dataLabels: {
          enabled: true,
          style: {},
        },
        xaxis: {
          categories: [
            "วิภาวี บุญญา",
            "พัชณิยา สุขแก้ว ",
            "ชมพูนุท เตียนมีผล ",
            "พีรวิทย์ จับใจนาย ",
            "ภาณุพงศ์ กวดกิจการ ",
            "ธนสาร ผิวบาง ",
            "กิตติชัย อุตม์สุรินทร์ ",
            "มัณฑนา ภูครองทุ่ง",
            "ณัฏฐ์ สุวัตนโฆสานุวัตร ",
          ],
        },
      },

      optionsdonut: {
        plotOptions: {
          pie: {
            donut: {
              size: '35%',
              labels: {
                show: true,
                total: {
                  show: true,
                  fontWeight: 600,
                  label: 'All Document',
                  color: '#373d3f',
                  formatter: function (w) {
                    return w.globals.seriesTotals.reduce((a, b) => {
                      return a + b
                    }, 0)
                  }
                }
              }
            }
          }
        },
        chart: {
          type: "donut",
        },
        responsive: [
          {
            breakpoint: 480,
            options: {
              chart: {
                width: 200,
              },
              legend: {
                position: "bottom",
              },
            },
          },
        ],
      },

      seriesbar: [
        {
          name: "Number of Documents",
          data: [76, 55, 50, 45, 44, 34, 32, 28, 20],
        },
      ],

      seriesdonut: [44, 55, 41, 17, 15],
    };
  },
  computed: {
    computedDateFormattedMomentjs() {
      return this.date ? moment(this.date).format("MMMM YYYY") : "";
    },

    icon() {
      if (this.likesAllFruit) return "mdi-close-box";
      if (this.likesSomeFruit) return "mdi-minus-box";
      return "mdi-checkbox-blank-outline";
    },
    icon2() {
      if (this.likesAllFruit2) return "mdi-close-box";
      if (this.likesSomeFruit2) return "mdi-minus-box";
      return "mdi-checkbox-blank-outline";
    },
  },
  created() {},
  methods: {},
};
</script>
<style>
.round {
  border: 2px solid #f1f2f6;
  border-radius: 5px;
}
.row__padding {
  padding: 24px;
}

.header__other {
  background-color: #5589bb !important;
  color: #ffffff !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.rowbg {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.rowbgsub {
  margin-left: 2px;
  margin-right: 2px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid #e5e5e5;
}
.title__top {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #174a67 !important;
}
.title__font {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #0f75bd;
}
.title__margin {
  margin-bottom: 10px;
}
.body__font tr td {
  font-size: 18px !important;
}
@media screen and (max-width: 600px) {
  .row__padding {
    padding: unset !important;
  }
}
</style>
