<template>
  <div>
    <v-main>
      <v-container fluid style="padding: 30px">
        <v-row class="align-center text-center">
          <v-col
            cols="6"
            sm="8"
            xs="12"
            md="4"
            lg="7"
            style="padding-top: 0; padding-bottom: 0"
          >
            <Loading :isLoadingCheck="isLoading"></Loading>
            <div class="text-left title__margin">
              <p class="title__topse">Actions Management</p>
            </div>
          </v-col>
        </v-row>
        <v-spacer></v-spacer>
        <v-row class="mt-2 align-center text-center row__padding rowbgpm">
             <v-row style="justify-content: space-between" class="pr-3">
              <v-col md="5" sm="6" xs="6" style="padding-bottom: 0px">
            <v-text-field
              outlined
              dense
              class="pl-3 pt-7"
              prepend-inner-icon="mdi-magnify"
              v-model="search"
              @input="searchall()"
              label="Search"
              style="margin-left: 5px"
            ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                md="3"
                sm="6"
                xs="6"
                class="text-end"
                style="
                  padding-top: 4px;
                  padding-bottom: 0px;
                  padding-right: 13px;
                "
              >
                <p class="title__font text-start" style="font-weight: 600;font-size: 18px;line-height: 22px;color: #0f75bd;">Select Date</p>
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="date"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      class="mt-2"
                      :value="computedDateFormattedMomentjs"
                      label="Day Month Year"
                      append-icon="mdi-calendar"
                      readonly
                      dense
                      outlined
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="date"
                    no-title
                    scrollable
                  >
                    <v-spacer></v-spacer>
                    <v-btn
                      text
                      color="primary"
                      @click="(menu = false), $refs.menu.save(), searchall()"
                    >
                      Cancel
                    </v-btn>
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.menu.save(date), searchall()"
                    >
                      OK
                    </v-btn>
                  </v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
          <v-col md="12" sm="12">
            <v-data-table
              :headers="headerTeamAvailable"
              :page.sync="page"
              :items-per-page="itemsPerPage"
              @page-count="pageCount = $event"
              :items="desserts"
              style="white-space: nowrap"
              height="auto"
              hide-default-footer
              multi-sort
            >
                 <template v-slot:[`header.pm_name`]="{ header }">
                {{ header.text }}
                <v-menu offset-y :close-on-content-click="false">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn class="mb-1" icon v-bind="attrs" v-on="on">
                      <v-icon color="#ffffff"> mdi-filter-variant </v-icon>
                    </v-btn>
                  </template>
                  <v-row
                    style="
                      background-color: white;
                      max-width: 500px;
                      padding-bottom: 0px;
                    "
                    class="px-12"
                  >
                    <v-col cols="12" class="pt-5" style="padding-left: 0px">
                      <div class="pb-3"><p>Filter by service</p></div>
                      <v-select
                        v-model="servicenamemodel"
                        :items="servicenameitems"
                        @change="searchall()"
                        multiple
                        outlined
                        dense
                        chips
                        small-chips
                        persistent-hint
                      >
                        <template v-slot:prepend-item>
                          <v-list-item ripple @click="toggle">
                            <v-list-item-action>
                              <v-icon
                                :color="
                                  servicenamemodel.length > 0 ? '#5589bb' : ''
                                "
                              >
                                {{ icon }}
                              </v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                              <v-list-item-title>
                                Select All
                              </v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <v-divider class="mt-2"></v-divider>
                        </template>
                      </v-select>
                    </v-col>
                    <v-col
                      cols="12"
                      class="text-end"
                      style="padding-left: 0px; padding-top: 0px"
                    >
                    </v-col>
                  </v-row>
                </v-menu>
              </template>

              <template v-slot:item="props">
                <tr>
                  <td>{{ props.item.pm_id || '-' }}</td>
                  <td>{{ props.item.aLog_dtl || '-' }}</td>
                  <td>{{ props.item.aLog_to || '-' }}</td>
                  <td>{{ props.item.aLog_type || '-' }}</td>
                  <td>{{ props.item.date || '-' }}</td>
                </tr>
              </template>
            </v-data-table>

                   <v-row>
              <v-col
                cols="12"
                class="hidden-lg-only hidden-xl-only pb-0 pt-0"
                style="display: flex; align-items: center; justify-content: center;"
                >
                <v-pagination
                  v-model="page"
                  :length="pageCount"
                  color="#174A67"
                  :total-visible="7"
                ></v-pagination>
              </v-col>
              <v-col
                cols="4"
                class="d-md-none d-lg-flex hidden-md-only hidden-sm-and-down pb-0 pt-0"
              >
                <v-row>
                  <v-col
                    cols="12"
                    style="padding-top: 50px; !important"
                    class="text-start fontrowtable hidden-sm-and-down"
                  >
                    Showing {{ startRowPerPages || 1 }} to
                    {{ endRowPerPages }} of {{ desserts.length }} entries
                  </v-col>
                </v-row>
              </v-col>
              <v-col
                cols="8"
                class="d-md-none d-lg-flex hidden-md-only hidden-sm-and-down pb-0 pt-0"
              >
                <v-row>
                  <v-col
                    cols="3"
                style="display: flex; align-items: center"
                    class="hidden-sm-and-down"
                  >
                    <v-row>
                      <v-col
                    cols="9"
                    class="fontrowtable"
                    style="padding-top:38px; !important;"
                    >Row per page :</v-col
                  >
                  <v-col cols="3" class="px-0 py-0">
                    <v-select
                      solo
                      flat
                      style="padding-top: 26px"
                          :items="pagelist"
                          outlined
                          dense
                          :value="itemsPerPage"
                          type="number"
                          class="slcsv"
                          @input="itemsPerPage = parseInt($event, 10)"
                        ></v-select>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col
                    cols="6"
                    style="display: flex; align-items: center; justify-content: end"
                    class="justify-end pb-0 pt-0"
                  >
                    <v-pagination
                      v-model="page"
                      :length="pageCount"
                      color="#174A67"
                      :total-visible="7"
                    ></v-pagination>
                  </v-col>
                  <v-col
                    cols="3"
                    style="display: flex; align-items: center"
                    class="hidden-sm-and-down"
                  >
                    <v-row>
                      <v-col
                        md="8"
                        class="fontrowtable"
                        style="padding-top: 35px; !important;display: flex;justify-content: end;"
                    >Go to page :</v-col
                      >
                      <v-col md="4" cols="4" class="px-0 py-0">
                               <v-text-field
                          solo
                          flat
                          v-model.number="pageTextField"
                          @input="checkpage()"
                          min="1"
                          outlined
                          dense
                          :max="pageCount"
                          style="padding-top: 23px"
                          class="txb"
                          type="number"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </div>
</template>
<script>
import { EventBus } from '@/utils/EventBus'
import { getlogsaction } from '@/api/pm/logs.js'
import Loading from '@/components/commons/Loading/Loading'
import moment from 'moment'
import dayjs from 'dayjs'
import Vue from 'vue'
var customParseFormat = require('dayjs/plugin/customParseFormat')
dayjs.extend(customParseFormat)
Vue.prototype.dayjs = dayjs

export default {
  components: {
    Loading
  },
  data () {
    return {
      pagelist: [5, 10, 15, {
        value: Number.MAX_SAFE_INTEGER,
        text: 'all'
      }],
      testauto: {},
      pageTextField: 1,
      testauto2: {},
      page: 1,
      itemsPerPage: 5,
      pageCount: 0,
      search: '',
      cusidse: '',
      servicenamemodel: ['add', 'edit', 'delete'],
      servicenameitems: ['add', 'edit', 'delete'],
      headerTeamAvailable: [
        {
          text: 'Editor',
          value: 'cus_id',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: 'Subject',
          value: 'cus_name',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: 'Objective',
          value: 'aLog_to',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: 'Action',
          value: 'pm_name',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: 'Date',
          value: 'so_no',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        }
      ],
      desserts: [],
      itemSummary: null,
      isLoading: false,
      menu: false,
      date: null
    }
  },
  computed: {
    computedDateFormattedMomentjs () {
      return this.date ? moment(this.date).format('DD MMMM YYYY') : ''
    },
    numberOfPages () {
      return Math.ceil(this.desserts.length / this.itemsPerPage)
    },
    startRowPerPages () {
      return Math.ceil((this.page - 1) * this.itemsPerPage) + 1
    },
    endRowPerPages () {
      return Math.ceil(this.itemsPerPage * this.page) > this.desserts.length
        ? this.desserts.length
        : Math.ceil(this.itemsPerPage * this.page)
    },
    likesAllFruit () {
      return this.servicenamemodel.length === this.servicenameitems.length
    },
    likesSomeFruit () {
      return this.servicenamemodel.length > 0 && !this.likesAllFruit
    },
    icon () {
      if (this.likesAllFruit) return 'mdi-close-box'
      if (this.likesSomeFruit) return 'mdi-minus-box'
      return 'mdi-checkbox-blank-outline'
    }
  },
  created () {
    this.getlog()
  },
  methods: {
    async getlog () {
      try {
        this.isLoading = true
        var xml = await getlogsaction()
        this.desserts = xml.table
        this.dessertsimpt = await JSON.parse(JSON.stringify(xml.table))
      } catch (error) {
        console.log(error)
      } finally {
        this.isLoading = false
      }
    },
    checkpage () {
      this.pageTextField = this.pageTextField > 0 || !this.pageTextField ? this.pageTextField : 1
      this.pageTextField = this.pageTextField <= this.pageCount || !this.pageTextField ? this.pageTextField : this.pageCount
      if (this.pageTextField) { this.page = this.pageTextField }
    },
    openModalAddCustomer () {
      EventBus.$emit('openModalAddCustomer')
    },
    async searchall () {
      this.desserts = await JSON.parse(JSON.stringify(this.dessertsimpt))
      if (this.search) {
        await this.searchdata()
      }
      if (this.date) {
        await this.checkmonth()
      }
      if (
        this.servicenamemodel.length < 3 &&
        this.servicenamemodel.length > 0
      ) {
        await this.searchservice()
      }
    },
    searchdata () {
      const result = this.desserts.filter((desserts) => {
        const pmid = desserts.pm_id ? desserts.pm_id : ''
        const aLogdtl = desserts.aLog_dtl ? desserts.aLog_dtl : ''
        const aLogto = desserts.aLog_to ? desserts.aLog_to : ''
        return (
          pmid.toLowerCase().includes(this.search.trim().toLowerCase()) ||
          aLogto.toLowerCase().includes(this.search.trim().toLowerCase()) ||
          aLogdtl.toLowerCase().includes(this.search.trim().toLowerCase())
        )
      })
      this.desserts = result
    },
    checkmonth () {
      const result = this.desserts.filter((desserts) => {
        return dayjs(desserts.date, 'DD/MM/YYYY').format('DD/MM/YYYY') === dayjs(this.date).format('DD/MM/YYYY')
      })
      this.desserts = result
    },
    searchservice () {
      var servicenamemodels = this.servicenamemodel.map((x) => x.toLowerCase())
      const result = this.desserts.filter((asdasdas) => {
        return servicenamemodels.includes(asdasdas.aLog_type.toLowerCase())
      })
      this.desserts = result
    },
    toggle () {
      this.$nextTick(() => {
        if (this.likesAllFruit) {
          this.servicenamemodel = []
        } else {
          this.servicenamemodel = this.servicenameitems
          this.searchall()
        }
      })
    },
    checkcolor (data) {
      var xml =
        'font-style: normal;font-weight: normal;font-size: 14px;line-height: 24px;'
      if (data === 'Terminate') {
        xml += 'color: #F03D3E;'
      } else if (data === 'Complete') {
        xml += 'color: #58A144;'
      } else if (data === 'In Progress') {
        xml += 'color: #FCC419;'
      } else {
        xml += 'color: #333333;'
      }
      return xml
    }
  }
}
</script>

<style>
.v-pagination__navigation {
  box-shadow: none !important;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 32px;
  width: 32px;
  margin: 0.3rem 10px;
}

.v-pagination__item {
  background: transparent;
  border-radius: 10px;
  font-size: 1rem;
  height: 34px;
  margin: 0.3rem;
  min-width: 34px;
  padding: 0 5px;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  width: auto;
  box-shadow: none !important;
}
.theme--light.v-pagination .v-pagination__navigation {
  background: none !important;
}
.theme--light.v-pagination .v-pagination__item {
  background: #ffffff;
  color: rgba(23, 74, 103, 0.87);
}
.theme--light.v-pagination .v-pagination__item--active {
  color: #ffffff;
}
.slcsv .v-input__slot {
  width: min-content !important;
  border-radius: 10px !important;
}
.txb .v-input__slot {
  border-radius: 10px;
  max-width: 60px;
}
td {
  border: 1px solid #f1f2f6;
}
th {
  border: 1px solid #f1f2f6;
}
.font-head {
  font-size: 22px;
}
.font-sub {
  font-size: 18px;
}

.row__padding {
  padding: 24px;
}

.header__other {
  background-color: #5589bb !important;
  color: #ffffff !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.rowbgpm {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  padding-bottom: 0px !important;
}

.title__topse {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #174a67 !important;
  margin-left: 9px;
}

.fontrowtable {
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  color: #174a67;
}
.title__margin {
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .row__padding {
    padding: unset !important;
  }
}
</style>
