<template>
  <div style="background-color: #e5e5e5">
    <v-main>
      <v-container fluid style="padding: 30px">
        <v-row class="align-center text-center">
          <v-col
            cols="6"
            sm="8"
            xs="12"
            md="4"
            lg="7"
            style="padding-top: 0; padding-bottom: 0"
          >
            <Loading :isLoadingCheck="isLoading"></Loading>
            <div class="text-left title__margin">
              <p class="title__top">Manage PM</p>
            </div>
          </v-col>
        </v-row>
        <!-- <v-divider></v-divider> -->
        <v-spacer></v-spacer>
        <v-row>
          <v-col
            cols="5"
            class="text-end"
            style="padding-top: 14px; padding-bottom: 0px"
          >
            <v-text-field
              dense
              solo
              flat
              prepend-inner-icon="mdi-magnify"
              v-model="search"
              @input="searchenb()"
              label="Search"
              style="margin-left: 5px"
            ></v-text-field>
          </v-col>
          <v-col
            md="7"
            sm="7"
            class="text-end"
            style="padding-top: 4px; padding-bottom: 0px"
          >
            <v-btn
              class="ma-2"
              color="#0F75BD"
              height="40"
              style="text-transform: capitalize"
              dark
              @click="addpm()"
              ><feather
                style="color: white"
                type="plus-circle"
                size="20"
                stroke-width="1"
                class="mr-2"
              ></feather>
              Add PM</v-btn
            >
          </v-col>
        </v-row>
        <v-tabs
          v-model="tab"   
          left
          class="nat"
          style="background-color: #ffffff;"
        >
          <v-tab
            v-for="(item, index) in items"
            :key="item"
            :style="'text-transform: capitalize; margin-right: -16px;padding-left: 23px;z-index: '+(6-index)+';'"
            @click="changetab(item)"
          >
            {{ item }}
          </v-tab>
        </v-tabs>
        <v-tabs-items v-model="tab" style="border-radius: 0px 8px 8px 8px">
          <v-tab-item>
            <Tablepmservice></Tablepmservice>
          </v-tab-item>
          <v-tab-item>
            <TableGuest></TableGuest>
          </v-tab-item>
          <v-tab-item>
            <Tablenonpmservice></Tablenonpmservice>
          </v-tab-item>
          <v-tab-item>
            <TableCustomerRemovalRequest></TableCustomerRemovalRequest>
          </v-tab-item>
        </v-tabs-items>
        <ModalAddPM />
      </v-container>
    </v-main>
  </div>
</template>
<script>
import { EventBus } from '@/utils/EventBus'
import Loading from '@/components/commons/Loading/Loading'
import Tablepmservice from '@/components/pages/PMService/Tablepmservice'
import Tablenonpmservice from '@/components/pages/PMService/Tablenonpmservice'
import TableCustomerRemovalRequest from '@/components/pages/PMService/TableCustomerRemovalRequest'
import TableGuest from '@/components/pages/PMService/TableGuest'
import ModalAddPM from '@/components/commons/ModalManagePM/ModalAddPM'
export default {
  components: {
    Loading,
    Tablenonpmservice,
    Tablepmservice,
    TableCustomerRemovalRequest,
    ModalAddPM,
    TableGuest
  },
  data () {
    return {
      tab: null,
      items: ['PM List', 'Guest List', 'Request Access', 'Customer Removal Request'],
      page: 1,
      itemsPerPage: 10,
      pageCount: 0,
      search: '',
      itemSummary: null,
      isLoading: false,
      selectservice: 'All service',
      menu: false,
      date: new Date().toISOString().substr(0, 7),
    }
  },
  computed: {
    numberOfPages () {
      return Math.ceil(this.desserts.length / this.itemsPerPage)
    },
    startRowPerPages () {
      return Math.ceil((this.page - 1) * this.itemsPerPage) + 1
    },
    endRowPerPages () {
      return Math.ceil(this.itemsPerPage * this.page) > this.desserts.length
        ? this.desserts.length
        : Math.ceil(this.itemsPerPage * this.page)
    },
  },
  created () {
    // this.getSummary();
  },
  methods: {
    addpm () {
      EventBus.$emit('addpm')
    },
    searchenb () {
      EventBus.$emit('searchTablepmservice', this.search)
    },
    changetab (data) {
      if (
        (data === 'PM List' && this.tab !== 0) ||
        (data === 'Guest List' && this.tab !== 1) ||
        (data === 'Request Access' && this.tab !== 2) ||
        (data === 'Customer Removal Request' && this.tab !== 3)
      ) {
        this.search = ''
        this.searchenb()
      }
    },
  },
}
</script>
<style>
.row__padding {
  padding: 24px;
}
.title__top {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #174a67 !important;
}
.title__margin {
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .row__padding {
    padding: unset !important;
  }
}
.v-tabs {
  flex: 1 1 auto;
  width: auto;
  font-weight: 600;
  font-size: 20px;
}
/* .v-tab:nth-child(2) {
  border-radius: 10px 0px 0px 0px !important;
}
.v-tab:last-child  {
  border-radius: 0px 10px 0px 0px !important;
} */
.v-tab  {
  border-radius: 13px 13px 0px 0px !important;
}

.nat .v-tab {
  font-weight: 600 !important;
  font-size: 20px !important;
  background-color: #177fc9;
  /* color: #ffffff !important; */
  overflow: hidden;
}
.nat .v-tab:not(.v-tab--active) {
    background-color: #ffffff;
    box-shadow: rgb(236, 236, 236) -3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    /* color: #828384 !important; */
}

.nat .v-tab--active {
  /* border-radius: 10px !important;
  background-color: #e5e5e5; */
  color: #ffffff !important;
}

.nat .v-tabs-slider-wrapper {
  width: 0 !important;
}

.nat .v-slide-group__content {
  background-color: #e5e5e5;
}
</style>
