<template>
  <div>
    <Loading :isLoadingCheck="isLoading"></Loading>
    <v-row
      class="align-center text-center row__padding rowbg"
      style="padding-top: 0"
    >
      <v-col md="12" sm="12">
        <v-row>
          <v-col md="9" sm="9" class="text-left"> </v-col>
          <v-col md="3" sm="3" class="text-left">
            <p class="title__font" style="margin-bottom: 0px"></p>
          </v-col>
        </v-row>
        <v-data-table
          :headers="headerTeamAvailable"
          :page.sync="page"
          fixed-header
          :items-per-page="itemsPerPage"
          @page-count="pageCount = $event"
          no-data-text="No data available"
          :items="desserts"
          style="white-space: nowrap"
          height="500"
          :item-class="itemRowBackground"
          :search="search"
          hide-default-footer
        >
          <template v-slot:[`item.pm_onemail`]="{ item }">
            {{ item.pm_onemail || "-" }}
          </template>
          <template v-slot:[`item.bt_item`]="{ item }">
            <v-row>
              <v-col style="padding-right: 0px;padding-left: 17px;">
                <feather
                  style="color: #757575"
                  type="edit"
                  size="20"
                  stroke-width="1"
                  class="mr-4"
                  @click="editpm(item)"
                ></feather>
                <!-- <feather
                  style="color: #757575"
                  type="trash-2"
                  size="20"
                  stroke-width="1"
                  @click="deletepm(item.pm_id)"
                ></feather> -->
              </v-col>
            </v-row>
          </template>
           <template v-slot:[`item.sw`]="{ item }">
            <v-row style="padding-top: 0px;padding-bottom: 0px;">
              <v-col style="padding-top: 0px;padding-bottom: 0px;">
                    <v-switch
                      style="padding-top:2px;padding-bottom: 0px;"
                        :input-value="item.is_active"
                        @change="deletepm(item)"
                        class="pl-3"
                        color="#58A144"
                        inset
                      ></v-switch>
              </v-col>
            </v-row>
          </template>
        </v-data-table>
        <v-row>
          <v-col
            cols="12"
            class="hidden-lg-only hidden-xl-only pb-0 pt-0"
            style="display: flex; align-items: center; justify-content: center"
          >
            <v-pagination
              v-model="page"
              :length="pageCount"
              color="#174A67"
              :total-visible="7"
            ></v-pagination>
          </v-col>
          <v-col cols="4" class="d-md-none d-lg-flex hidden-md-only hidden-sm-and-down pb-0 pt-0">
            <v-row>
              <v-col
                cols="12"
                style="padding-top: 50px; !important"
                class="text-start fontrowtable hidden-sm-and-down"
              >
                Showing {{ startRowPerPages || 1 }} to {{ endRowPerPages }} of
                {{ desserts.length }} entries
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="8" class="d-md-none d-lg-flex hidden-md-only hidden-sm-and-down pb-0 pt-0">
            <v-row>
              <v-col
                cols="3"
                style="display: flex; align-items: center"
                class="hidden-sm-and-down"
              >
                <v-row>
                  <v-col
                    cols="9"
                    class="fontrowtable"
                    style="padding-top:38px; !important;"
                    >Row per page :</v-col
                  >
                  <v-col cols="3" class="px-0 py-0">
                    <v-select
                      solo
                      flat
                      style="padding-top: 26px"
                      :items="pagelist"
                      outlined
                      dense
                      :value="itemsPerPage"
                      type="number"
                      class="slcsv"
                      @input="itemsPerPage = parseInt($event, 10)"
                    ></v-select>
                  </v-col>
                </v-row>
              </v-col>
              <v-col
                cols="6"
                style="display: flex; align-items: center; justify-content: end"
              >
                <v-pagination
                  v-model="page"
                  :length="pageCount"
                  color="#174A67"
                  :total-visible="7"
                ></v-pagination>
              </v-col>
              <v-col
                cols="3"
                style="display: flex; align-items: center"
                class="hidden-sm-and-down"
              >
                <v-row>
                  <v-col
                    md="8"
                    class="fontrowtable"
                    style="padding-top: 35px; !important;display: flex;justify-content: end;"
                    >Go to page :</v-col
                  >
                  <v-col md="4" class="px-0 py-0">
                   <v-text-field
                          solo
                          flat
                          v-model.number="pageTextField"
                          @input="checkpage()"
                          min="1"
                          outlined
                          dense
                          :max="pageCount"
                          style="padding-top: 23px"
                          class="txb"
                          type="number"
                        ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <ModalEditPM />
  </div>
</template>
<script>
import { getPM, deletepm } from '@/api/pm'
import Loading from '@/components/commons/Loading/Loading'
import moment from 'moment'
import ModalEditPM from '@/components/commons/ModalManagePM/ModalEditPM'
import { EventBus } from '@/utils/EventBus'
import swal from 'sweetalert2'
import Icon from '@/assets/New Project.png'

export default {
  components: {
    Loading,
    ModalEditPM
  },
  data () {
    return {
      pagelist: [5, 10, 15, {
        value: Number.MAX_SAFE_INTEGER,
        text: "all"
      }],
      tab: null,
      items: ['PM Service', 'Non-PM Service'],
      page: 1,
      pageTextField: 1,
      itemsPerPage: 10,
      pageCount: 0,
      search: '',
      headerTeamAvailable: [
        {
          text: 'No.',
          align: 'center',
          sortable: false,
          value: 'pm_id',
          width: '5%',
          class: 'header__other text-center'
        },
        {
          text: 'PM Name',
          align: 'center',
          value: 'pm_name',
          class: 'header__other text-center',
          sortable: false,
          width: '25%'
        },
        {
          text: 'PM Nickname',
          align: 'center',
          value: 'pm_nickname',
          width: '10%',
          class: 'header__other text-center',
          sortable: false
        },
        {
          text: 'Email (INET)',
          align: 'center',
          value: 'pm_email',
          class: 'header__other text-center',
          sortable: false,
          width: '25%'
        },
        {
          text: 'Onemail',
          align: 'center',
          value: 'pm_onemail',
          class: 'header__other text-center',
          sortable: false,
          width: '25%'
        },
        {
          text: '',
          align: 'center',
          value: 'bt_item',
          width: '3%',
          class: 'header__other text-center',
          sortable: false
        },
        {
          text: '',
          align: 'center',
          value: 'sw',
          width: '3%',
          class: 'header__other text-center',
          sortable: false
        }
      ],
      desserts: [],
      itemSummary: null,
      isLoading: false,
      selectservice: 'All service',
      itemsservice: [
        'All service',
        'PM Service',
        'MNSP Service',
        'BCP Service',
        'Report Service'
      ],
      menu: false,
      date: new Date().toISOString().substr(0, 7)
    }
  },
  computed: {
    numberOfPages () {
      return Math.ceil(this.desserts.length / this.itemsPerPage)
    },
    startRowPerPages () {
      return Math.ceil((this.page - 1) * this.itemsPerPage) + 1
    },
    endRowPerPages () {
      return Math.ceil(this.itemsPerPage * this.page) > this.desserts.length
        ? this.desserts.length
        : Math.ceil(this.itemsPerPage * this.page)
    },
    computedDateFormattedMomentjs () {
      return this.date ? moment(this.date).format('MMMM YYYY') : ''
    }
  },
  created () {
    this.getPM()
  },
  mounted () {
    EventBus.$on('reloaddataTablepmservice', this.getPM)
    EventBus.$on('searchTablepmservice', this.searchTablepmservice)
  },
  methods: {
    checkpage () {
      this.pageTextField = this.pageTextField > 0 || !this.pageTextField ? this.pageTextField : 1
      this.pageTextField = this.pageTextField <= this.pageCount || !this.pageTextField ? this.pageTextField : this.pageCount
      if (this.pageTextField) { this.page = this.pageTextField }
    },
    editpm (data) {
      EventBus.$emit('editpm', data)
    },
    itemRowBackground (item) {
      return item.is_active === false ? 'stylexsx' : 'styleysy'
    },
    searchTablepmservice (data) {
      this.search = data
    },
    async getPM () {
      try {
        this.isLoading = true
        this.desserts = []
        const data = await getPM('all')
        this.desserts = data
      } catch (error) {
      } finally {
        this.isLoading = false
      }
    },
    deletepm (id) {
      // swal
      //   .fire({
      //     imageUrl: Icon,
      //     imageWidth: 110,
      //     imageHeight: 120,
      //     text: 'Are you confirm to delete this data?',
      //     reverseButtons: true,
      //     showCancelButton: true,
      //     confirmButtonColor: '#174A67',
      //     confirmButtonText: 'Delete'
      //   })
      //   .then((result) => {
      //     if (result.isConfirmed) {
      this.deletepmapi(id)
      //   }
      // })
    },
    async deletepmapi (item) {
      try {
        this.isLoading = true
        await deletepm(item.pm_id, !item.is_active)
        swal.fire({ title: 'Success!', showConfirmButton: false, icon: 'success', timer: 1500 })
        this.getPM()
      } catch (error) {
        swal.fire({
          confirmButtonColor: '#325869',
          icon: 'error',
          title: error.response.data.message
        })
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>
<style>
.stylexsx {
  background-color: #e5e4e4
}
.styleysy {
  background-color: rgb(255, 255, 255)
}
.text-start {
  padding-right: 0px !important;
}
.v-pagination__navigation {
  box-shadow: none !important;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 32px;
  width: 32px;
  margin: 0.3rem 10px;
}
.v-pagination__item {
  background: transparent;
  border-radius: 10px;
  font-size: 1rem;
  height: 34px;
  margin: 0.3rem;
  min-width: 34px;
  padding: 0 5px;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  width: auto;
  box-shadow: none !important;
}
.theme--light.v-pagination .v-pagination__item {
  background: #ffffff;
  color: rgba(23, 74, 103, 0.87);
}
.theme--light.v-pagination .v-pagination__item--active {
  color: #ffffff;
}
.slcsv .v-input__slot {
  width: min-content !important;
  border-radius: 10px !important;
}
.txb .v-input__slot {
  border-radius: 10px;
  max-width: 60px;
}
td {
  border: 1px solid #f1f2f6;
}
th {
  border: 1px solid #f1f2f6;
}

.row__padding {
  padding: 24px;
}

.header__other {
  background-color: #5589bb !important;
  color: #ffffff !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.rowbg {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
}
.title__top {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #174a67 !important;
}
.title__font {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #0f75bd;
}
.title__margin {
  margin-bottom: 10px;
}

.body__font tr td {
  font-size: 18px !important;
}
.fontrowtable {
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  color: #174a67;
}
@media screen and (max-width: 600px) {
  .row__padding {
    padding: unset !important;
  }
}
.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #fff;
  color: #174a67;
  font-size: 1em;
  border: thin solid currentColor;
}
</style>
