<template>
  <div>
    <Loading :isLoadingCheck="isLoading"></Loading>
    <v-row
      class="align-center text-center row__padding rowbg"
      style="padding-top: 0"
    >
      <v-col md="12" sm="12">
        <v-row>
          <v-col md="9" sm="9" class="text-left"> </v-col>
          <v-col md="3" sm="3" class="text-left">
            <p class="title__font" style="margin-bottom: 0px"></p>
          </v-col>
        </v-row>
        <v-data-table
          :headers="headerTeamAvailable"
          :page.sync="page"
          fixed-header
          :items-per-page="itemsPerPage"
          @page-count="pageCount = $event"
          no-data-text="No data available"
          :items="desserts"
          style="white-space: nowrap"
          height="500"
          item-key="cus_id"
          :search="search"
          hide-default-footer
        >
          <template v-slot:[`item.request_date`]="{ item }">
            {{ momenttable(item.request_date) }}
          </template>
          <template v-slot:[`item.s_date`]="{ item }">
            <v-row style="margin-right: 0px" justify="space-around">
              <v-btn
                class="mt-2 mb-2"
                large
                color="#5589BB"
                height="40"
                style="text-transform: capitalize; width: 30%"
                dark
                @click="dataTablenonpmservice(item.user_id)"
                >Approve</v-btn
              >
               <v-btn
                class="mt-2 mb-2"
                large
                color="#C6A5C7"
                height="40"
                style="text-transform: capitalize; width: 30%"
                dark
                @click="ApproveguestApi(item.user_id)"
                >guest</v-btn
              >
              <v-btn
                class="mt-2 mb-2"
                large
                color="#0F75BD"
                height="40"
                outlined
                style="
                  text-transform: capitalize;
                  background-color: #ffffff;
                  width: 30%;
                "
                dark
                @click="deleteLog(item.user_id)"
                >Reject</v-btn
              >
            </v-row>
          </template>
        </v-data-table>
         <v-row>
          <v-col
            cols="12"
            class="hidden-lg-only hidden-xl-only pb-0 pt-0"
            style="display: flex; align-items: center; justify-content: center"
          >
            <v-pagination
              v-model="page"
              :length="pageCount"
              color="#174A67"
              :total-visible="7"
            ></v-pagination>
          </v-col>
          <v-col cols="4" class="d-md-none d-lg-flex hidden-md-only hidden-sm-and-down pb-0 pt-0">
            <v-row>
              <v-col
                cols="12"
                style="padding-top: 50px; !important"
                class="text-start fontrowtable hidden-sm-and-down"
              >
                Showing {{ startRowPerPages || 1 }} to {{ endRowPerPages }} of
                {{ desserts.length }} entries
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="8" class="d-md-none d-lg-flex hidden-md-only hidden-sm-and-down pb-0 pt-0">
            <v-row>
              <v-col
                cols="3"
                style="display: flex; align-items: center"
                class="hidden-sm-and-down"
              >
                <v-row>
                  <v-col
                    cols="9"
                    class="fontrowtable"
                    style="padding-top:38px; !important;"
                    >Row per page :</v-col
                  >
                  <v-col cols="3" class="px-0 py-0">
                    <v-select
                      solo
                      flat
                      style="padding-top: 26px"
                      :items="pagelist"
                      outlined
                      dense
                      :value="itemsPerPage"
                      type="number"
                      class="slcsv"
                      @input="itemsPerPage = parseInt($event, 10)"
                    ></v-select>
                  </v-col>
                </v-row>
              </v-col>
              <v-col
                cols="6"
                style="display: flex; align-items: center; justify-content: end"
              >
                <v-pagination
                  v-model="page"
                  :length="pageCount"
                  color="#174A67"
                  :total-visible="7"
                ></v-pagination>
              </v-col>
              <v-col
                cols="3"
                style="display: flex; align-items: center"
                class="hidden-sm-and-down"
              >
                <v-row>
                  <v-col
                    md="8"
                    class="fontrowtable"
                    style="padding-top: 35px; !important;display: flex;justify-content: end;"
                    >Go to page :</v-col
                  >
                  <v-col md="4" class="px-0 py-0">
                   <v-text-field
                          solo
                          flat
                          v-model.number="pageTextField"
                          @input="checkpage()"
                          min="1"
                          outlined
                          dense
                          :max="pageCount"
                          style="padding-top: 23px"
                          class="txb"
                          type="number"
                        ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <ModalTablenonpmservice />
  </div>
</template>
<script>
import swal from 'sweetalert2'
import { getPendingAPv, userReject, userAPv } from '@/api/pm'
import Loading from '@/components/commons/Loading/Loading'
import moment from 'moment'
import { EventBus } from '@/utils/EventBus'
import ModalTablenonpmservice from '@/components/commons/ModalTablenonpmservice/ModalTablenonpmservice.vue'
import Icon from '@/assets/New Project.png'
export default {
  components: {
    Loading,
    ModalTablenonpmservice
  },
  data () {
    return {
      pagelist: [5, 10, 15, {
        value: Number.MAX_SAFE_INTEGER,
        text: 'all'
      }],
      tab: null,
      items: ['PM Service', 'Non-PM Service'],
      page: 1,
      itemsPerPage: 10,
      pageTextField: 1,
      pageCount: 0,
      search: '',
      headerTeamAvailable: [
        {
          text: 'No.',
          align: 'center',
          sortable: false,
          value: 'user_id',
          width: '5%',
          class: 'header__other text-center'
        },
        {
          text: 'User Request',
          align: 'center',
          value: 'user_oneID',
          class: 'header__other text-center',
          width: '25%',
          sortable: false
        },
        {
          text: 'One Mail',
          align: 'center',
          value: 'one_email',
          class: 'header__other text-center',
          width: '25%',
          sortable: false
        },
        {
          text: 'Request date',
          align: 'center',
          value: 'request_date',
          class: 'header__other text-center',
          width: '25%',
          sortable: false
        },
        {
          text: 'Approval',
          align: 'center',
          value: 's_date',
          width: '20%',
          class: 'header__other text-center',
          sortable: false
        }
      ],
      desserts: [],
      itemSummary: null,
      isLoading: false,
      selectservice: 'All service',
      itemsservice: [
        'All service',
        'PM Service',
        'MNSP Service',
        'BCP Service',
        'Report Service'
      ],
      menu: false,
      date: new Date().toISOString().substr(0, 7)
    }
  },
  computed: {
    numberOfPages () {
      return Math.ceil(this.desserts.length / this.itemsPerPage)
    },
    startRowPerPages () {
      return Math.ceil((this.page - 1) * this.itemsPerPage) + 1
    },
    endRowPerPages () {
      return Math.ceil(this.itemsPerPage * this.page) > this.desserts.length
        ? this.desserts.length
        : Math.ceil(this.itemsPerPage * this.page)
    }
  },
  created () {
    this.getPendingAPv()
  },
  mounted () {
    EventBus.$on('reloaddatatablenonpmservice', this.getPendingAPv)
    EventBus.$on('searchTablepmservice', this.searchTablepmservice)
  },
  methods: {
    checkpage () {
      this.pageTextField = this.pageTextField > 0 || !this.pageTextField ? this.pageTextField : 1
      this.pageTextField = this.pageTextField <= this.pageCount || !this.pageTextField ? this.pageTextField : this.pageCount
      if (this.pageTextField) { this.page = this.pageTextField }
    },
    async getPendingAPv () {
      try {
        this.isLoading = true
        const data = await getPendingAPv()
        this.desserts = data
      } catch (error) {
      } finally {
        this.isLoading = false
      }
    },
    momenttable (data) {
      try {
        return (
          moment(data)
            .add(10, 'days')
            .calendar() +
          ' ' +
          moment(data).format('HH:mm:ss')
        )
      } catch (error) {
        return '-'
      }
    },
    searchTablepmservice (data) {
      this.search = data
    },
    dataTablenonpmservice (userID) {
      // const dataPM = "summary";
      EventBus.$emit('dataTablenonpmservice', userID)
    },
    deleteLog (userid) {
      swal
        .fire({
          imageUrl: Icon,
          imageWidth: 110,
          imageHeight: 120,
          text: 'Are you confirm to Reject this data?',
          reverseButtons: true,
          showCancelButton: true,
          confirmButtonColor: '#174A67',
          confirmButtonText: 'Delete'
        })
        .then(result => {
          if (result.isConfirmed) {
            this.reject(userid)
            swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Deleted!',
              text: 'Your data has been deleted.',
              confirmButtonColor: '#174A67'
            })
          }
        })
    },
    async reject (userid) {
      try {
        await userReject(userid)
        this.getPendingAPv()
      } catch (error) {}
    },
    ApproveguestApi (userid) {
      swal
        .fire({
          imageUrl: Icon,
          imageWidth: 110,
          imageHeight: 120,
          text: 'Do you confirm on approving the User as a Guest?',
          reverseButtons: true,
          showCancelButton: true,
          confirmButtonColor: '#174A67',
          confirmButtonText: 'Confirm'
        })
        .then(result => {
          if (result.isConfirmed) {
            this.ApproveguestApidx(userid)
          }
        })
    },
    async ApproveguestApidx (userid) {
      try {
        //   console.log("%s ====== %s",empID,this.user_id)
        await userAPv(userid, 'guest')
        swal.fire({
          position: 'center',
          icon: 'success',
          title: 'Success',
          showConfirmButton: false,
          timer: 1500
        })
        EventBus.$emit('reloaddatatablenonpmservice')
        this.getPendingAPv()
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>
<style>
.text-start {
  padding-right: 0px !important;
}
.v-pagination__navigation {
  box-shadow: none !important;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 32px;
  width: 32px;
  margin: 0.3rem 10px;
}
.v-pagination__item {
  background: transparent;
  border-radius: 10px;
  font-size: 1rem;
  height: 34px;
  margin: 0.3rem;
  min-width: 34px;
  padding: 0 5px;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  width: auto;
  box-shadow: none !important;
}
.theme--light.v-pagination .v-pagination__item {
  background: #ffffff;
  color: rgba(23, 74, 103, 0.87);
}
.theme--light.v-pagination .v-pagination__item--active {
  color: #ffffff;
}
.slcsv .v-input__slot {
  width: min-content !important;
  border-radius: 10px !important;
}
.txb .v-input__slot {
 border-radius: 10px;
  max-width: 60px;
}
td {
  border: 1px solid #f1f2f6;
}
th {
  border: 1px solid #f1f2f6;
}

.row__padding {
  padding: 24px;
}

.header__other {
  background-color: #5589bb !important;
  color: #ffffff !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.rowbg {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
}

.title__font {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #0f75bd;
}
.title__margin {
  margin-bottom: 10px;
}

.body__font tr td {
  font-size: 18px !important;
}
.fontrowtable {
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  color: #174a67;
}
@media screen and (max-width: 600px) {
  .row__padding {
    padding: unset !important;
  }
}
.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #fff;
  color: #174a67;
  font-size: 1em;
  border: thin solid currentColor;
}
</style>
