<template>
  <div>
    <v-main>
      <v-container fluid style="padding: 30px">
        <v-row class="align-center text-center">
          <v-col
            cols="6"
            sm="8"
            xs="12"
            md="4"
            lg="7"
            style="padding-top: 0; padding-bottom: 0; padding-left: 30px"
          >
            <Loading :isLoadingCheck="isLoading"></Loading>
            <div class="text-left title__margin">
              <v-row class="pl-3">
                <a
                  :href="'/dashboard'"
                  style="color: gray; text-decoration: none"
                  >Dashboard /</a
                >
                <a class="title__top">Assignment</a>
              </v-row>
            </div>
          </v-col>
        </v-row>
        <v-spacer></v-spacer>

        <v-row>
          <v-col cols="12" class="pb-0">
            <p class="title__font mb-0" style="padding-left: 10px;">Assignment</p>
          </v-col>
        </v-row>

        <v-row>
          <v-col md="5" sm="5" style="padding-bottom: 0px"> </v-col>
          <v-col
            md="7"
            sm="7"
            class="text-end"
            style="padding-top: 4px; padding-bottom: 0px"
          >
          <v-btn
                class="ma-2"
                color="#0F75BD"
                height="40"
                style="text-transform: capitalize"
                dark
                @click="openModalAssignment()"
              >
              <feather
                style="color: white"
                type="plus-circle"
                size="26"
                stroke-width="1"
                class="mr-2"
              ></feather>
               Auto Assignment
            </v-btn>

            <v-btn
                class="ma-2"
                color="#0F75BD"
                height="40"
                style="text-transform: capitalize"
                dark
                @click="openModalAddAssignment()"
              >
              <feather
                style="color: white"
                type="file-text"
                size="26"
                stroke-width="1"
                class="mr-2"
              ></feather>
                Manual Assignment
            </v-btn>

          </v-col>
        </v-row>

        <v-row class="mt-2 align-center text-center row__padding rowbgpm">
            <v-col md="12" sm="12">
              <v-data-table
                :headers="headerTeamAvailable"
                :page.sync="page"
                :items="desserts"
                fixed-header
                :items-per-page="itemsPerPage"
                @page-count="pageCount = $event"
                height="450px"
                hide-default-footer
              >
                 <template v-slot:[`item.no`]="{ item }">
                 {{desserts.indexOf(item) + 1}}
                </template>
                so_file

                 <template v-slot:[`item.so_file`]="{ item }">
                 <v-btn
                    color="#0082ba"
                    @click="openapifile(item)"
                    icon
                  >
                   <v-icon>mdi-link-variant</v-icon>
                  </v-btn>
                </template>

                <template v-slot:[`item.request_date`]="{ item }">
                  <span :style="item.is_overdue ? 'color: #FF0000;' : ''">{{ item.date }} </span>
                </template>

                <template v-slot:[`item.add_cus`]="{ item }">
                  <v-btn
                    class="mt-2 mb-2"
                    fab
                    dark
                    x-small
                    color="#5589BB"
                    @click="openModalAddAssignmentCustomer(item)"
                  >
                    <v-icon dark>
                      mdi-plus
                    </v-icon>
                  </v-btn>
                </template>

                <template v-slot:[`item.btn`]="{ item }">
                  <v-row justify="space-around">
                    <v-btn
                      
                      large
                      icon
                      @click="openModalEditAssignmentCustomer(item)"
                      >
                       <feather style="color: gray" type="edit" size="20" ></feather>
                      </v-btn>
                    <v-btn
                     
                      large
                      icon
                      @click="deleteLog(item)"
                      ><feather style="color: gray" type="trash-2" size="20"></feather></v-btn
                    >
                  </v-row>
                </template>

                <!-- <template>
                   <tbody v-if="props.items.length === 0">
                        <tr>
                            <td colspan="8">No data available</td>
                        </tr>
                    </tbody>
                </template> -->
              </v-data-table>

              <v-row>
                <v-col
                  cols="12"
                  class="hidden-lg-only hidden-xl-only pb-0 pt-0"
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  "
                >
                  <v-pagination
                    v-model="page"
                    :length="pageCount"
                    color="#174A67"
                    :total-visible="7"
                  ></v-pagination>
                </v-col>

                <v-col cols="4" class="d-md-none d-lg-flex hidden-md-only hidden-sm-and-down pb-0 pt-0">
                  <v-row>
                    <v-col
                      cols="12"
                      style="padding-top: 50px; !important"
                      class="text-start fontrowtableM hidden-sm-and-down"
                    >
                      Showing {{ startRowPerPages || 1 }} to
                      {{ endRowPerPages }} of {{ desserts.length }} entries
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="8" class="d-md-none d-lg-flex hidden-md-only hidden-sm-and-down pb-0 pt-0">
                  <v-row>
                    <v-col
                      cols="3"
                      style="display: flex; align-items: center"
                      class="hidden-sm-and-down"
                    >
                      <v-row>
                        <v-col
                          cols="8"
                          class="fontrowtableM"
                          style="padding-top:38px; !important;"
                          >Row per page :</v-col
                        >
                        <v-col cols="4" class="px-0 py-0">
                          <v-select
                            solo
                            flat
                            style="padding-top: 26px"
                            :items="pagelist"
                            outlined
                            dense
                            :value="itemsPerPage"
                            type="number"
                            class="slcsv"
                            @input="itemsPerPage = parseInt($event, 10)"
                          ></v-select>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col
                      cols="6"
                      style="
                        display: flex;
                        align-items: center;
                        justify-content: center;
                      "
                    >
                        <v-pagination
                        v-model="page"
                        :length="pageCount"
                        color="#174A67"
                        :total-visible="7"
                      ></v-pagination>
                    </v-col>
                    <v-col
                      cols="3"
                      style="display: flex; align-items: center"
                      class="hidden-sm-and-down"
                    >
                      <v-row>
                        <v-col
                          md="8"
                          class="fontrowtableM"
                          style="padding-top: 35px; !important;display: flex;justify-content: end;"
                          >Go to page :</v-col
                        >
                        <v-col md="4" class="px-0 py-0">
                          <v-text-field
                          solo
                          flat
                          v-model.number="pageTextField"
                          @input="checkpage()"
                          min="1"
                          outlined
                          dense
                          :max="pageCount"
                          style="padding-top: 23px"
                          class="txb"
                          type="number"
                        ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-col>
        </v-row>
      <ModalAssignment />
      <ModalAddAssignment />
      <ModalAddAssignmentCustomer />
      <ModalEditAssignmentCustomer />
      </v-container>
    </v-main>
  </div>
</template>
<script>
import swal from 'sweetalert2'
import Icon from '@/assets/New Project.png'
import moment from 'moment'
import { EventBus } from '@/utils/EventBus'
import { getAssigntable, delAssign, openfileapi } from '@/api/assign'
import { getProfile } from '@/utils/profile'
import Loading from '@/components/commons/Loading/Loading'
import ModalAssignment from '@/components/commons/ModalAssignment/ModalAssignment'
import ModalAddAssignment from '@/components/commons/ModalAddAssignment/ModalAddAssignment'
import ModalAddAssignmentCustomer from '@/components/commons/ModalAddAssignment/ModalAddAssignmentCustomer'
import ModalEditAssignmentCustomer from '@/components/commons/ModalAddAssignment/ModalEditAssignmentCustomer'

export default {
  components: {
    Loading,
    ModalAssignment,
    ModalAddAssignment,
    ModalAddAssignmentCustomer,
    ModalEditAssignmentCustomer
  },

  data () {
    return {
      isLoading: false,
      items: 1,
      pagelist: [5, 10, 15, {
        value: Number.MAX_SAFE_INTEGER,
        text: 'all'
      }],
      dialog2: false,
      page: 1,
      itemsPerPage: 10,
      pageTextField: 1,
      pageCount: 0,
      headerTeamAvailable: [
        {
          text: 'No',
          value: 'no',
          sortable: false,
          class: 'header__other text-center',
          align: 'center'
        },
        {
          text: 'Customer ID',
          value: 'cus_id',
          sortable: false,
          class: 'header__other text-center',
          align: 'center'
        },
        {
          text: 'Customer Name (Thai)',
          value: 'cus_name_th',
          sortable: false,

          class: 'header__other text-center',
          align: 'center'
        },
        {
          text: 'Customer Name (Eng)',
          value: 'cus_name_en',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: 'SO No',
          value: 'so_no',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: 'SO File',
          value: 'so_file',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: 'PM Name',
          value: 'pm_name',
          class: 'header__other text-center',
          sortable: false,
          align: 'center',
          width: '15%'
        },
        {
          text: 'Remark',
          value: 'so_remark',
          class: 'header__other text-center',
          sortable: false,
          align: 'center',
          width: '10%'
        },
        {
          text: 'Date',
          value: 'request_date',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: 'Add Customer',
          value: 'add_cus',
          class: 'header__other text-center',
          sortable: false,
          align: 'center',
         
        },
        {
          text: '',
          align: 'center',
          value: 'btn',
          class: 'header__other text-center',
          sortable: false,
          width: '9%'
        }
      ],
      desserts: []
    }
  },
  computed: {
    numberOfPages () {
      return Math.ceil(this.desserts.length / this.itemsPerPage)
    },
    startRowPerPages () {
      return Math.ceil((this.page - 1) * this.itemsPerPage) + 1
    },
    endRowPerPages () {
      return Math.ceil(this.itemsPerPage * this.page) > this.desserts.length
        ? this.desserts.length
        : Math.ceil(this.itemsPerPage * this.page)
    },
    likesAllFruit () {
      return this.servicenamemodel.length === this.servicenameitems.length
    },
    likesSomeFruit () {
      return this.servicenamemodel.length > 0 && !this.likesAllFruit
    },
    icon () {
      if (this.likesAllFruit) return 'mdi-close-box'
      if (this.likesSomeFruit) return 'mdi-minus-box'
      return 'mdi-checkbox-blank-outline'
    }
  },
  created () {
    this.getAssignapi()
  },
  mounted () {
    EventBus.$on('reloadAssignmentTable', this.getAssignapi)
  },
  methods: {
    checkpage () {
      this.pageTextField = this.pageTextField > 0 || !this.pageTextField ? this.pageTextField : 1
      this.pageTextField = this.pageTextField <= this.pageCount || !this.pageTextField ? this.pageTextField : this.pageCount
      if (this.pageTextField) { this.page = this.pageTextField }
    },
    async openapifile (data) {
      //   console.log(data.pre_so_no)
      this.isLoading = true
      var xml = await openfileapi(data.so_no)
      //   console.log(xml.result[0].folder_id)
      if (xml.result) {
        const taxid = '0107544000094'
        const boxUrl = await `https://box.one.th/redirectdirectory?accesstoken=${localStorage.getItem('one_token')}&taxid=${taxid}&folder_id=${xml.result[0].folder_id}`
        window.open(boxUrl)
      } else {
        swal.fire({
          showConfirmButton: false,
          timer: 2345,
          icon: 'error',
          title: 'No matching information was found.'
        })
      }
      this.isLoading = false
    },
    async getAssignapi () {
      try {
        this.isLoading = true
        var getProfiledata = await getProfile()
        if (getProfiledata.pm_id) {
          var xml = await getAssigntable(getProfiledata, 'table')
          this.desserts = xml.result
        } else {
          var xml = await getAssigntable('admin', 'table')
          this.desserts = xml.result
        }
      } catch (error) {
        console.log(error)
      } finally {
        this.isLoading = false
      }
    },
    openModalAddAssignment () {
      EventBus.$emit('openModalAddAssignment')
    },
    openModalAssignment () {
      EventBus.$emit('openModalAssignment')
      this.isLoading = true
      setTimeout(async () => {
        this.isLoading = false
      }, 1234)
    },
    openModalAddAssignmentCustomer (data) {
      if (data.pm_id) {
        EventBus.$emit('openModalAddAssignmentCustomer', data)
      } else {
        swal.fire({
          position: 'center',
          icon: 'warning',
          title: 'Please add PM name',
          confirmButtonColor: '#FF9E44'
        })
      }
    },
    openModalEditAssignmentCustomer (data) {
      EventBus.$emit('openModalEditAssignmentCustomer', data)
    },
    deleteLog (data) {
      swal
        .fire({
          imageUrl: Icon,
          imageWidth: 110,
          imageHeight: 120,
          text: 'Are you confirm to Delete this data?',
          reverseButtons: true,
          showCancelButton: true,
          confirmButtonColor: '#174A67',
          confirmButtonText: 'Delete'
        })
        .then(async result => {
          if (result.isConfirmed) {
            await delAssign(data.so_id, data.cus_no)
            // swal.fire('Deleted!', 'Your data has been deleted.', 'success')
            await this.getAssignapi()
          }
            swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Deleted!',
              text: 'Your data has been deleted.',
              confirmButtonColor: '#174A67'
            })
        })
    }
  }
}
</script>
<style>
.title__top {
  padding-left: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #174a67 !important;
}
.title__font {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #0f75bd;
}
.title__margin {
  margin-bottom: 10px;
}

.rowbg {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.row__padding {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 24px;
}

.v-pagination__navigation {
  box-shadow: none !important;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 32px;
  width: 32px;
  margin: 0.3rem 10px;
}
.v-pagination__item {
  background: transparent;
  border-radius: 10px;
  font-size: 1rem;
  height: 34px;
  margin: 0.3rem;
  min-width: 34px;
  padding: 0 5px;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  width: auto;
  box-shadow: none !important;
}
.theme--light.v-pagination .v-pagination__item {
  background: #ffffff;
  color: rgba(23, 74, 103, 0.87);
}
.theme--light.v-pagination .v-pagination__item--active {
  color: #ffffff;
}
.slcsv .v-input__slot {
  width: min-content !important;
  border-radius: 10px !important;
}
.txb .v-input__slot {
  border-radius: 10px;
  max-width: 60px;

}
td {
  border: 1px solid #f1f2f6;
}
th {
  border: 1px solid #f1f2f6;
}
.row__padding {
  padding: 24px;
}

.header__other {
  background-color: #5589bb !important;
  color: #ffffff !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.rowbgpm {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  padding-bottom: 0px !important;
}

.fontrowtableM {
  font-weight: 800;
  font-size: 10px;
  line-height: 18px;
  color: #174a67;
}

.body__font tr td {
  font-size: 18px !important;
}

.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #fff;
  color: #174a67;
  font-size: 1em;
  border: thin solid currentColor;
}
</style>
