<template>
  <div style="background-color: #e5e5e5" v-show="isLoading">
    <vue-html2pdf
      :show-layout="true"
      :float-layout="false"
      :enable-download="true"
      :preview-modal="true"
      :paginate-elements-by-height="1080"
      :filename="'dashboard' + Date.now()"
      :pdf-quality="2"
      :manual-pagination="true"
      pdf-format="a3"
      pdf-orientation="landscape"
      pdf-content-width="1420px"
      @hasStartedGeneration="hasStartedGeneration()"
      @hasGenerated="hasGenerated($event)"
      ref="html2Pdf"
    >
      <section slot="pdf-content">
        <v-main>
          <v-container fluid style="padding: 30px">
            <v-spacer></v-spacer>
            <v-row class="align-center text-center row__padding rowbg">
              <v-col md="7" sm="12">
                <div class="text-left title__margin">
                  <p class="title__font">All Service</p>
                </div>
                <v-simple-table
                  :dense="dense"
                  :fixed-header="fixedHeader"
                  height="430px"
                  v-if="itemSummary"
                >
                  <thead>
                    <tr>
                      <th
                        v-for="(item, i) in headerTeamStatus"
                        :key="item"
                        class="header__other text-center"
                      >
                        {{ item }}
                      </th>
                    </tr>
                  </thead>
                  <tbody class="body__font">
                    <tr v-for="(item, i) in itemSummary" :key="item._id">
                      <td width="35%">{{ item.pm_name }}</td>
                      <td>{{ findservices(i, "pm") }}</td>
                      <td>{{ findservices(i, "mnsp") }}</td>
                      <td>{{ findservices(i, "bcp") }}</td>
                      <td>{{ findservices(i, "report") }}</td>
                      <td width="25%" style="padding-right: 0px">
                        <v-row>
                          <v-col sm="7" style="padding-right: 0px">
                            <v-progress-linear
                              :value="
                                (
                                  (item.total / itemSummarymaxvalue) *
                                  100
                                ).toFixed(3)
                              "
                              color="#0F75BD"
                              height="20"
                              background-color="#E0E0E0"
                              style="border-radius: 25px"
                            >
                              <strong></strong>
                            </v-progress-linear>
                          </v-col>
                          <v-col
                            sm="3"
                            style="padding-left: 0px; padding-top: 9px"
                            >{{ item.total }}</v-col
                          >
                        </v-row>
                      </td>
                    </tr>
                  </tbody>
                </v-simple-table>
              </v-col>
              <v-col md="4" sm="12">
                <apexchart
                  class="mt-5"
                  width="450px"
                  height="450px"
                  type="donut"
                  :options="chartOptions"
                  :series="chartOptions.series"
                ></apexchart>
              </v-col>
            </v-row>
            <div class="html2pdf__page-break" />
            <v-row class="mt-8 align-center text-center row__padding rowbg">
              <v-col md="12" sm="12">
                <div class="text-left title__margin">
                  <p class="title__font">PM Service</p>
                </div>
                <v-row class="pl-2 pr-2">
                  <v-col cols="12">
                    <v-row style="cursor: pointer">
                      <v-col
                        v-for="(item, index) in summarypm"
                        :key="index"
                        style="padding: 6px !important"
                      >
                        <v-card
                          :style="`background-color:${
                            index === 0 ? '#174A67' : ''
                          };color:${index === 0 ? '#ffffff' : item.color};`"
                          class="pmservicecard"
                        >
                          <div
                            style="
                              font-weight: 600 !important;
                               font-size: 18px !important;
                            "
                          >
                            {{ item.name }}
                          </div>
                          <div
                            class="mt-1"
                            style="font-size: 1.6em; font-weight: 600"
                          >
                            {{ item.value }}
                          </div>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-simple-table
              :dense="dense"
              :fixed-header="fixedHeader"
              height="400px"
            >
              <thead>
                <tr>
                  <th
                    v-for="(item, i) in headerTeamAvailable"
                    :key="item"
                    class="header__other text-center"
                  >
                    {{ item }}
                  </th>
                </tr>
              </thead>
              <tbody class="body__font">
                <tr v-for="(item, i) in pmservices" :key="item._id">
                  <td width="20%">{{ item.pm_name }}</td>
                  <td width="8%">{{ findsostatus(i, "complete") }}</td>
                  <td width="8%">{{ findsostatus(i, "in_progress") }}</td>
                  <td width="8%">{{ findsostatus(i, "overdue") }}</td>
                  <td width="8%">{{ findsostatus(i, "uat") }}</td>
                  <td width="8%">{{ findsostatus(i, "waiting_customer") }}</td>
                  <td width="8%">{{ findsostatus(i, "waiting_so") }}</td>
                  <td width="8%">{{ findsostatus(i, "terminate") }}</td>
                  <td width="8%">{{ findsostatus(i, "cancel") }}</td>
                  <td width="20%">
                    <v-row>
                      <v-col sm="9" style="padding-right: 0px">
                        <!-- <v-progress-linear v-model="knowledge" :color="(i === 0) ? '#ED7D2B' : '#0F75BD'" height="25" background-color="#E0E0E0" style="border-radius: 25px"> -->
                        <v-progress-linear
                          :value="
                            ((item.total / pmservicesmaxvalue) * 100).toFixed(3)
                          "
                          color="#0F75BD"
                          height="20"
                          background-color="#E0E0E0"
                          style="border-radius: 25px"
                        >
                          <!-- <strong></strong> -->
                        </v-progress-linear>
                      </v-col>
                      <v-col
                        sm="3"
                        style="padding-left: 0px; padding-top: 9px"
                        >{{ item.total }}</v-col
                      >
                    </v-row>
                  </td>
                </tr>
              </tbody>
            </v-simple-table>
          </v-container>
        </v-main>
      </section>
    </vue-html2pdf>
  </div>
</template>
<script>
import {
  getSummarypm,
  getSummaryservicetable,
  getSummaryservicard,
} from "@/api/summary";
import Loading from "@/components/commons/Loading/Loading";
import VueHtml2pdf from "vue-html2pdf";

export default {
  components: {
    Loading,
    VueHtml2pdf,
  },
  data() {
    return {
      summarypm: [],
      pmservices: [],
      pmservicesmaxvalue: 0,
      itemSummarymaxvalue: 0,
      dense: false,
      fixedHeader: true,
      knowledge: 33,
      height: "auto",
      headerTeamStatus: ["PM Name", "PM", "MNSP", "BCP", "Report", "Summary"],
      headerTeamAvailable: [
        "PM Name",
        "Complete",
        "In Progress",
        "Overdue",
        "UAT",
        "Waiting Customer",
        "Waiting Revise SO",
        "Terminate",
        "Cancel",
        "Summary",
      ],
      itemSummary: null,
      isLoading: false,
      items: [
        {
          text: "Summary",
          disabled: false,
          href: "/summary",
          icon: "mdi-account-multiple-plus",
        },
      ],
      chartOptions: {},
    };
  },
  async created() {
    await this.getSummary();
    this.generateReport();
  },
  mounted() {},
  methods: {
    async getSummary() {
      this.isLoading = true;
      const data = await getSummarypm();
      const data2 = await getSummaryservicetable();
      const data3 = await getSummaryservicard();
      const result = await this.findchart(data3.result);
      await this.chartfn(result);
      this.itemSummary = data2.result;
      this.itemSummarymaxvalue = data2.maxSum;
      this.summarypm = data.card;
      this.pmservices = data.table;
      this.pmservicesmaxvalue = data.maxSum;
    },
    findsostatus(i, data) {
      try {
        const found = this.pmservices[i].so_status.find(
          (element) => element.status === data
        );
        return found ? found.count : 0;
      } catch (error) {
        return 0;
      }
    },
    findchart(data) {
      try {
        const foundpm = data.find((element) => element.key === "pm");
        const foundmnsp = data.find((element) => element.key === "mnsp");
        const foundbcp = data.find((element) => element.key === "bcp");
        const foundreport = data.find((element) => element.key === "report");
        return [
          foundpm.value,
          foundmnsp.value,
          foundbcp.value,
          foundreport.value,
        ];
      } catch (error) {
        return [0, 0, 0, 0];
      }
    },
    findservices(i, data) {
      try {
        const found = this.itemSummary[i].services.find(
          (element) => element.service === data
        );
        return found ? found.count : 0;
      } catch (error) {
        return 0;
      }
    },
    chartfn(data) {
      this.chartOptions = {
        colors: [
          "#0F75BD",
          "#FCC419",
          "#58A144",
          "#ED7D2B",
          "rgba(255,87,93,.77)",
        ],
        legend: {
          fontSize: "14px",
          fontFamily: "Helvetica, Arial",
          fontWeight: 400,
          position: "bottom",
          horizontalAlign: "left",
          itemMargin: {
            vertical: 10,
            horizontal: 36,
          },
          // formatter: function (seriesName, opts) {
          //   const spaceLn = 7 - seriesName.length
          //   const joinPlus = spaceLn == 4 ? 0 : spaceLn == 1 ? 3 : 1
          //   const spz = new Array(spaceLn + joinPlus).join('\xa0')
          //   return `${seriesName} ${spz} ${opts.w.globals.series[opts.seriesIndex]}`
          // },
          formatter: function (seriesName, opts) {
            const spaceLn = 7 - seriesName.length;
            const spaceLn2 =
              5 - opts.w.globals.series[opts.seriesIndex].toString().length;
            const joinPlus = spaceLn == 4 ? 0 : spaceLn == 1 ? 3 : 1;
            const spz = new Array(spaceLn + joinPlus).join("\xa0");
            const spz2 = new Array(spaceLn2 * 2).join("\xa0");
            return `${seriesName} ${spz} ${
              opts.w.globals.series[opts.seriesIndex]
            } ${spz2}`;
          },
          // seriesName + spz + '<span style="color: #0F75BD !importan;">' + opts.w.globals.series[opts.seriesIndex] + '</span>'
          markers: {
            radius: 2,
            width: 36,
            height: 19,
            offsetY: 3,
            offsetX: -9,
          },
        },
        dataLabels: {
          enabled: false,
        },
        labels: ["PM", "MNSP", "BCP", "Report"],

        plotOptions: {
          pie: {
            donut: {
              labels: {
                show: true,
                name: {
                  show: true,
                  fontSize: "27px",
                  fontFamily: "Rubik",
                  color: "#dfsda",
                  offsetY: -10,
                },
                value: {
                  show: true,
                  fontSize: "19px",
                  fontFamily: "Helvetica, Arial, sans-serif",
                  fontWeight: 600,
                  color: undefined,
                  offsetY: 16,
                  formatter: function (val) {
                    return val;
                  },
                },
                total: {
                  show: true,
                  fontWeight: 600,
                  label: "All Service",
                  color: "#373d3f",
                  formatter: function (w) {
                    return w.globals.seriesTotals.reduce((a, b) => {
                      return a + b;
                    }, 0);
                  },
                },
              },
            },
          },
        },
        series: data,
      };
    },
    generateReport() {
      this.$refs.html2Pdf.generatePdf();
      this.isLoading = false;
      setTimeout(() => {
        this.$router.push("/");
      }, 1500);
    },
  },
};
</script>
<style>
td {
  border: 1px solid #f1f2f6;
}
th {
  border: 1px solid #f1f2f6;
}
.row__padding {
  padding: 24px;
}

.header__other {
  background-color: #5589bb !important;
  color: #ffffff !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.rowbg {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.title__font {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #0f75bd;
}
.title__margin {
  margin-bottom: 10px;
}

.body__font tr td {
  font-size: 18px !important;
}
@media screen and (max-width: 600px) {
  .row__padding {
    padding: unset !important;
  }
}
</style>
