<template>
  <div>
    <v-main>
      <v-container fluid style="padding: 30px">
        <v-row class="align-center text-center">
          <v-col
            cols="6"
            sm="8"
            xs="12"
            md="4"
            lg="7"
            style="padding-top: 0; padding-bottom: 0"
          >
            <Loading :isLoadingCheck="isLoading"></Loading>
            <div class="text-left title__margin">
              <p class="title__topse">All Service</p>
            </div>
          </v-col>
        </v-row>

        <v-spacer></v-spacer>

        <v-row
          class="ml-0"
          style="
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;
          "
        >
          <v-col
            v-for="(item, index) in summaryservice"
            :key="index"
            cols="1"
            :style="`
              background-color: ${index === 0 ? '#174a67' : '#d4eaf2'};
              color: ${index === 0 ? '#ffffff' : '#174a67'};
              text-align: center;
              margin: 5px;`"
            class="servicecol"
            >
            <div class="mt-2">{{ item.name }}</div>
            <div class="mt-5">{{ item.value }}</div>
            </v-col>
        </v-row>
        <v-row class="pt-4">
          <v-col md="5" sm="5" style="padding-bottom: 0px">
            <v-text-field
              dense
              solo
              flat
              prepend-inner-icon="mdi-magnify"
              v-model="search"
              @input="searchall()"
              label="Search"
              style="margin-left: 5px"
            ></v-text-field>
          </v-col>
          <v-col
            md="7"
            sm="7"
            class="text-end"
            style="padding-top: 4px; padding-bottom: 0px"
          >
            <v-btn
              v-if="profile.pm_id || profile.user_id === '000'"
              class="ma-2"
              color="#0F75BD"
              height="40"
              style="text-transform: capitalize"
              dark
              @click="openModalAddCustomer()"
            >
              <feather
                style="color: white"
                type="plus-circle"
                size="26"
                stroke-width="1"
                class="mr-2"
              ></feather>
              Add Customer
            </v-btn>

            <v-btn
              class="ma-2"
              outlined
              color="#0F75BD"
              height="40"
              @click="exportXcel()"
              style="background-color: #ffffff; text-transform: capitalize"
              ><v-icon left>mdi-export-variant</v-icon>Export</v-btn
            >
          </v-col>
        </v-row>
        <v-row class="mt-2 align-center text-center row__padding rowbgpm">
          <v-col md="12" sm="12">
            <v-row>
            </v-row>
            <v-row style="justify-content: space-between">
              <v-col md="3" sm="6" xs="6" style="padding-bottom: 0px">
              </v-col>
              <v-col
                cols="12"
                md="3"
                sm="6"
                xs="6"
                class="text-end"
                style="
                  padding-top: 4px;
                  padding-bottom: 0px;
                  padding-right: 13px;
                "
              >
                <p class="title__font text-start">Select Date</p>
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="date"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      class="mt-2"
                      :value="computedDateFormattedMomentjs"
                      label="Month Year"
                      append-icon="mdi-calendar"
                      readonly
                      dense
                      outlined
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="date"
                    type="month"
                    no-title
                    scrollable
                  >
                    <v-spacer></v-spacer>
                    <v-btn
                      text
                      color="primary"
                      @click="(menu = false), $refs.menu.save(), searchall()"
                    >
                      Cancel
                    </v-btn>
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.menu.save(date), searchall(date)"
                    >
                      OK
                    </v-btn>
                  </v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
            <v-data-table
              :items="desserts"
              :headers="headerTeamAvailable"
              :page.sync="page"
              fixed-header
              :items-per-page="itemsPerPage"
              @page-count="pageCount = $event"
              height="500px"
              hide-default-footer
            >
              <template v-slot:[`header.cus_id`]="{ header }">
                {{ header.text }}
                <v-menu left offset-y :close-on-content-click="false">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn class="mb-1" icon v-bind="attrs" v-on="on">
                      <v-icon color="#ffffff"> mdi-filter-variant </v-icon>
                    </v-btn>
                  </template>
                  <v-list
                    width="150px"
                    style="padding-top: 0px; padding-bottom: 0px"
                  >
                    <v-list-item
                      @click="vlistitemcusid('All Status')"
                      link
                      :style="
                        datamenucustomer === 'All Status'
                          ? 'background: #EFFAFF;'
                          : ''
                      "
                    >
                      <v-list-item-title
                        :style="
                          datamenucustomer === 'All Status'
                            ? 'color: #0F75BD;'
                            : ''
                        "
                        >All Status</v-list-item-title
                      >
                    </v-list-item>
                    <v-list-item
                      @click="vlistitemcusid('Normal')"
                      link
                      :style="
                        datamenucustomer === 'Normal'
                          ? 'background: #EFFAFF;'
                          : ''
                      "
                    >
                      <v-list-item-title
                        :style="
                          datamenucustomer === 'Normal' ? 'color: #0F75BD;' : ''
                        "
                        >Normal</v-list-item-title
                      >
                    </v-list-item>
                    <v-list-item
                      @click="vlistitemcusid('Critical')"
                      link
                      :style="
                        datamenucustomer === 'Critical'
                          ? 'background: #EFFAFF;'
                          : ''
                      "
                    >
                      <v-list-item-title
                        :style="
                          datamenucustomer === 'Critical'
                            ? 'color: #0F75BD;'
                            : ''
                        "
                        >Critical</v-list-item-title
                      >
                    </v-list-item>
                  </v-list>
                </v-menu>
              </template>

              <template v-slot:[`header.pm_name`]="{ header }">
                {{ header.text }}
                <v-menu offset-y :close-on-content-click="false">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn class="mb-1" icon v-bind="attrs" v-on="on">
                      <v-icon color="#ffffff"> mdi-filter-variant </v-icon>
                    </v-btn>
                  </template>
                  <v-row
                    style="
                      background-color: white;
                      max-width: 600px;
                      padding-bottom: 0px;
                    "
                    class="px-12"
                  >
                    <v-col cols="12" class="pt-5" style="padding-left: 0px">
                      <div class="pb-3"><p>Filter by pm</p></div>
                      <v-autocomplete
                        v-model="pmnamemodel"
                        :items="pmnameitems"
                        @change="searchall()"
                        outlined
                        dense
                        chips
                        small-chips
                        multiple
                      ></v-autocomplete>
                    </v-col>
                    <v-col
                      cols="12"
                      class="text-end"
                      style="padding-left: 0px; padding-top: 0px"
                    >
                      <v-btn
                        @click="(pmnamemodel = []), searchall()"
                        small
                        dark
                        color="#5589bb"
                        >Clear</v-btn
                      >
                    </v-col>
                  </v-row>
                </v-menu>
              </template>

              <template v-slot:[`header.service`]="{ header }">
                {{ header.text }}
                <v-menu offset-y :close-on-content-click="false">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn class="mb-1" icon v-bind="attrs" v-on="on">
                      <v-icon color="#ffffff"> mdi-filter-variant </v-icon>
                    </v-btn>
                  </template>
                  <v-row
                    style="
                      background-color: white;
                      max-width: 500px;
                      padding-bottom: 0px;
                    "
                    class="px-12"
                  >
                    <v-col cols="12" class="pt-5" style="padding-left: 0px">
                      <div class="pb-3"><p>Filter by service</p></div>
                      <v-select
                        v-model="servicenamemodel"
                        :items="servicenameitems"
                        @change="searchall()"
                        multiple
                        outlined
                        dense
                        chips
                        small-chips
                        persistent-hint
                      >
                        <template v-slot:prepend-item>
                          <v-list-item ripple @click="toggle">
                            <v-list-item-action>
                              <v-icon
                                :color="
                                  servicenamemodel.length > 0 ? '#5589bb' : ''
                                "
                              >
                                {{ icon }}
                              </v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                              <v-list-item-title>
                                Select All
                              </v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <v-divider class="mt-2"></v-divider>
                        </template>
                      </v-select>
                    </v-col>
                    <v-col
                      cols="12"
                      class="text-end"
                      style="padding-left: 0px; padding-top: 0px"
                    >
                    </v-col>
                  </v-row>
                </v-menu>
              </template>

              <template v-slot:[`header.status`]="{ header }">
                {{ header.text }}
                <v-menu offset-y :close-on-content-click="false">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn class="mb-1" icon v-bind="attrs" v-on="on">
                      <v-icon color="#ffffff"> mdi-filter-variant </v-icon>
                    </v-btn>
                  </template>
                  <v-row
                    style="
                      background-color: white;
                      max-width: 500px;
                      padding-bottom: 0px;
                    "
                    class="px-12"
                  >
                    <v-col cols="12" class="pt-5" style="padding-left: 0px">
                      <div class="pb-3"><p>Filter by status</p></div>
                      <v-select
                        v-model="statusmodel"
                        :items="statusitems"
                        @change="searchall()"
                        multiple
                        outlined
                        chips
                        small-chips
                        persistent-hint
                      >
                        <template v-slot:prepend-item>
                          <v-list-item ripple @click="toggle2">
                            <v-list-item-action>
                              <v-icon
                                :color="statusmodel.length > 0 ? '#5589bb' : ''"
                              >
                                {{ icon2 }}
                              </v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                              <v-list-item-title>
                                Select All
                              </v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <v-divider class="mt-2"></v-divider>
                        </template>
                      </v-select>
                    </v-col>
                    <v-col
                      cols="12"
                      class="text-end"
                      style="padding-left: 0px; padding-top: 0px"
                    >
                    </v-col>
                  </v-row>
                </v-menu>
              </template>

                <template v-slot:[`header.switchhd`]="{ header }">
                  {{ header.text }}
                <v-menu left offset-y :close-on-content-click="false">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn class="mb-1" icon v-bind="attrs" v-on="on">
                      <v-icon color="#ffffff"> mdi-filter-variant </v-icon>
                    </v-btn>
                  </template>
                  <v-list
                    width="150px"
                    style="padding-top: 0px; padding-bottom: 0px"
                  >
                    <v-list-item
                      @click="vlistactive('All Status')"
                      link
                      :style="
                        datamenuactive === 'All Status'
                          ? 'background: #EFFAFF;'
                          : ''
                      "
                    >
                      <v-list-item-title
                        :style="
                          datamenuactive === 'All Status'
                            ? 'color: #0F75BD;'
                            : ''
                        "
                        >All Status</v-list-item-title
                      >
                    </v-list-item>
                    <v-list-item
                      @click="vlistactive('active')"
                      link
                      :style="
                        datamenuactive === 'active'
                          ? 'background: #EFFAFF;'
                          : ''
                      "
                    >
                      <v-list-item-title
                        :style="
                          datamenuactive === 'active' ? 'color: #0F75BD;' : ''
                        "
                        >Active</v-list-item-title
                      >
                    </v-list-item>
                    <v-list-item
                      @click="vlistactive('inactive')"
                      link
                      :style="
                        datamenuactive === 'inactive'
                          ? 'background: #EFFAFF;'
                          : ''
                      "
                    >
                      <v-list-item-title
                        :style="
                          datamenuactive === 'inactive'
                            ? 'color: #0F75BD;'
                            : ''
                        "
                        >Inactive</v-list-item-title
                      >
                    </v-list-item>
                  </v-list>
                </v-menu>
              </template>

              <template v-slot:body="props">
                <tbody v-if="props.items.length === 0">
                 <tr>
                    <td colspan="8">No data available</td>
                  </tr>
                </tbody>
                <tbody v-for="(xml, index) in props.items" :key="index">
                  <tr style="border: 1px solid #002ee4">
                    <td
                      width="13%"
                      :rowspan="xml.so_no.length"
                      :style="`${
                        xml.so_no.length > 1
                          ? 'vertical-align:top;border-bottom-width: 3px;'
                          : ''
                      }`"
                      :class="`${xml.so_no.length === 1 ? '' : 'pt-3'}`"
                    >
                      <v-icon
                        :color="xml.cus_critical ? '#F03D3E' : '#0F75BD'"
                        small
                        style="padding-bottom: 3px"
                        >mdi-circle</v-icon
                      >
                      {{ xml.cus_id }}
                    </td>
                    <td
                      width="21%"
                      :rowspan="xml.so_no.length"
                      :style="`${
                        xml.so_no.length > 1
                          ? 'vertical-align:top;border-bottom-width: 3px;'
                          : ''
                      }`"
                      :class="`${xml.so_no.length === 1 ? '' : 'pt-3'}`"
                    >
                      {{ xml.cus_name }}
                    </td>
                    <td width="14%" :style="xml.so_no[0].so_activate == 'inactive' ? 'background-color:gainsboro;' : ''">{{ xml.so_no[0].pm_name }}</td>
                    <td width="17%" :style="xml.so_no[0].so_activate == 'inactive' ? 'background-color:gainsboro;' : ''">{{ xml.so_no[0].so_no || "-" }}</td>
                    <td width="10%" :style="xml.so_no[0].so_activate == 'inactive' ? 'background-color:gainsboro;' : ''">
                      {{ xml.so_no[0].services.join().toUpperCase() }}
                    </td>
                    <td width="11%" :style="xml.so_no[0].so_activate == 'inactive' ? 'background-color:gainsboro;' : ''">
                      <span :style="checkcolor(xml.so_no[0].so_status)">{{
                        checksostatus(xml.so_no[0].so_status)
                      }}</span>
                    </td>

                    <td
                      style="background: #effaff; border-bottom-width: 3px"
                      :rowspan="xml.so_no.length"
                      width="9%"
                    >
                      <a @click="seemore(xml)">View Detail</a>
                    </td>
                    <td
                      style="background: #effaff; border-bottom-width: 3px"
                      :rowspan="xml.so_no.length"
                      width="5%"
                    >
                      <v-switch
                        :disabled="!(profile.pm_id || profile.user_id === '000')"
                        :input-value="xml.cus_activate"
                        @change="switchcusactivate(xml)"
                        class="pl-3"
                        color="#58A144"
                        inset
                      ></v-switch>
                    </td>
                  </tr>

                  <tr
                    v-for="(item, index) in xml.so_no"
                    :key="index"
                    v-if="index"
                    :style="item.so_activate == 'inactive' ? 'background-color:gainsboro;' : ''"
                  >
                    <td v-if="index">{{ item.pm_name || "-" }}</td>
                    <td v-if="index">{{ item.so_no || "-" }}</td>
                    <td v-if="index">
                      {{ item.services.join().toUpperCase() }}
                    </td>
                    <td>
                      <span :style="checkcolor(item.so_status)">{{
                        checksostatus(item.so_status)
                      }}</span>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-data-table>

            <v-row>
              <v-col
                cols="12"
                class="hidden-lg-only hidden-xl-only pb-0 pt-0"
                style="display: flex; align-items: center; justify-content: center;"
                >
                <v-pagination
                  v-model="page"
                  :length="pageCount"
                  color="#174A67"
                  :total-visible="7"
                ></v-pagination>
              </v-col>
              <v-col
                cols="4"
                class="d-md-none d-lg-flex  hidden-md-only hidden-sm-and-down pb-0 pt-0"
              >
                <v-row>
                  <v-col
                    cols="12"
                    style="padding-top: 50px; !important"
                    class="text-start fontrowtable hidden-sm-and-down"
                  >
                    Showing {{ startRowPerPages || 1 }} to
                    {{ endRowPerPages }} of {{ desserts.length }} entries
                  </v-col>
                </v-row>
              </v-col>
              <v-col
                cols="8"
                class="d-md-none d-lg-flex  hidden-md-only hidden-sm-and-down pb-0 pt-0"
              >
                <v-row>
                  <v-col
                    cols="3"
                style="display: flex; align-items: center"
                    class="hidden-sm-and-down"
                  >
                    <v-row>
                      <v-col
                    cols="9"
                    class="fontrowtable"
                    style="padding-top:38px; !important;"
                    >Row per page :</v-col
                  >
                  <v-col cols="3" class="px-0 py-0">
                    <v-select
                      solo
                      flat
                      style="padding-top: 26px"
                          :items="pagelist"
                          outlined
                          dense
                          :value="itemsPerPage"
                          type="number"
                          class="slcsv"
                          @input="itemsPerPage = parseInt($event, 10)"
                        ></v-select>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col
                    cols="6"
                    style="display: flex; align-items: center; justify-content: end"
                    class="justify-end pb-0 pt-0"
                  >
                    <v-pagination
                      v-model="page"
                      :length="pageCount"
                      color="#174A67"
                      :total-visible="7"
                    ></v-pagination>
                  </v-col>
                  <v-col
                    cols="3"
                    style="display: flex; align-items: center"
                    class="hidden-sm-and-down"
                  >
                    <v-row>
                      <v-col
                        md="8"
                        class="fontrowtable"
                        style="padding-top: 35px; !important;display: flex;justify-content: end;"
                    >Go to page :</v-col
                      >
                      <v-col md="4" cols="4" class="px-0 py-0">
                        <v-text-field
                          solo
                          flat
                          v-model.number="pageTextField"
                          @input="checkpage()"
                          min="1"
                          outlined
                          dense
                          :max="pageCount"
                          style="padding-top: 23px"
                          class="txb"
                          type="number"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <ModalAddCustomer />
      </v-container>
    </v-main>
  </div>
</template>
<script>
import { EventBus } from '@/utils/EventBus'
import { getProfile } from '@/utils/profile'
import { exportService } from '@/utils/exportExcel/service'
import { getServicetable, EditcusAtv } from '@/api/service'
import { getSummaryservicard } from '@/api/summary'
import { getPM } from '@/api/pm'
import Loading from '@/components/commons/Loading/Loading'
import moment from 'moment'
import ModalAddCustomer from '@/components/commons/ModalAddCustomer/ModalAddCustomer'

export default {
  components: {
    Loading,
    ModalAddCustomer
  },
  data () {
    return {
      pagelist: [5, 10, 15, {
        value: Number.MAX_SAFE_INTEGER,
        text: 'all'
      }],
      datamenucustomer: 'All Status',
      datamenuactive: 'active',
      page: 1,
      pageTextField: 1,
      itemsPerPage: 5,
      pageCount: 0,
      search: '',
      cusidse: '',
      statusmodel: [
        'Complete',
        'In Progress',
        'Overdue',
        'UAT',
        'Waiting Customer',
        'Waiting Revise SO',
        'Terminate',
        'Cancel',
        'Expire'
      ],
      statusitems: [
        'Complete',
        'In Progress',
        'Overdue',
        'UAT',
        'Waiting Customer',
        'Waiting Revise SO',
        'Terminate',
        'Cancel',
        'Expire'
      ],
      servicenamemodel: ['PM', 'BCP', 'MNSP', 'REPORT'],
      servicenameitems: ['PM', 'BCP', 'MNSP', 'REPORT'],
      pmnamemodel: [],
      pmnameitems: [],
      summaryservice: [
        { name: 'All Service', value: 3210 },
        { name: 'PM Service', value: 27 },
        { name: 'MSNP Service', value: 38 },
        { name: 'BCP Service', value: 30 },
        { name: 'Report Service', value: 30 }
      ],
      switch1: true,
      headerTeamAvailable: [
        {
          text: 'Customer ID',
          value: 'cus_id',
          sortable: false,
          class: 'header__other text-center',
          align: 'center'
        },
        {
          text: 'Customer Name',
          value: 'cus_name',
          sortable: false,
          class: 'header__other text-center',
          align: 'center'
        },
        {
          text: 'PM Name',
          value: 'pm_name',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: 'SO No.',
          value: 'so_no',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: 'Service',
          value: 'service',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: 'Status',
          value: 'status',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: '',
          value: '',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: '',
          value: 'switchhd',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        }
      ],
      desserts: [],
      dessertsimpt: [],
      dessertsimptreal: [],
      itemSummary: null,
      isLoading: false,
      selectservice: 'All service',
      itemsservice: [
        'All service',
        'PM Service',
        'MNSP Service',
        'BCP Service',
        'Report Service'
      ],
      menu: false,
      date: null,
      checkst: {
        complete: { no: '2', name: 'Complete', color: '#58A144' },
        in_progress: { no: '3', name: 'In Progress', color: '#FCC419' },
        uat: { no: '5', name: 'UAT', color: '#0F75BD' },
        waiting_customer: {
          no: '6',
          name: 'Waiting Customer',
          color: '#ED7D2B'
        },
        waiting_so: { no: '7', name: 'Waiting Revise SO', color: '#ED7D2B' },
        terminate: { no: '8', name: 'Terminate', color: '#6C49B8' },
        cancel: { no: '9', name: 'Cancel', color: '#AEAEAE' },
        expire: { no: '10', name: 'Expire', color: '#757575' },
        overdue: {
          no: '4',
          key: 'overdue',
          name: 'Overdue',
          color: '#F03D3E',
          value: 0
        }
      },
      timeout: null,
      profile: {}
    }
  },
  computed: {
    numberOfPages () {
      return Math.ceil(this.desserts.length / this.itemsPerPage)
    },
    startRowPerPages () {
      return Math.ceil((this.page - 1) * this.itemsPerPage) + 1
    },
    endRowPerPages () {
      return Math.ceil(this.itemsPerPage * this.page) > this.desserts.length
        ? this.desserts.length
        : Math.ceil(this.itemsPerPage * this.page)
    },
    computedDateFormattedMomentjs () {
      return this.date ? moment(this.date).format('MMMM YYYY') : ''
    },
    likesAllFruit () {
      return this.servicenamemodel.length === this.servicenameitems.length
    },
    likesSomeFruit () {
      return this.servicenamemodel.length > 0 && !this.likesAllFruit
    },
    likesAllFruit2 () {
      return this.statusmodel.length === this.statusitems.length
    },
    likesSomeFruit2 () {
      return this.statusmodel.length > 0 && !this.likesAllFruit2
    },
    icon () {
      if (this.likesAllFruit) return 'mdi-close-box'
      if (this.likesSomeFruit) return 'mdi-minus-box'
      return 'mdi-checkbox-blank-outline'
    },
    icon2 () {
      if (this.likesAllFruit2) return 'mdi-close-box'
      if (this.likesSomeFruit2) return 'mdi-minus-box'
      return 'mdi-checkbox-blank-outline'
    }
  },
  async created () {
    await this.getSummary()
    await this.getProfileapi()
    await this.krogdata()
    await this.searchcusactivate()
    // console.log(this.desserts)
  },
  mounted () {
    EventBus.$on('reloadService', this.EventBusreload)
  },
  methods: {
    async EventBusreload () {
      this.search = ''
      this.datamenucustomer = 'All Status'
      this.datamenuactive = 'active'
      this.servicenamemodel = ['PM', 'BCP', 'MNSP', 'REPORT']
      this.statusmodel = ['Complete', 'In Progress', 'Overdue', 'UAT', 'Waiting Customer', 'Waiting Revise SO', 'Terminate', 'Cancel', 'Expire']
      this.pmnamemodel = []
      this.datamenuactive = 'active'
      await this.getSummary()
      await this.krogdata()
      await this.searchcusactivate()
    },
    async krogdata () {
      var arrrray = []
      for (var xml in this.desserts) {
        if (this.desserts[xml].so_no.length === 1) {
          var amcv = await JSON.parse(JSON.stringify(this.desserts[xml]))
          arrrray.push(amcv)
        } else if (this.desserts[xml].so_no.length > 1) {
          var filterarray = this.desserts[xml].so_no.filter((sono) => {
            return sono.so_activate !== 'inactive'
          })
          if (filterarray.length > 0) {
            var mcvx = await JSON.parse(JSON.stringify(this.desserts[xml]))
            mcvx.so_no = filterarray
            arrrray.push(mcvx)
          } else {
            var mcvc = await JSON.parse(JSON.stringify(this.desserts[xml]))
            arrrray.push(mcvc)
          }
        }
      }
      this.desserts = arrrray
      this.dessertsimpt = await JSON.parse(JSON.stringify(arrrray))
    },
    async getProfileapi () {
      const profile = await getProfile()
      this.profile = profile
    },
    checkpage () {
      this.pageTextField = this.pageTextField > 0 || !this.pageTextField ? this.pageTextField : 1
      this.pageTextField = this.pageTextField <= this.pageCount || !this.pageTextField ? this.pageTextField : this.pageCount
      if (this.pageTextField) { this.page = this.pageTextField }
    },
    async getSummary () {
      try {
        this.isLoading = true
        const data = await getServicetable()
        const pm = await getPM('all')
        this.pmnameitems = pm.map((x) => {
          return {
            text: x.pm_name + ' ' + '(' + x.pm_nickname + ')',
            value: x.pm_name
          }
        })
        this.dessertsimptreal = await JSON.parse(JSON.stringify(data.table))
        this.dessertsimpt = await JSON.parse(JSON.stringify(data.table))
        this.desserts = data.table
        const data3 = await getSummaryservicard()
        this.summaryservice = data3.result
      } catch (error) {
      } finally {
        this.isLoading = false
      }
    },
    async exportXcel () {
      exportService(this.desserts)
    },
    openModalAddCustomer () {
      EventBus.$emit('openModalAddCustomer')
    },
    async switchcusactivate (data) {
      try {
        this.isLoading = true
        var xml = !data.cus_activate
        await EditcusAtv(data.cus_no, xml)
      } catch (error) {
      } finally {
        setTimeout(async () => {
          await this.getSummary()
          await this.searchall()
          this.isLoading = false
        }, 1000)
      }
    },
    async searchall () {
      clearTimeout(this.timeout)
      this.timeout = setTimeout(async () => {
        this.desserts = await JSON.parse(JSON.stringify(this.dessertsimpt))
        if (this.search) {
          this.desserts = await JSON.parse(JSON.stringify(this.dessertsimptreal))
          await this.searchdata()
        }
        if (this.date) {
          await this.checkmonth()
        }
        if (this.datamenucustomer !== 'All Status') {
          await this.searchcusid()
        }
        if (this.datamenuactive !== 'All Status') {
          await this.searchcusactivate()
        }
        if (this.pmnamemodel.length > 0) {
          await this.searchpmname()
        }
        if (
          this.servicenamemodel.length < 4 &&
        this.servicenamemodel.length > 0
        ) {
          await this.searchservice()
        }
        if (
          this.statusmodel.length < this.statusitems.length &&
        this.statusmodel.length > 0
        ) {
          await this.searchstatus()
        }
        this.page = 1
      }, 500)
    },
    vlistitemcusid (data) {
      this.datamenucustomer = data
      this.searchall()
    },
    vlistactive (data) {
      this.datamenuactive = data
      this.searchall()
    },
    async searchpmname () {
      // const result = this.desserts.filter((desserts) => {
      //   return desserts.so_no.find((sono) => {
      //     return this.pmnamemodel.find((pmnamemodel) => {
      //       return sono.pm_name.includes(pmnamemodel)
      //     })
      //   })
      // })
      var arrrray = []
      for (var xml in this.desserts) {
        var filterarray = this.desserts[xml].so_no.filter((sono) => {
          return this.pmnamemodel.find((pmnamemodel) => {
            return sono.pm_name.includes(pmnamemodel)
          })
        })
        if (filterarray.length > 0) {
          var mcv = await JSON.parse(JSON.stringify(this.desserts[xml]))
          mcv.so_no = filterarray
          arrrray.push(mcv)
        }
      }
      this.desserts = arrrray
    },
    async  searchstatus () {
      // const result = this.desserts.filter((desserts) => {
      //   return desserts.so_no.find((sono) => {
      //     return this.statusmodel.includes(this.checkst[sono.so_status].name)
      //   })
      // })
      var arrrray = []
      for (var xml in this.desserts) {
        var filterarray = this.desserts[xml].so_no.filter((sono) => {
          return this.statusmodel.includes(this.checkst[sono.so_status].name)
        })
        if (filterarray.length > 0) {
          var mcv = await JSON.parse(JSON.stringify(this.desserts[xml]))
          mcv.so_no = filterarray
          arrrray.push(mcv)
        }
      }

      this.desserts = arrrray
    },
    async searchservice () {
      var servicenamemodels = this.servicenamemodel.map((x) => x.toLowerCase())
      var arrrray = []
      for (var xml in this.desserts) {
        var filterarray = this.desserts[xml].so_no.filter((sono) => {
          return sono.services.some((r) => servicenamemodels.indexOf(r) >= 0)
        })
        if (filterarray.length > 0) {
          var mcv = await JSON.parse(JSON.stringify(this.desserts[xml]))
          mcv.so_no = filterarray
          arrrray.push(mcv)
        }
      }
      // const result = this.desserts.filter((desserts) => {
      //   return desserts.so_no.find((sono) => {
      //     return sono.services.some((r) => servicenamemodels.indexOf(r) >= 0)
      //   })
      // })
      this.desserts = arrrray
    },
    searchcusid () {
      var xml = this.datamenucustomer !== 'Normal'
      const result = this.desserts.filter((desserts) => {
        return desserts.cus_critical === xml
      })
      this.desserts = result
    },
    searchcusactivate () {
      var xml = this.datamenuactive !== 'inactive'
      const result = this.desserts.filter((desserts) => {
        return desserts.cus_activate === xml
      })
      // {{xml.cus_activate}}
      this.desserts = result
    },
    async searchdata () {
      // const result = this.desserts.filter((desserts) => {
      //   return (
      //     desserts.cus_id.toLowerCase().includes(this.search.toLowerCase()) ||
      //     desserts.cus_name.toLowerCase().includes(this.search.toLowerCase()) ||
      //     desserts.so_no.find((sono) => {
      //       return sono.so_no.toLowerCase().includes(this.search.toLowerCase())
      //     })
      //   )
      // })
      var arrrray = []
      for (var xml in this.desserts) {
        var findsono = this.desserts[xml].so_no.filter((sono) => {
          return sono.so_no.toLowerCase().includes(this.search.toLowerCase())
        })
        if (this.desserts[xml].cus_id.toLowerCase().includes(this.search.toLowerCase()) ||
         this.desserts[xml].cus_name.toLowerCase().includes(this.search.toLowerCase()) ||
         findsono.length > 0) {
          var mcv = await JSON.parse(JSON.stringify(this.desserts[xml]))
          if (findsono.length > 0) {
            // mcv.so_no = findsono
            arrrray.push(mcv)
          } else {
            arrrray.push(mcv)
          }
        }
      }
      this.desserts = arrrray
    },
    async checkmonth () {
      var arraycheckmonth = []
      var newDate = new Date(this.date)
      var xmlmonth = newDate.getUTCMonth() + 1
      var xmlyear = newDate.getUTCFullYear()
      for (var xml in this.desserts) {
        var result = this.desserts[xml].so_no.filter((sono) => {
          var snono = new Date(sono.start_date)
          var month = snono.getUTCMonth() + 1
          var year = snono.getUTCFullYear()
          return month === xmlmonth && year === xmlyear
        })
        if (result.length > 0) {
          var mcv = await JSON.parse(JSON.stringify(this.desserts[xml]))
          mcv.so_no = result
          arraycheckmonth.push(mcv)
        }
      }
      // const result = this.desserts.filter((desserts) => {
      //   return desserts.so_no.find((sono) => {
      //     var snono = new Date(sono.start_date)
      //     var month = snono.getUTCMonth() + 1
      //     var year = snono.getUTCFullYear()
      //     return month === xmlmonth && year === xmlyear
      //   })
      // })
      this.desserts = arraycheckmonth
    },
    seemore (cusid) {
      var xmc = cusid.so_no.find((data) => {
        return data.so_activate === 'active'
      })
      const routeData = this.$router.resolve({
        name: 'PMServiceDetail',
        query: { cusno: cusid.cus_no, soactivate: xmc ? 'active' : 'inactive' }
      })
      window.open(routeData.href, '_blank')
    },
    checkcolor (data) {
      try {
        var xml =
          'font-style: normal;font-weight: normal;font-size: 14px;line-height: 24px;'
        xml += `color: ${this.checkst[data].color};`
        return xml
      } catch (error) {
        return '-'
      }
    },
    checksostatus (data) {
      try {
        var xddd = this.checkst[data].name
        return xddd
      } catch (error) {
        return '-'
      }
    },
    toggle () {
      this.$nextTick(() => {
        if (this.likesAllFruit) {
          this.servicenamemodel = []
        } else {
          this.servicenamemodel = this.servicenameitems
          this.searchall()
        }
      })
    },
    toggle2 () {
      this.$nextTick(() => {
        if (this.likesAllFruit2) {
          this.statusmodel = []
        } else {
          this.statusmodel = this.statusitems
          this.searchall()
        }
      })
    }
  }
}
</script>

<style>
.custom-red .v-input--selection-controls__input div {
  color: red;
}
.v-pagination__navigation {
  box-shadow: none !important;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 32px;
  width: 32px;
  margin: 0.3rem 10px;
}
.v-pagination__item {
  background: transparent;
  border-radius: 10px;
  font-size: 1rem;
  height: 34px;
  margin: 0.3rem;
  min-width: 34px;
  padding: 0 5px;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  width: auto;
  box-shadow: none !important;
}
.theme--light.v-pagination .v-pagination__item {
  background: #ffffff;
  color: rgba(23, 74, 103, 0.87);
}
.theme--light.v-pagination .v-pagination__item--active {
  color: #ffffff;
}
.slcsv .v-input__slot {
  width: min-content !important;
  border-radius: 10px !important;
}
.txb .v-input__slot {
  border-radius: 10px;
  max-width: 60px;
}
td {
  border: 1px solid #f1f2f6;
}
th {
  border: 1px solid #f1f2f6;
}

.row__padding {
  padding: 24px;
}

.header__other {
  background-color: #5589bb !important;
  color: #ffffff !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.rowbgpm {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  padding-bottom: 0px !important;
}
.servicecol {
  width: 180px !important;
  min-width: 170px !important;
  height: 110px;
  border-radius: 4px;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.title__topse {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #174a67 !important;
  margin-left: 9px;
}
.title__font {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #0f75bd;
}
.fontrowtable {
  font-weight: 800;
  font-size: 12px;
  line-height: 18px;
  color: #174a67;
}
.title__margin {
  margin-bottom: 10px;
}

.body__font tr td {
  font-size: 18px !important;
}
@media screen and (max-width: 600px) {
  .row__padding {
    padding: unset !important;
  }
}
</style>

<style scoped>
a:hover {
  text-decoration: underline;
  text-underline-position: under;
}
tbody:hover {
  background-color: #eeeeee !important;
}
tbody tr:last-child td {
  border-bottom-width: 3px;
}
</style>
