<template>
  <v-row justify="center">
    <v-dialog persistent v-model="dialog2" max-width="1350px">
      <v-card style="background-color: #f5f5f5">
        <v-container fluid style="padding: 30px">
          <v-row style="justify-content: flex-end">
            <!-- <div>{{valShow.name}}</div> -->
            <Loading :isLoadingCheck="isLoading"></Loading>
            <div>
                <v-btn
                icon
                color="#8f938e"
                class="mr-5"
              >
              <feather
                @click="dialog2 = false"
                style="color: #333333"
                type="x"
                size="27"
                stroke-width="2"
              ></feather>
              </v-btn>
            </div>
          </v-row>
          <v-row class="mt-2 align-center text-center row__padding rowbgpm">
            <v-col md="12" sm="12">
              <v-data-table
                :items="desserts"
                :headers="headerTeamAvailable"
                :page.sync="page"
                fixed-header
                :items-per-page="itemsPerPage"
                @page-count="pageCount = $event"
                height="450px"
                hide-default-footer
              >
               <template v-slot:[`header.pm_name`]="{ header }">
                {{ header.text }}
                <v-menu offset-y :close-on-content-click="false">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn class="mb-1" icon v-bind="attrs" v-on="on">
                      <v-icon color="#ffffff"> mdi-filter-variant </v-icon>
                    </v-btn>
                  </template>
                  <v-row
                    style="
                      background-color: white;
                      max-width: 600px;
                      padding-bottom: 0px;
                    "
                    class="px-12"
                  >
                    <v-col cols="12" class="pt-5" style="padding-left: 0px">
                      <div class="pb-3"><p>Filter by pm</p></div>
                      <v-autocomplete
                        v-model="pmnamemodel"
                        :items="pmnameitems"
                        @change="searchall()"
                        outlined
                        dense
                        chips
                        small-chips
                        multiple
                      ></v-autocomplete>
                    </v-col>
                    <v-col
                      cols="12"
                      class="text-end"
                      style="padding-left: 0px; padding-top: 0px"
                    >
                      <v-btn
                        @click="(pmnamemodel = []), searchall()"
                        small
                        dark
                        color="#5589bb"
                        >Clear</v-btn
                      >
                    </v-col>
                  </v-row>
                </v-menu>
              </template>
                <template v-slot:[`header.service`]="{ header }">
                {{ header.text }}
                <v-menu offset-y :close-on-content-click="false">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn class="mb-1" icon v-bind="attrs" v-on="on">
                      <v-icon color="#ffffff"> mdi-filter-variant </v-icon>
                    </v-btn>
                  </template>
                  <v-row
                    style="
                      background-color: white;
                      max-width: 500px;
                      padding-bottom: 0px;
                    "
                    class="px-12"
                  >
                    <v-col cols="12" class="pt-5" style="padding-left: 0px">
                      <div class="pb-3"><p>Filter by service</p></div>
                      <v-select
                        v-model="servicenamemodel"
                        :items="servicenameitems"
                        @change="searchall()"
                        multiple
                        outlined
                        dense
                        chips
                        small-chips
                        persistent-hint
                      >
                        <template v-slot:prepend-item>
                          <v-list-item ripple @click="toggle">
                            <v-list-item-action>
                              <v-icon
                                :color="
                                  servicenamemodel.length > 0 ? '#5589bb' : ''
                                "
                              >
                                {{ icon }}
                              </v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                              <v-list-item-title>
                                Select All
                              </v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <v-divider class="mt-2"></v-divider>
                        </template>
                      </v-select>
                    </v-col>
                    <v-col
                      cols="12"
                      class="text-end"
                      style="padding-left: 0px; padding-top: 0px"
                    >
                    </v-col>
                  </v-row>
                </v-menu>
              </template>

                <template v-slot:body="props">
                   <tbody v-if="props.items.length === 0">
                 <tr>
                    <td colspan="8">No data available</td>
                  </tr>
                </tbody>
                  <tbody v-for="(xml, index) in props.items" :key="index">
                    <tr style="border: 1px solid #002ee4">
                      <td
                        :rowspan="xml.so_no.length"
                        :style="`${
                          xml.so_no.length > 1
                            ? 'vertical-align:top;border-bottom-width: 3px;'
                            : ''
                        }`"
                        :class="`${xml.so_no.length === 1 ? '' : 'pt-3'}`"
                      >
                        <v-icon
                          :color="xml.cus_critical ? '#F03D3E' : '#0F75BD'"
                          small
                          style="padding-bottom: 3px"
                          >mdi-circle</v-icon
                        >
                        {{ xml.cus_id }}
                      </td>
                      <td
                        :rowspan="xml.so_no.length"
                        :style="`${
                          xml.so_no.length > 1
                            ? 'vertical-align:top;border-bottom-width: 3px;'
                            : ''
                        }`"
                        :class="`${xml.so_no.length === 1 ? '' : 'pt-3'}`"
                      >
                        {{ xml.cus_name }}
                      </td>
                      <td>
                        {{ xml.so_no[0].pm_name }}
                      </td>

                      <td>{{ xml.so_no[0].so_no || "-" }}</td>
                      <td>{{ xml.so_no[0].services.join().toUpperCase() }}</td>
                      <td>
                        <span :style="checkcolor(xml.so_no[0].so_status)">{{
                          checksostatus(xml.so_no[0].so_status)
                        }}</span>
                      </td>

                      <td
                        style="background: #effaff; border-bottom-width: 3px"
                        :rowspan="xml.so_no.length"
                        width="5%"
                      >
                        <a @click="seemore(xml)">View Detail</a>
                      </td>
                    </tr>

                    <tr
                      v-for="(item, index) in xml.so_no"
                      :key="index"
                      v-if="index"
                    >
                      <td v-if="index">{{ item.pm_name || "-" }}</td>
                      <td v-if="index">{{ item.so_no || "-" }}</td>
                      <td v-if="index">
                        {{ item.services.join().toUpperCase() }}
                      </td>
                      <td>
                        <span :style="checkcolor(item.so_status)">{{
                          checksostatus(item.so_status)
                        }}</span>
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-data-table>

              <v-row>
                <v-col
                  cols="12"
                  class="hidden-lg-only hidden-xl-only pb-0 pt-0"
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  "
                >
                  <v-pagination
                    v-model="page"
                    :length="pageCount"
                    color="#174A67"
                    :total-visible="7"
                  ></v-pagination>
                </v-col>
                <v-col cols="4" class="d-md-none d-lg-flex hidden-md-only hidden-sm-and-down pb-0 pt-0">
                  <v-row>
                    <v-col
                      cols="12"
                      style="padding-top: 50px; !important"
                      class="text-start fontrowtableM hidden-sm-and-down"
                    >
                      Showing {{ startRowPerPages || 1 }} to
                      {{ endRowPerPages }} of {{ desserts.length }} entries
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="8" class="d-md-none d-lg-flex hidden-md-only hidden-sm-and-down pb-0 pt-0">
                  <v-row>
                    <v-col
                      cols="3"
                      style="display: flex; align-items: center"
                      class="hidden-sm-and-down"
                    >
                      <v-row>
                        <v-col
                          cols="8"
                          class="fontrowtableM"
                          style="padding-top:38px; !important;"
                          >Row per page :</v-col
                        >
                        <v-col cols="4" class="px-0 py-0">
                          <v-select
                            solo
                            flat
                            style="padding-top: 26px"
                            :items="pagelist"
                            outlined
                            dense
                            :value="itemsPerPage"
                            type="number"
                            class="slcsv"
                            @input="itemsPerPage = parseInt($event, 10)"
                          ></v-select>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col
                      cols="6"
                      style="
                        display: flex;
                        align-items: center;
                      "
                    >
                        <v-pagination
                        v-model="page"
                        :length="pageCount"
                        color="#174A67"
                        :total-visible="7"
                      ></v-pagination>
                    </v-col>
                    <v-col
                      cols="3"
                      style="display: flex; align-items: center"
                      class="hidden-sm-and-down"
                    >
                      <v-row>
                        <v-col
                          md="8"
                          class="fontrowtableM"
                          style="padding-top: 35px; !important;display: flex;justify-content: end;"
                          >Go to page :</v-col
                        >
                        <v-col md="4" class="px-0 py-0">
                          <v-text-field
                          solo
                          flat
                          v-model.number="pageTextField"
                          @input="checkpage()"
                          min="1"
                          outlined
                          dense
                          :max="pageCount"
                          style="padding-top: 23px"
                          class="txb"
                          type="number"
                        ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { EventBus } from '@/utils/EventBus'
import Loading from '@/components/commons/Loading/Loading'
import { getservicetablestatus } from '@/api/dashboard'
import { getPM } from '@/api/pm'
export default {
  components: {
    Loading
  },
  data () {
    return {
      pagelist: [5, 10, 15, {
        value: Number.MAX_SAFE_INTEGER,
        text: 'all'
      }],
      dialog2: false,
      page: 1,
      itemsPerPage: 10,
      pageTextField: 1,
      pageCount: 0,
      search: '',
      cusidse: '',
      pmnameitems: [],
      pmnamemodel: [],
      servicenamemodel: ['PM', 'BCP', 'MNSP', 'REPORT'],
      servicenameitems: ['PM', 'BCP', 'MNSP', 'REPORT'],
      headerTeamAvailable: [
        {
          text: 'Customer ID',
          value: 'cus_id',
          sortable: false,
          width : '15%',
          class: 'header__other text-center',
          align: 'center'
        },
        {
          text: 'Customer Name',
          value: 'cus_name',
          sortable: false,
          width : '15%',
          class: 'header__other text-center',
          align: 'center'
        },
        {
          text: 'PM Name',
          value: 'pm_name',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: 'SO No.',
          value: 'so_no',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: 'Service',
          value: 'service',
          class: 'header__other text-center',
          sortable: false,
          width : '13%',
          align: 'center'
        },
        {
          text: 'Status',
          value: 'status',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: '',
          value: '',
          class: 'header__other text-center',
          sortable: false,
          width : '10%',
          align: 'center'
        }
      ],
      desserts: [],
      dessertsimpt: [],
      menu: false,
      isLoading: false,
      valShow: {},
      checkst: {
        complete: { no: '2', name: 'Complete', color: '#58A144' },
        in_progress: { no: '3', name: 'In Progress', color: '#FCC419' },
        uat: { no: '5', name: 'UAT', color: '#0F75BD' },
        waiting_customer: {
          no: '6',
          name: 'Waiting Customer',
          color: '#ED7D2B'
        },
        waiting_so: { no: '7', name: 'Waiting Revise SO', color: '#ED7D2B' },
        terminate: { no: '8', name: 'Terminate', color: '#6C49B8' },
        cancel: { no: '9', name: 'Cancel', color: '#AEAEAE' },
        overdue: {
          no: '4',
          key: 'overdue',
          name: 'Overdue',
          color: '#F03D3E',
          value: 0
        }
      }
    }
  },
  computed: {
    numberOfPages () {
      return Math.ceil(this.desserts.length / this.itemsPerPage)
    },
    startRowPerPages () {
      return Math.ceil((this.page - 1) * this.itemsPerPage) + 1
    },
    endRowPerPages () {
      return Math.ceil(this.itemsPerPage * this.page) > this.desserts.length
        ? this.desserts.length
        : Math.ceil(this.itemsPerPage * this.page)
    },
    likesAllFruit () {
      return this.servicenamemodel.length === this.servicenameitems.length
    },
    likesSomeFruit () {
      return this.servicenamemodel.length > 0 && !this.likesAllFruit
    },
    icon () {
      if (this.likesAllFruit) return 'mdi-close-box'
      if (this.likesSomeFruit) return 'mdi-minus-box'
      return 'mdi-checkbox-blank-outline'
    }
  },
  created () {
    this.getpmfn()
  },
  mounted () {
    EventBus.$on('dataPMService', this.detailPM)
  },
  methods: {
    checkpage () {
      this.pageTextField = this.pageTextField > 0 || !this.pageTextField ? this.pageTextField : 1
      this.pageTextField = this.pageTextField <= this.pageCount || !this.pageTextField ? this.pageTextField : this.pageCount
      if (this.pageTextField) { this.page = this.pageTextField }
    },
    async   getpmfn () {
      const pm = await getPM('all')
      this.pmnameitems = pm.map((x) => {
        return {
          text: x.pm_name + ' ' + '(' + x.pm_nickname + ')',
          value: x.pm_name
        }
      })
    },
    detailPM (massage) {
      this.servicenamemodel = ['PM', 'BCP', 'MNSP', 'REPORT']
      this.pmnamemodel = []
      this.valShow = massage
      this.dialog2 = true
      this.page = 1
      this.getSummary()
    },
    async getSummary () {
      try {
        this.isLoading = true
        const data = await getservicetablestatus(this.valShow.key)
        this.dessertsimpt = await JSON.parse(JSON.stringify(data.table))
        this.desserts = data.table
      } catch (error) {
      } finally {
        this.isLoading = false
      }
    },
    async searchall () {
      this.desserts = await JSON.parse(JSON.stringify(this.dessertsimpt))
      if (this.pmnamemodel.length > 0) {
        await this.searchpmname()
      }
      if (
        this.servicenamemodel.length < 4 &&
        this.servicenamemodel.length > 0
      ) {
        await this.searchservice()
      }
    },
    searchpmname () {
      const result = this.desserts.filter((desserts) => {
        return desserts.so_no.find((sono) => {
          return this.pmnamemodel.find((pmnamemodel) => {
            return sono.pm_name.includes(pmnamemodel)
          })
        })
      })
      this.desserts = result
    },
    searchservice () {
      var servicenamemodels = this.servicenamemodel.map((x) => x.toLowerCase())
      const result = this.desserts.filter((desserts) => {
        return desserts.so_no.find((sono) => {
          return sono.services.some((r) => servicenamemodels.indexOf(r) >= 0)
        })
      })
      this.desserts = result
    },
    seemore (cusid) {
      const routeData = this.$router.resolve({
        name: 'PMServiceDetail',
        query: { cusno: cusid.cus_no }
      })
      window.open(routeData.href, '_blank')
    },
    checkcolor (data) {
      try {
        var xml =
          'font-style: normal;font-weight: normal;font-size: 14px;line-height: 24px;'
        xml += `color: ${this.checkst[data].color};`
        return xml
      } catch (error) {
        return '-'
      }
    },
    checksostatus (data) {
      try {
        var xddd = this.checkst[data].name
        return xddd
      } catch (error) {
        return '-'
      }
    },
    toggle () {
      this.$nextTick(() => {
        if (this.likesAllFruit) {
          this.servicenamemodel = []
        } else {
          this.servicenamemodel = this.servicenameitems
          this.searchall()
        }
      })
    }
  }
}
</script>

<style>

.v-pagination__navigation {
  box-shadow: none !important;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 32px;
  width: 32px;
  margin: 0.3rem 10px;
}
.v-pagination__item {
  background: transparent;
  border-radius: 10px;
  font-size: 1rem;
  height: 34px;
  margin: 0.3rem;
  min-width: 34px;
  padding: 0 5px;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  width: auto;
  box-shadow: none !important;
}
.theme--light.v-pagination .v-pagination__item {
  background: #ffffff;
  color: rgba(23, 74, 103, 0.87);
}
.theme--light.v-pagination .v-pagination__item--active {
  color: #ffffff;
}
.slcsv .v-input__slot {
  width: min-content !important;
  border-radius: 10px !important;
}
.txb .v-input__slot {
  border-radius: 10px;
  max-width: 60px;

}
td {
  border: 1px solid #f1f2f6;
}
th {
  border: 1px solid #f1f2f6;
}

.row__padding {
  padding: 24px;
}

.header__other {
  background-color: #5589bb !important;
  color: #ffffff !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.rowbgpm {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  padding-bottom: 0px !important;
}

.fontrowtableM {
  font-weight: 800;
  font-size: 10px;
  line-height: 18px;
  color: #174a67;
}

.body__font tr td {
  font-size: 18px !important;
}
@media screen and (max-width: 600px) {
  .row__padding {
    padding: unset !important;
  }
}
</style>

<style scoped>
a:hover {
  text-decoration: underline;
  text-underline-position: under;
}
tbody:hover {
  background-color: #eeeeee !important;
}
tbody tr:last-child td {
  /* border-bottom: thin solid rgba(0, 0, 0, 0.12) !important; */
  border-bottom-width: 3px;
}
</style>
