<template>
  <div>
    <LogsAction/>
    
  </div>
</template>
<script>
import LogsAction from '@/components/pages/LogsAction/LogsAction'
export default {
  components: {
    LogsAction
  }
}
</script>
