<template>
  <v-row justify="center">
    <v-dialog persistent v-model="dialog2" max-width="800px">
      <v-card style="background-color: #f5f5f5">
        <v-card-title class="text-center justify-center" style="padding-right: 10px;padding-left: 14px;">
          <h3 class="head2 ml-2" color="#174A67">Edit Log</h3>
          <v-spacer></v-spacer>
          <v-btn
              icon
              color="#333333"
              large
              @click="dialog2 = false"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title>

        <v-container class="px-5">
          <v-card
            style="
              margin-bottom: 30px;
              box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            "
          >
            <v-list-item>
              <v-list-item-content>
                <v-form ref="form" v-model="valid">
                  <v-row>
                    <v-col cols="12" sm="12" md="12" class="pt-0 pb-0">
                      <v-row>
                        <v-col
                          cols="2"
                          style="display: flex; align-items: center;"
                        >
                          <p style="font-size:14px;font-weight:500;">
                            Message Log :
                          </p>
                        </v-col>
                        <v-col cols="10" class="pb-0">
                          <v-textarea
                            v-model="dataLog.sLog_msg"
                            auto-grow
                            :rules="[v => !!v || 'Message is required']"
                            outlined
                            rows="5"
                            row-height="20"
                            class="postbox"
                            style="resize: none;"
                          ></v-textarea>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="2"></v-col>
                        <v-col
                          cols="10"
                          class="text-start mt-2"
                          style="padding-top: 4px; padding-bottom: 0px"
                        >
                          <feather
                            style="color: gray; padding-right: 25px;cursor: pointer;"
                            type="paperclip"
                            size="22"
                            @click="$refs.file.$refs.input.click()"
                          ></feather>
                          {{file ? file.name : ''}}
                           <span v-if="!file"> {{dataLog.file_name}} </span>
                            <v-btn v-if="file || dataLog.file_name" icon @click="clearablefile()"><v-icon>mdi-close</v-icon></v-btn>
                          <v-file-input
                            v-model="file"
                            prepend-icon=""
                            :rules="rulefileinput"
                            hide-input
                            truncate-length="15"
                            ref="file"
                          ></v-file-input>
                          <p v-show="chkfilesize > 209715200" style="color: #ff2828;">File size should be less than 200 MB!</p>
                        </v-col>

                      </v-row>
                    </v-col>
                  </v-row>
                </v-form>
              </v-list-item-content>
            </v-list-item>
          </v-card>

          <v-col cols="12" sm="12" md="12" class="pt-0 pb-0">
            <v-row class="justify-center">
              <v-col
                cols="6"
                sm="6"
                md="6"
                style="display: flex; justify-content: flex-end"
              >
                <v-btn outlined color="#174A67" @click="dialog2 = false"
                  >Cancel</v-btn
                >
              </v-col>

              <v-col cols="6" sm="6" md="6">
                <v-btn
                  :disabled="!valid"
                  depressed
                  color="#174A67"
                  @click="handleEditLog"
                  style="color: white"
                >
                  Add</v-btn
                >
              </v-col>
            </v-row>
          </v-col>
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { EventBus } from '@/utils/EventBus'
import { editLog } from '@/api/modal'
import { getProfile } from '@/utils/profile'
import swal from 'sweetalert2'

export default {
  props: ['handleLoading'],
  data: () => ({
    rulefileinput: [value => !value || value.size < 209715200 || 'File size should be less than 200 MB!'],
    file: null,
    valid: true,
    dialog2: false,
    data: {},
    chkfilesize: 0,
    dataLog: {},
    covid: ''
  }),
  watch: {
    dialog2 (val) {
      if (!val) {
        this.file = null
        this.chkfilesize = 0
        this.$refs.form.resetValidation()
      }
    },
    file (val) {
      if (val) {
        this.chkfilesize = val.size
      } else {
        this.chkfilesize = 0
      }
    }
  },
  computed: {
  },
  mounted () {
    EventBus.$on('editlogs', this.getDetail)
  },
  methods: {
    async handleEditLog () {
      try {
        if (this.$refs.form.validate()) {
          var getProfiledata = await getProfile()
          var xml = this.$route.query.soid
          var formData = new FormData()
          formData.append('pm_id', getProfiledata.pm_id || 'admin')
          formData.append('so_id', xml)
          formData.append('cov_id', this.covid)
          formData.append('sLog_msg', this.dataLog.sLog_msg)
          if (this.file) {
            if (this.file.size <= 209715200) {
              formData.append('log_file', this.file)
              formData.append('file_id', true)
            } else {
              swal.fire({ confirmButtonColor: '#325869', icon: 'error', title: 'The system allows the file size to be no more than 200 MB' })
              return 0
            }
          } else if (!this.dataLog.file_name) {
          } else {
            formData.append('file_id', true)
          }
          var keep_log = {
            pm_id: getProfiledata.pm_id || 'admin',
            aLog_type: 'edit',
            aLog_dtl: 'edit log',
            aLog_to: this.dataLog.sLog_id,
            aLog_loc: 'slog'
          }
          formData.append('keep_log', JSON.stringify(keep_log))
          await editLog(formData, this.dataLog.sLog_id)
          swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Success',
            showConfirmButton: false,
            timer: 1500
          })
          EventBus.$emit('reloadPMLogDetail')
          this.file = null
          this.dataLog = {}
          this.dialog2 = false
        }
      } catch (error) {
        swal.fire({ confirmButtonColor: '#325869', icon: 'error', title: error.response.data.message })
      } finally {

      }
    },
    clearablefile () {
      if (this.file) {
        this.file = null
      } else if (this.dataLog.file_name) {
        this.dataLog.file_name = null
      }
    },
    getDetail (data, covid) {
      this.covid = covid
      this.dataLog = JSON.parse(JSON.stringify(data))
      this.dialog2 = true
    }
  }
}
</script>
<style>
.postbox .v-input__slot {
  margin-bottom: 0px !important;
  align-items: center;
  color: inherit;
  display: flex;
  margin-bottom: 8px;
  min-height: inherit;
  position: relative;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  width: 100%;
}
.postbox .v-text-field__details {
  display: flex;
  flex: 1 0 auto;
  max-width: 100%;
  min-height: 14px;
  overflow: hidden;
  display: none;
}

.head2 {
  font-size: 23px;
}
.head3 {
  font-size: 26px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
