<template>
  <div>
    <v-main>
      <v-container fluid style="padding: 30px">
        <v-row class="align-center text-center">
          <v-col
            cols="12"
            sm="12"
            xs="12"
            md="12"
            lg="12"
            style="padding-top: 0; padding-bottom: 0; padding-left: 30px"
          >
            <Loading :isLoadingCheck="isLoading"></Loading>
            <div class="text-left title__margin">
              <v-row class="pl-3">
                <a :href="'/service'" style="color: gray; text-decoration: none"
                  >Service /</a
                >
                <a
                  :href="'/PMServiceDetail?cusno=' + this.$route.query.cusno"
                  style="color: gray; text-decoration: none; padding-left: 5px"
                  >Detail /</a
                >
                <a class="title__top">Log</a>
              </v-row>
            </div>
          </v-col>
        </v-row>
        <v-spacer></v-spacer>
        <div style="padding-left: 15px; padding-right: 15px">
          <v-row class="align-center text-center rowbgpm">
            <v-col cols="12">
              <v-row>
                <v-col
                  cols="12"
                  sm="12"
                  xs="12"
                  md="12"
                  lg="12"
                  class="text-left"
                  style="
                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-right: 0px;
                    padding-left: 12px;
                  "
                >
                  <p class="title__font">
                    Log SO No. : {{ $route.query.sono }}
                  </p>
                </v-col>
                <v-col
                  v-if="profile.pm_id || profile.user_id === '000'"
                  md="12"
                  sm="12"
                  style="padding-bottom: 0px; color: #c7c7c7"
                >
                  <v-textarea
                    v-model="dataLog.message"
                    autocomplete="email"
                    label="Message Logs.."
                    outlined
                    class="postbox"
                    style="
                      resize: none;
                      border-radius: 10px 10px 0px 0px !important;
                    "
                  ></v-textarea>
                </v-col>
              </v-row>
              <v-row
                v-if="profile.pm_id || profile.user_id === '000'"
                style="
                  border-style: hidden solid solid solid;
                  color: #9e9e9e;
                  border-width: 1px;
                  box-sizing: border-box;
                  border-radius: 0px 0px 10px 10px;
                  margin-left: 0px;
                  margin-right: 0px;
                  padding-top: 0px;
                  padding-bottom: 4px;
                  background-color: white;
                "
              >
                <v-col
                  md="5"
                  sm="5"
                  class="text-start mt-2"
                  style="padding-top: 4px; padding-bottom: 0px"
                >
                  <feather
                    style="color: gray; padding-right: 25px; cursor: pointer"
                    type="paperclip"
                    size="22"
                    @click="$refs.files.$refs.input.click()"
                  ></feather>
                  <span>{{ fileml ? fileml.name : "" }}</span>
                  <v-btn v-if="fileml" icon @click="fileml = null"><v-icon>mdi-close</v-icon></v-btn>
                  <v-file-input
                    v-model="fileml"
                    :rules="rulefileinput"
                    prepend-icon=""
                    hide-input
                    truncate-length="15"
                    ref="files"
                  ></v-file-input>
                  <p v-show="chkfilesize > 209715200" style="color: #ff2828;">File size should be less than 200 MB!</p>
                </v-col>
                <v-col
                  md="7"
                  sm="7"
                  class="text-end"
                  style="padding-top: 4px; padding-bottom: 0px"
                >
                  <v-btn
                    :disabled="!(dataLog.message && chkfilesize < 209715200)"
                    color="primary"
                    style="text-transform: capitalize"
                    large
                    @click="saveLog()"
                    >Save Log</v-btn
                  >
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-row
            class="align-center text-center rowbgpm"
            style="background-color: var(--v-grayfooter-base) !important"
          >
            <v-col md="12" sm="12">
              <v-row>
                <v-col
                  md="6"
                  sm="6"
                  class="text-left"
                  style="padding-bottom: 0px; padding-top: 0px"
                >
                  <p class="title__font">Log Detail</p>
                </v-col>
              </v-row>
              <v-row style="justify-content: space-between">
                <v-col
                  md="5"
                  sm="5"
                  cols="12"
                  xs="12"
                  lg="5"
                  style="padding-bottom: 0px; display: flex; align-items: end"
                >
                  <v-text-field
                    dense
                    solo
                    flat
                    outlined
                    prepend-inner-icon="mdi-magnify"
                    v-model="search"
                    @input="searchall()"
                    label="Search"
                    style="margin-left: 5px"
                  ></v-text-field>
                </v-col>
                <v-col
                  md="3"
                  sm="6"
                  xs="6"
                  class="text-end"
                  style="
                    padding-top: 4px;
                    padding-bottom: 0px;
                    padding-right: 13px;
                  "
                >
                  <p class="title__font text-start">Select Date</p>
                  <v-menu
                    ref="menu"
                    v-model="menu"
                    :close-on-content-click="false"
                    :return-value.sync="date"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        class="mt-2 pmlogdetail"
                        :value="computedDateFormattedMomentjs"
                        label="Month Year"
                        append-icon="mdi-calendar"
                        readonly
                        dense
                        outlined
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="date"
                      type="month"
                      no-title
                      scrollable
                    >
                      <v-spacer></v-spacer>
                      <v-btn
                        text
                        color="primary"
                        @click="(menu = false), $refs.menu.save(), searchall()"
                      >
                        Cancel
                      </v-btn>
                      <v-btn
                        text
                        color="primary"
                        @click="$refs.menu.save(date), searchall()"
                      >
                        OK
                      </v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-col>
              </v-row>

              <v-row v-show="desserts.length > 3">
                <v-col
                  cols="12"
                  class="hidden-lg-only hidden-xl-only pb-0 pt-0"
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  "
                >
                  <v-pagination
                    v-model="page"
                    :length="pageCount"
                    color="#174A67"
                    :total-visible="7"
                  ></v-pagination>
                </v-col>
                <v-col
                  cols="4"
                  class="
                    d-md-none d-lg-flex
                    hidden-md-only hidden-sm-and-down
                    pb-0
                    pt-0
                  "
                ></v-col>
                <v-col
                  cols="8"
                  class="
                    d-md-none d-lg-flex
                    hidden-md-only hidden-sm-and-down
                    pb-0
                    pt-0
                  "
                >
                  <v-row>
                    <v-col
                      cols="3"
                      style="display: flex; align-items: center"
                      class="hidden-sm-and-down"
                    >
                      <v-row>
                        <v-col
                          cols="8"
                          class="fontrowtable text-end"
                          style="padding-top:38px; !important;padding-right: 10px;"
                          >Row per page :</v-col
                        >
                        <v-col cols="4" class="px-0 py-0">
                          <v-select
                            solo
                            flat
                            style="padding-top: 26px"
                            :items="pagelist"
                            outlined
                            dense
                            :value="itemsPerPage"
                            type="number"
                            class="slcsv"
                            @input="itemsPerPage = parseInt($event, 10)"
                          ></v-select>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col
                      cols="6"
                      style="
                        display: flex;
                        align-items: center;
                        justify-content: end;
                      "
                    >
                      <v-pagination
                        v-model="page"
                        :length="pageCount"
                        color="#174A67"
                        :total-visible="7"
                      ></v-pagination>
                    </v-col>
                    <v-col
                      cols="3"
                      style="display: flex; align-items: center"
                      class="hidden-sm-and-down"
                    >
                      <v-row>
                        <v-col
                          md="8"
                          class="fontrowtable"
                          style="padding-top: 35px; !important;display: flex;justify-content: end;"
                          >Go to page :</v-col
                        >
                        <v-col md="4" class="px-0 py-0">
                          <v-text-field
                            solo
                            flat
                            v-model.number="pageTextField"
                            @input="checkpage()"
                            min="1"
                            outlined
                            dense
                            :max="pageCount"
                            style="padding-top: 23px"
                            class="txb"
                            type="number"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>

              <v-data-iterator
                :items="desserts"
                :page.sync="page"
                :items-per-page.sync="itemsPerPage"
                @page-count="pageCount = $event"
                hide-default-footer
              >
                <template v-slot:default="props">
                  <v-row>
                    <v-col
                      v-for="(item, index) in props.items"
                      :key="index"
                      cols="12"
                      sm="12"
                      md="12"
                      lg="12"
                    >
                      <v-card>
                        <v-card-text
                          style="
                            color: #333333;
                            font-size: 16px;
                            font-weight: 500;
                          "
                        >
                          <v-row>
                            <v-col cols="9" md="9" sm="9" xs="9">
                              <v-row
                                style="padding-left: 30px; margin-top: 16px"
                              >
                                <p style="color: #aeaeae">Log Data :</p>
                                <p style="padding-left: 5px">
                                  {{
                                    item.sLog_date
                                      ? dayjs(item.sLog_date).format(
                                          "DD-MM-YYYY h:mm:ss A"
                                        )
                                      : "-"
                                  }}
                                </p>
                              </v-row>
                            </v-col>
                            <v-col cols="3" md="3" sm="3" xs="3">
                              <v-row
                                style="
                                  justify-content: flex-end;
                                  margin-top: 16px;
                                "
                              >
                                <div>
                                  <v-btn
                                    icon
                                    @click="toggleIsPin(item.sLog_id,item.is_pin)"
                                    style="margin-right: 20px;padding-bottom: 10px;"
                                  >
                                    <v-icon size="25" v-if="item.is_pin" color="error">mdi-rotate-45 mdi-pin</v-icon>
                                    <v-icon size="25" v-else>mdi-pin-off-outline</v-icon>
                                  </v-btn>

                                </div>

                                <div
                                  v-if="
                                    profile.pm_id || profile.user_id === '000'
                                  "
                                >
                                  <feather
                                    style="
                                      color: gray;
                                       padding-right: 25px;
                                      cursor: pointer;
                                    "
                                    type="edit"
                                    size="22"
                                    @click="editlogs(item)"
                                  ></feather>
                                </div>
                                <div
                                  v-if="
                                    profile.pm_id || profile.user_id === '000'
                                  "
                                >
                                  <feather
                                    style="
                                      color: gray;
                                       padding-right: 25px;
                                      cursor: pointer;
                                    "
                                    type="trash-2"
                                    size="22"
                                    @click="delLog(item.sLog_id)"
                                  ></feather>
                                </div>
                              </v-row>
                            </v-col>
                            <v-col
                              cols="12"
                              sm="12"
                              md="12"
                              style="padding-bottom: 5px"
                              class="pt-0"
                            >
                              <v-row style="padding-left: 30px">
                                <v-col class="pl-0 pb-0" cols="auto">
                                  <p
                                    style="
                                      color: #aeaeae;
                                      text-align: left !important;
                                    "
                                  >
                                    Log Message :
                                  </p>
                                </v-col>
                                <v-col class="pl-0 pb-0" cols="10">
                                  <p
                                    style="
                                      text-align: left !important;
                                      white-space: pre-line;
                                    "
                                  >
                                    {{ item.sLog_msg || "-" }}
                                  </p>
                                </v-col>
                                <!-- <p class="customer-downlond ml-2">123456.file</p> -->
                              </v-row>
                              <v-row
                                style="padding-left: 30px"
                                v-if="item.file_name"
                              >
                                <p
                                  style="
                                    padding-left: 123px;
                                    color: #0f75bd;
                                    cursor: pointer;
                                  "
                                  @click="openfile(item.file_id)"
                                >
                                  {{ item.file_name }}
                                </p>
                              </v-row>
                            </v-col>
                            <v-col cols="12" sm="12" md="12">
                              <v-row style="padding-left: 30px">
                                <p style="color: #aeaeae">Editor :</p>
                                <p style="padding-left: 5px">
                                  {{ item.pm_name || "-" }}
                                </p>
                              </v-row>
                            </v-col>
                          </v-row>
                        </v-card-text>
                      </v-card>
                    </v-col>
                  </v-row>
                </template>
                <template v-slot:no-data>
                  <v-row class="rowbg_active">
                    <p style="align-items: center; display: flex">
                      No data available
                    </p>
                  </v-row>
                </template>
              </v-data-iterator>

              <v-row v-show="desserts.length > 3">
                <v-col
                  cols="12"
                  class="hidden-lg-only hidden-xl-only pb-0 pt-0"
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  "
                >
                  <v-pagination
                    v-model="page"
                    :length="pageCount"
                    color="#174A67"
                    :total-visible="7"
                  ></v-pagination>
                </v-col>
                <v-col
                  cols="4"
                  class="
                    d-md-none d-lg-flex
                    hidden-md-only hidden-sm-and-down
                    pb-0
                    pt-0
                  "
                >
                  <v-row>
                    <v-col
                      cols="12"
                      style="padding-top: 50px; !important"
                      class="text-start fontrowtable hidden-sm-and-down"
                    >
                      Showing {{ startRowPerPages || 1 }} to
                      {{ endRowPerPages }} of {{ desserts.length }} entries
                    </v-col>
                  </v-row>
                </v-col>
                <v-col
                  cols="8"
                  class="
                    d-md-none d-lg-flex
                    hidden-md-only hidden-sm-and-down
                    pb-0
                    pt-0
                  "
                >
                  <v-row>
                    <v-col
                      cols="3"
                      style="display: flex; align-items: center"
                      class="hidden-sm-and-down"
                    >
                      <v-row>
                        <v-col
                          cols="8"
                          class="fontrowtable text-end"
                          style="padding-top:38px; !important;padding-right: 10px;"
                          >Row per page :</v-col
                        >
                        <v-col cols="4" class="px-0 py-0">
                          <v-select
                            solo
                            flat
                            style="padding-top: 26px"
                            :items="pagelist"
                            outlined
                            dense
                            :value="itemsPerPage"
                            type="number"
                            class="slcsv"
                            @input="itemsPerPage = parseInt($event, 10)"
                          ></v-select>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col
                      cols="6"
                      style="
                        display: flex;
                        align-items: center;
                        justify-content: end;
                      "
                    >
                      <v-pagination
                        v-model="page"
                        :length="pageCount"
                        color="#174A67"
                        :total-visible="7"
                      ></v-pagination>
                    </v-col>
                    <v-col
                      cols="3"
                      style="display: flex; align-items: center"
                      class="hidden-sm-and-down"
                    >
                      <v-row>
                        <v-col
                          md="8"
                          class="fontrowtable"
                          style="padding-top: 35px; !important;display: flex;justify-content: end;"
                          >Go to page :</v-col
                        >
                        <v-col md="4" class="px-0 py-0">
                          <v-text-field
                            solo
                            flat
                            v-model.number="pageTextField"
                            @input="checkpage()"
                            min="1"
                            outlined
                            dense
                            :max="pageCount"
                            style="padding-top: 23px"
                            class="txb"
                            type="number"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>

              <v-btn
                v-scroll="onScroll"
                v-show="fab"
                fab
                dark
                fixed
                bottom
                right
                color="#174A67"
                @click="toTop"
              >
                <feather type="chevron-up"></feather>
              </v-btn>
            </v-col>
          </v-row>
        </div>
        <ModalInputDetailLog />
      </v-container>
    </v-main>
  </div>
</template>
<script>
import { getProfile } from '@/utils/profile'
import { EventBus } from '@/utils/EventBus'
import { delLog, addLogformdata } from '@/api/modal'
import { Getlogsdetail, Getfile, pinLogs } from '@/api/service'
import Loading from '@/components/commons/Loading/Loading'
import ModalInputDetailLog from '@/components/commons/ModalInputDetailLog/ModalInputDetailLog'
import swal from 'sweetalert2'
import moment from 'moment'
import Icon from '@/assets/New Project.png'
import dayjs from 'dayjs'
import Vue from 'vue'
Vue.prototype.dayjs = dayjs

export default {
  components: {
    Loading,
    ModalInputDetailLog
  },
  data () {
    return {
      rulefileinput: [value => !value || value.size < 209715200 || 'File size should be less than 200 MB!'],
      pagelist: [
        5,
        10,
        15,
        {
          value: Number.MAX_SAFE_INTEGER,
          text: 'all'
        }
      ],
      itemsPerPage: 5,
      pageTextField: 1,
      fab: false,
      dialog: false,
      isLoading: false,
      page: 1,
      pageCount: 0,
      search: '',
      files: '',
      covid: '',
      desserts: [],
      dessertsimpt: [],
      menu: false,
      date: null,
      dataLog: {},
      fileml: null,
      logInfo: {},
      profile: {},
      chkfilesize: 0
    }
  },
  watch: {
    fileml (val) {
      if (val) {
        this.chkfilesize = val.size
      } else {
        this.chkfilesize = 0
      }
    }
  },
  computed: {
    numberOfPages () {
      return Math.ceil(this.desserts.length / this.itemsPerPage)
    },
    startRowPerPages () {
      return Math.ceil((this.page - 1) * this.itemsPerPage) + 1
    },
    endRowPerPages () {
      return Math.ceil(this.itemsPerPage * this.page) > this.desserts.length
        ? this.desserts.length
        : Math.ceil(this.itemsPerPage * this.page)
    },
    computedDateFormattedMomentjs () {
      return this.date ? moment(this.date).format('MMMM YYYY') : ''
    }
  },
  created () {
    this.getLog()
    this.getProfileapi()
  },
  mounted () {
    EventBus.$on('reloadPMLogDetail', this.getLog)
  },
  methods: {
    async toggleIsPin (lID, pin) {
      this.isLoading = true
      await pinLogs(lID, pin)
      await this.getLog()
    },
    async getProfileapi () {
      const profile = await getProfile()
      this.profile = profile
    },
    checkpage () {
      this.pageTextField =
        this.pageTextField > 0 || !this.pageTextField ? this.pageTextField : 1
      this.pageTextField =
        this.pageTextField <= this.pageCount || !this.pageTextField
          ? this.pageTextField
          : this.pageCount
      if (this.pageTextField) {
        this.page = this.pageTextField
      }
    },
    async getLog () {
      try {
        this.isLoading = true
        var xml = this.$route.query.soid
        const data = await Getlogsdetail(xml)
        this.covid = data.cov_id || null
        this.desserts = data.so_card
        this.dessertsimpt = await JSON.parse(JSON.stringify(data.so_card))
        this.searchall()
      } catch (error) {
      } finally {
        this.isLoading = false
      }
    },
    async searchall () {
      this.desserts = await JSON.parse(JSON.stringify(this.dessertsimpt))
      if (this.search) {
        await this.searchdata()
      }
      if (this.date) {
        await this.checkmonth()
      }
    },
    searchdata () {
      const result = this.desserts.filter((desserts) => {
        desserts.sLog_msg = desserts.sLog_msg ? desserts.sLog_msg : ''
        desserts.pm_name = desserts.pm_name ? desserts.pm_name : ''
        return (
          desserts.sLog_msg.toLowerCase().includes(this.search.toLowerCase()) ||
          desserts.pm_name.toLowerCase().includes(this.search.toLowerCase())
        )
      })
      this.desserts = result
    },
    checkmonth () {
      var xml = new Date(this.date)
      var xmlmonth = xml.getUTCMonth() + 1
      var xmlyear = xml.getUTCFullYear()
      const result = this.desserts.filter((desserts) => {
        var snono = new Date(desserts.sLog_date)
        var month = snono.getUTCMonth() + 1
        var year = snono.getUTCFullYear()
        return month === xmlmonth && year === xmlyear
      })
      this.desserts = result
    },
    onScroll (e) {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset || e.target.scrollTop || 0
      this.fab = top > 20
    },
    toTop () {
      this.$vuetify.goTo(0)
    },
    async saveLog () {
      try {
        this.isLoading = true
        var getProfiledata = await getProfile()
        var formData = new FormData()
        var xml = this.$route.query.soid
        formData.append('sLog_msg', this.dataLog.message)
        formData.append('so_id', xml)
        formData.append('cov_id', this.covid)
        formData.append('pm_id', getProfiledata.pm_id || 'admin')
        if (this.fileml) {
          if (this.fileml.size <= 209715200) {
            formData.append('log_file', this.fileml)
          } else {
            swal.fire({
              confirmButtonColor: '#325869',
              icon: 'error',
              title:
                'The system allows the file size to be no more than 200 MB'
            })
            return 0
          }
        }
        var keep_log = {
          pm_id: getProfiledata.pm_id || 'admin',
          aLog_type: 'add',
          aLog_dtl: 'add log',
          aLog_to: xml,
          aLog_loc: 'slog'
        }
        formData.append('keep_log', JSON.stringify(keep_log))
        const infoLog = await addLogformdata(formData)
        swal.fire({
          position: 'center',
          icon: 'success',
          title: 'Success',
          showConfirmButton: false,
          timer: 1500
        })
      } catch (error) {
        swal.fire({
          confirmButtonColor: '#325869',
          icon: 'error',
          title: error.response.data.message
        })
      } finally {
        this.fileml = null
        this.chkfilesize = 0
        this.dataLog = {}
        this.getLog()
        this.isLoading = false
      }
      // for (var pair of formData.entries()) {
      //   console.log(pair[0] + ', ' + pair[1])
      // }
    },
    async editlogs (data) {
      EventBus.$emit('editlogs', data, this.covid)
      // this.dataLog = JSON.parse(JSON.stringify(data))
      // console.log(this.dataLog, 'logg')
    },
    async delLog (logID) {
      swal
        .fire({
          imageUrl: Icon,
          imageWidth: 110,
          imageHeight: 120,
          text: 'Are you confirm to delete this log data?',
          reverseButtons: true,
          showCancelButton: true,
          confirmButtonColor: '#174A67',
          confirmButtonText: 'Delete'
        })
        .then(async (result) => {
          if (result.isConfirmed) {
            try {
              this.isLoading = true
              await delLog(logID)
              swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Deleted!',
                text: 'Your data has been deleted.',
                confirmButtonColor: '#174A67'
              })
              this.getLog()
            } catch (error) {
              console.log(error)
            } finally {
              this.isLoading = false
            }
          }
        })
      // this.desserts.splice(i, 1)
      // alert(i);
    },
    async openfile (data) {
      if (data) {
        var xc = await Getfile(data)
        window.open(xc, '_blank')
      }
    }
  }
}
</script>
<style>
.customer-downlond {
  font-weight: 600;
  font-size: 18;
  color: #0f75bd !important;
  text-decoration: underline;
}
.fontrowtable {
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  color: #174a67;
}
.slcsv .v-input__slot {
  width: min-content !important;
  border-radius: 10px !important;
}
.postbox textarea {
  resize: none;
}
.postbox .v-input__slot {
  background-color: #ffffff !important ;
  margin-bottom: 0px !important;
  align-items: center;
  color: inherit;
  display: flex;
  margin-bottom: 8px;
  min-height: inherit;
  position: relative;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  width: 100%;
}
.postbox .v-text-field__details {
  display: flex;
  flex: 1 0 auto;
  max-width: 100%;
  min-height: 14px;
  overflow: hidden;
  display: none;
}
.rowbgpm {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #e5e5e5;
}
.row__padding {
  padding: 24px;
}
@media screen and (max-width: 600px) {
  .row__padding {
    padding: unset !important;
  }
}

.v-pagination__navigation {
  box-shadow: none !important;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 32px;
  width: 32px;
  margin: 0.3rem 10px;
}
.v-pagination__item {
  background: transparent;
  border-radius: 10px;
  font-size: 1rem;
  height: 34px;
  margin: 0.3rem;
  min-width: 34px;
  padding: 0 5px;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  width: auto;
  box-shadow: none !important;
}
.theme--light.v-pagination .v-pagination__item {
  color: rgba(23, 74, 103, 0.87);
}
.theme--light.v-pagination .v-pagination__navigation {
  background: none !important;
}
.theme--light.v-pagination .v-pagination__item--active {
  color: #ffffff;
}
.rowbg_active {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  height: 180px;
  justify-content: center;
}
.txb .v-input__slot {
  border-radius: 10px;
  max-width: 60px;
}
td {
  border: 1px solid #f1f2f6;
}
th {
  border: 1px solid #f1f2f6;
}
.row__padding {
  padding: 24px;
}

.rowbg {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
}

.title__top {
  padding-left: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #174a67 !important;
}
.title__font {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #0f75bd;
}
.title__margin {
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .row__padding {
    padding: unset !important;
  }
}
.pmlogdetail .v-input__slot {
  background-color: #ffffff !important ;
}
.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #fff;
  color: #174a67;
  font-size: 1em;
  border: thin solid currentColor;
}
</style>
