<template>
  <div>
    <v-main>
      <v-container fluid style="padding: 30px">
        <v-row class="align-center text-center">
          <v-col
            cols="6"
            sm="8"
            xs="12"
            md="4"
            lg="7"
            style="padding-top: 0; padding-bottom: 0; padding-left: 30px"
          >
            <Loading :isLoadingCheck="isLoading"></Loading>
            <div class="text-left title__margin">
              <v-row class="pl-3">
                <a
                  :href="'/service'"
                  style="color: gray; text-decoration: none"
                  >Service /</a
                >
                <a class="title__top">Detail</a>
              </v-row>
            </div>
          </v-col>
        </v-row>
        <v-spacer></v-spacer>

        <v-row>
          <v-col cols="12" class="pb-0">
            <p class="title__font mb-0" style="padding-left: 10px;">Service Detail</p>
          </v-col>
        </v-row>

        <v-row class="mt-4 row__padding rowbg" style="padding-top: 0px">
          <v-col cols="6" class="pl-0 pb-0">
            <v-row class="ml-0">
              <h4 style="margin-top: 10px; color: #0f75bd">Customer</h4>
              <v-chip
                v-if="cusinfo.is_critical"
                outlined
                class="ma-2"
                :color="'red'"
                style="background-color: #fdecec !important;"
              >Critical
              </v-chip>
              <v-chip
                outlined
                class="ma-2"
                style="background-color: #eff9f5 !important;"
                :color="cusinfo.cus_activate ? 'green': '#BDBDBD'"
              >{{cusinfo.cus_activate ? 'Activate' : 'InActivate'}}
              </v-chip>
            </v-row>
          </v-col>
          <v-col
            cols="6"
            class="pl-0"
            style="display: flex; justify-content: flex-end; align-items: center"
          >
           <v-btn
               v-if="profile.pm_id || profile.user_id === '000'"
              class="mr-3 mt-1"
              @click="openfile(cusinfo.cus_file)"
              :disabled="!cusinfo.cus_file"
              icon
              style="border-radius: 15%"
            >
              <v-icon style="font-size: 27px;">mdi-card-account-phone-outline</v-icon>
            </v-btn>
            <v-btn
               v-if="profile.pm_id || profile.user_id === '000'"
              class="mr-2"
              @click="openModalEditCustomer(cusinfo)"
              icon
              style="border-radius: 15%"
            >
              <feather
                style="color: gray"
                type="edit"
                size="22"
                href="#PMServiceDetailEdit"
              ></feather>
            </v-btn>
            <v-btn
               v-if="profile.pm_id || profile.user_id === '000'"
              class="mr-3"
              @click="deleteCustomer()"
              icon
              style="border-radius: 15%"
            >
              <feather style="color: gray" type="trash-2" size="22"></feather>
            </v-btn>
          </v-col>

          <v-col cols="3" class="pt-0 pl-0">
            <p style="color: #aeaeae">Customer ID</p>
            <p class="customer-font">{{cusinfo.cus_id || '-'}}</p>
          </v-col>
          <v-col cols="3" class="pt-0 pl-0">
            <p style="color: #aeaeae">Customer Name (Thai)</p>
            <p class="customer-font">
              {{cusinfo.cus_name_th || '-'}}
            </p>
          </v-col>
          <v-col cols="3" class="pt-0 pl-0">
            <p style="color: #aeaeae">Customer Name (English)</p>
            <p class="customer-font">
              {{cusinfo.cus_name_en || '-'}}
            </p>
          </v-col>
          <v-col cols="3" class="pt-0 pl-0">
            <p style="color: #aeaeae">Customer info</p>
            <p class="customer-font" style="text-align: left !important;white-space: pre-line !important;">
              {{cusinfo.cus_info || '-'}}
            </p>
          </v-col>
<!-- {{cusinfo.cus_info || '-'}} -->
          <!-- <v-col cols="5" class="pt-0 pl-0">
            <p style="color: #aeaeae">file</p>
            <p @click="openfile(cusinfo.File_id)" :class="!cusinfo.File_name || 'customer-downlond'" :style="!cusinfo.File_name || 'cursor: pointer;'">{{cusinfo.File_name || '-'}}</p>
          </v-col> -->
        </v-row>

        <v-row>
          <v-col cols="6" class="pt-0">
            <v-tabs
              v-model="tab"
              left
              class="nat2"
              style="padding-top: 40px; padding-right: 0px;"
            >
              <v-tab
                v-for="(item, index) in items"
                :key="index"
                style="text-transform: capitalize;"
              >
                {{ item }}
              </v-tab>
            </v-tabs>
          </v-col>
          <v-col
            cols="6"
            class="pt-0"
            style="display: flex; justify-content: end; align-items: end;"
           
          >
            <v-btn
            v-if="profile.pm_id || profile.user_id === '000'"
              color="primary"
              style="text-transform: capitalize"
              large
              @click="openModalAddSoDetails()"
            >
              <feather
                style="padding-right: 25px"
                type="plus-circle"
                size="22"
              ></feather>
              Add So Detail</v-btn
            >
          </v-col>
        </v-row>
        <v-tabs-items
          v-model="tab"
          style=" background-color: #e5e5e5 !important;"
        >
          <v-tab-item>
            <Tabpmserviceactive :abc="testabc" />
          </v-tab-item>
          <v-tab-item>
            <TabPmServiceInactive></TabPmServiceInactive>
          </v-tab-item>
        </v-tabs-items>

        <ModalEditCustomer />
        <ModalAddSoDetails />
        <ModalEditSoDetail />
      </v-container>
    </v-main>
  </div>
</template>
<script>
import swal from 'sweetalert2'
import { delteCus } from '@/api/modal'
import { getProfile } from '@/utils/profile'
import { EventBus } from '@/utils/EventBus'
import Loading from '@/components/commons/Loading/Loading'
import ModalEditCustomer from '@/components/commons/ModalEditCustomer/ModalEditCustomer'
import ModalAddSoDetails from '@/components/commons/ModalAddSoDetail/ModalAddSoDetail'
import ModalEditSoDetail from '@/components/commons/ModalEditSoDetail/ModalEditSoDetail'
import Tabpmserviceactive from '@/components/pages/PMServiceDetail/TabPmServiceActive'
import TabPmServiceInactive from '@/components/pages/PMServiceDetail/TabPmServiceInactive'
import Icon from '@/assets/New Project.png'
import { openfileapi } from '@/api/assign'
import { Getservicedetail, Getfile } from '@/api/service'

export default {
  components: {
    Loading,
    ModalEditCustomer,
    ModalAddSoDetails,
    ModalEditSoDetail,
    Tabpmserviceactive,
    TabPmServiceInactive
  },
  data () {
    return {
      projects: [
        {
          status: 'Critical'
        },
        {
          status: 'Active'
        }
      ],
      tab: null,
      testabc: ['Active', 'Inactive'],
      items: ['Active', 'Inactive'],
      isLoading: false,
      cusData: {},
      cusinfo: {},
      profile: {}
    }
  },
  created () {
    this.tab = this.$route.query.soactivate === 'inactive' ? 1 : 0
    this.getdata()
    this.getProfileapi()
  },
  mounted () {
    EventBus.$on('reloadPMServiceDetail', this.getdata)
  },
  methods: {
    async getProfileapi () {
      const profile = await getProfile()
      this.profile = profile
    },
    async getdata () {
      var xml = this.$route.query.cusno
      const dataGetservicedetail = await Getservicedetail('cus', xml)
      this.cusinfo = dataGetservicedetail.cus_info
    },
    openModalEditCustomer (info) {
      EventBus.$emit('openModalEditCustomer', info)
    },
    openModalAddSoDetails () {
      EventBus.$emit('openModalAddSoDetails')
    },
    openModalEditSoDetail () {
      EventBus.$emit('openModalEditSoDetail')
    },
    editManage (data) {
      this.cusData = JSON.parse(JSON.stringify(data))
      this.dialog = true
    },
    async  openfile (data) {
      if (data) {
        var xc = await Getfile(data)
        window.open(xc, '_blank')
      }
    },

    deleteCustomer (i) {
      swal
        .fire({
          imageUrl: Icon,
          imageWidth: 110,
          imageHeight: 120,
          text: 'Would you like to request the removal of this customer?',
          reverseButtons: true,
          showCancelButton: true,
          confirmButtonColor: '#174A67',
          confirmButtonText: 'OK'
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.deletecusapi()
          }
        })
    },
    async deletecusapi () {
      try {
        var getProfiledata = await getProfile()
        const dataDetail = {
          pm_id: getProfiledata.user ? getProfiledata.user.pm_id : 'admin',
          cus_no: this.cusinfo.cus_no
        }
        var eee = await delteCus(dataDetail)
        this.isLoading = true

        swal.fire('Successfully', 'Your request has been sent to the ADMIN.', 'success')
      } catch (error) {
        swal.fire({
          confirmButtonColor: '#325869',
          icon: 'error',
          title: 'The customer is waiting for remove approval.'
        })
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>
<style>

.testtest {
 padding-top: 40px;
 display: flex;
 justify-content: flex-end;
}

.row__padding {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 24px;
}

.rowbg {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.title__top {
  padding-left: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #174a67 !important;
}
.title__font {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #0f75bd;
}
.title__margin {
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .row__padding {
    padding: unset !important;
  }
}
.customer-font {
  font-weight: 600;
  font-size: 18;
  color: #333333 !important;
}

.v-tabs {
  flex: 1 1 auto;
  width: max-content;
  font-weight: 600;
  font-size: 20px;
}

.nat2 .v-tab {
  font-weight: 500 !important;
  font-size: 20px !important;
  background-color: #0f75bd !important;
  overflow: hidden !important;
  color: #ffffff !important;
  border-radius: 10px 0px 0px 10px;

}
.nat2 .v-tab:last-child {
  border-radius: 0px 10px 10px 0px;
}

.nat2 .v-tab:not(.v-tab--active) {
  background-color: #ffffff !important;
  color: #bdbdbd !important;

}

.nat2 .v-tabs-slider-wrapper {
  width: 0 !important;
}

.nat2 .v-slide-group__content {
  background-color: #e5e5e5 !important;
}

.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #ffffff;
  color: #174a67;
  font-size: 1em;
  border: thin solid currentColor;
}
.customer-downlond {
  font-weight: 600;
  font-size: 18;
  color: #0f75bd !important;
  text-decoration: underline;
}

.vchipactive {
  background-color: #05ee91 !important;
}
.v-chip-critical {
  background-color: #fdecec !important;
}
</style>
