<template>
  <div style="background-color: var(--v-grayfooter-base) !important">
    <Loading :isLoadingCheck="isLoading"></Loading>

    <template>
      <v-col
        v-for="(item, index) in mockdata"
        :key="index"
        class="mt-4 row__padding rowbg"
        style="padding-top: 0px; padding-left: 35px;"
      >
      <v-row>
        <v-col cols="6" class="pl-0 pt-0 pb-0">
          <v-row>
            <h4
                color="#0F75BD"
                style="margin-bottom: 10px; margin-top: 20px; margin-left: 10px; margin-right: 25px; color: #0f75bd"
              >
                So Detail
              </h4>
            <v-switch :disabled="!(profile.pm_id || profile.user_id === '000')" @change="switchcusactivate(item.so_id, item.so_activate === 'active')" color="success" :input-value="false" inset></v-switch>
          </v-row>
        </v-col>

        <v-col
          cols="6"
          class="pl-0"
          style="display: flex; justify-content: flex-end; align-items: center"
        >
        <!-- <v-btn
            color="primary"
            @click="openapifile(item)"
            style="margin-right: 20px;height: 44px;padding: 0px;"
        >
            <v-icon>mdi-link-variant</v-icon>
        </v-btn> -->
          <v-btn
            color="primary"
            style="width: 120px; margin-right: 20px; text-transform: capitalize"
            large
            @click="tablink('PMLogDetail', item)"
            >Log</v-btn
          >
          <v-btn
          v-if="profile.pm_id || profile.user_id === '000'"
            class="mr-2"
            @click="openModalEditSoDetail(item)"
            icon
            style="border-radius: 15%"
          >
            <feather
              style="color: gray"
              type="edit"
              size="22"
              href="#PMServiceDetailEdit"
            ></feather>
          </v-btn>
          <v-btn
          v-if="profile.pm_id || profile.user_id === '000'"
            class="mr-3"
            @click="deleteLog(item.so_id)"
            icon
            style="border-radius: 15%"
          >
            <feather style="color: gray" type="trash-2" size="22"></feather>
          </v-btn>
        </v-col>
      </v-row>
        
      <v-row>
        <v-col cols="8" sm="8" md="8" class="pl-0 pt-0">
          <p style="color: #aeaeae">Service</p>
          <v-row>
            <v-chip
              v-for="(xml, index) in item.services"
              :key="index"
              class="ma-2"
              style="color: #ffffff"
              :color="
                xml === 'pm'
                  ? 'primary'
                  : '#58A144' && xml === 'mnsp'
                  ? '#FCC419'
                  : '#58A144' && xml === 'report'
                  ? '#EF6C00'
                  : '#58A144'
              "
            >
              {{ xml.toUpperCase() }}
            </v-chip>
          </v-row>
        </v-col>

        <v-col
          cols="4"
          sm="4"
          md="4"
          class="pl-0 pt-0"
          style="display: flex; align-self: flex-end"
        >
          <v-row>
            <v-col sm="9" style="padding-right: 0px">
                <!-- {{100 - ((diffday(item.due_date , dayjs().format('YYYY-MM-DD'))/ diffday(item.due_date, item.open_date)) * 100)}} -->
              <v-progress-linear
                v-show="item.services.includes('pm') && item.so_status !== 'cancel'"
                :value="item.so_status == 'complete' || item.so_status == 'terminate' ? 100 : 100 - ((diffday(item.due_date , dayjs().format('YYYY-MM-DD'))/ diffday(item.due_date, item.open_date)) * 100)"
                :color="(diffday(item.due_date , dayjs().format('YYYY-MM-DD')) > 2 || item.so_status == 'complete' || item.so_status == 'terminate') ? '#58A144' : (diffday(item.due_date , dayjs().format('YYYY-MM-DD')) == 0) ? '#E53935' : '#FCC419'"
                height="20"
                background-color="#E0E0E0"
                style="border-radius: 25px"
                ><strong></strong
              ></v-progress-linear>
            </v-col>
            <v-col
            v-show="item.services.includes('pm') && item.so_status !== 'cancel'"
              sm="3"
              :style="'padding-left: 0px;position: relative;right: '+(item.so_status == 'complete' || item.so_status == 'terminate' ? 77 : 36 )+'px;bottom: 30px;'"
              >
              <p :style="'color: '+((diffday(item.due_date , dayjs().format('YYYY-MM-DD')) > 2 || item.so_status == 'complete' || item.so_status == 'terminate') ? '#58A144' : (diffday(item.due_date , dayjs().format('YYYY-MM-DD')) == 0) ? '#E53935' : '#FCC419')">
                  {{ item.so_status == 'complete' || item.so_status == 'terminate' ? 'Complete' : diffday(item.due_date , dayjs().format('YYYY-MM-DD'))}}
                  {{ item.open_date > dayjs().format('YYYY-MM-DD') ? `(${diffday(item.due_date , item.open_date)})` : "" }}
                  {{ item.so_status == 'complete' || item.so_status == 'terminate' ? '' : 'วัน' }}
            </p>
           </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-row>
          <v-col cols="3" sm="3" md="3" lg="3">
            <p style="color: #aeaeae">SO No.</p>
            <p class="customer-font">{{item.so_no}}</p>
             <v-btn
            :disabled="!(dataofsonoapi[item.so_id])"
            :loading="!Boolean(item.so_id in dataofsonoapi)"
						color="primary"
						rounded
						width="130px"
						@click="golinksono(item.so_no)"
						class="mb-4 onebox"
						style="margin-right: 20px;padding: 0px;text-transform: capitalize;margin-left: -7px;">
						<v-icon class="pr-1">mdi-link-variant</v-icon>Onebox<v-icon style="font-size: 20px;" color="#ffffff" right>
					{{dataofsonoapi[item.so_id] ? 'mdi-check-circle' : 'mdi-close-circle'}} </v-icon>
            </v-btn>
          </v-col>

          <v-col cols="3" sm="3" md="3" lg="3">
            <p style="color: #aeaeae">SO Type.</p>
            <p class="customer-font">
              {{item.so_type || '-'}}
            </p>
          </v-col>

          <v-col cols="3" sm="3" md="3" lg="3">
            <p style="color: #aeaeae">Status</p>
            <p :style="checkcolor(item.so_status,item.due_date)">{{checksostatus(item.so_status,item.due_date)}}</p>
          </v-col>

          <v-col cols="3" sm="3" md="3" lg="3" v-show="item.services.includes('pm')">
            <v-row>
              <v-col cols="6" sm="6" md="6" style="padding-top: 0px">
                <p style="color: #aeaeae">Open Date</p>
                <p class="customer-font">{{dayjs(item.open_date).format('DD/MM/YYYY')}}</p>
              </v-col>
               <v-col pt-0 cols="6" sm="6" md="6" style="padding-top: 0px">
                <p style="color: #aeaeae">Due Date</p>
                <p class="customer-font">{{dayjs(item.due_date).format('DD/MM/YYYY')}}</p>
              </v-col>
            </v-row>
          </v-col>
      </v-row>

      <v-row>
          <v-col cols="12" sm="12" md="12" lg="12" class="pt-0">
            <p style="color: #aeaeae">Solution</p>
            <p class="customer-font">
              {{item.so_solution || '-'}}
            </p>
          </v-col>
      </v-row>

      <v-row>
          <v-col cols="12" sm="12" md="12" lg="12" class="pt-0" v-show="item.services.includes('report')">
            <p style="color: #aeaeae">Report Detail</p>
            <p class="customer-font">
              {{item.report_detail || '-'}}
            </p>
          </v-col>
      </v-row>

      <v-row>

          <v-col cols="3" sm="3" md="3" lg="3">
            <p style="color: #aeaeae">Start Date</p>
            <p class="customer-font">{{item.start_date ? dayjs(item.start_date).format('DD/MM/YYYY') : '-'}}</p>
          </v-col>
          <v-col cols="3" sm="3" md="3" lg="3">
            <p style="color: #aeaeae">End Date</p>
            <p class="customer-font">{{item.end_date ? dayjs(item.end_date).format('DD/MM/YYYY') : '-'}}</p>
          </v-col>
          <v-col cols="3" sm="3" md="3" lg="3">
            <p style="color: #aeaeae">project</p>
            <p class="customer-font">{{item.cov_project || '-'}}</p>
          </v-col>
          <v-col cols="3" sm="3" md="3" lg="3"></v-col>
      </v-row>

      <v-row>
          <v-col cols="3" sm="3" md="3" lg="3">
            <p style="color: #aeaeae">PM Name</p>
            <p class="customer-font">{{item.pm_name || '-'}}</p>
          </v-col>
          <v-col cols="3" sm="3" md="3" lg="3">
            <p style="color: #aeaeae">Sale Name</p>
            <p class="customer-font">{{item.sale_name || '-'}}</p>
          </v-col>
          <v-col cols="3" sm="6" md="3" lg="3">
            <p style="color: #aeaeae">Pre-Sale Name</p>
            <p class="customer-font">{{item.presale_name || '-'}}</p>
          </v-col>
          <v-col cols="3" sm="3" md="3" lg="3"></v-col>
      </v-row>

      <v-row>
          <v-col cols="3" lg="3" sm="6" md="3" >
            <p style="color: #aeaeae">Diagram File</p>
            <p @click="openfile(item.diagFile_id)" :class="!item.diagFile_name || 'customer-downlond'" :style="!item.diagFile_name || 'cursor: pointer;'">{{item.diagFile_name || '-'}}</p>
          </v-col>
          <v-col cols="3" lg="3" sm="6" md="3">
            <p style="color: #aeaeae">SO File</p>
            <p  @click="openfile(item.soFile_id)" :class="!item.soFile_name || 'customer-downlond'" :style="!item.soFile_name || 'cursor: pointer;'">{{item.soFile_name || '-'}}</p>
          </v-col>
          <v-col cols="3" lg="3" sm="6" md="3" v-show="item.services.includes('pm')">
            <p style="color: #aeaeae">Confirm UAT File</p>
              <p  @click="openfile(item.conf_uatFile_id)" :class="!item.conf_uatFile_name || 'customer-downlond'" :style="!item.conf_uatFile_name || 'cursor: pointer;'">{{item.conf_uatFile_name || '-'}}</p>
          </v-col>
           <v-col cols="3" sm="3" md="3" lg="3"></v-col>
      </v-row>

      <v-row>
          <v-col cols="3" lg="3" sm="6" md="3" v-show="item.services.includes('pm')">
            <p style="color: #aeaeae">UAT File</p>
              <p  @click="openfile(item.uatFile_id)" :class="!item.uatFile_name || 'customer-downlond'" :style="!item.uatFile_name || 'cursor: pointer;'">{{item.uatFile_name || '-'}}</p>
          </v-col>
          <v-col cols="3" lg="3" sm="6" md="3" v-show="item.so_status === 'terminate'">
            <p style="color: #aeaeae">Terminate File</p>
              <p  @click="openfile(item.termFile_id)" :class="!item.termFile_name || 'customer-downlond'" :style="!item.termFile_name || 'cursor: pointer;'">{{item.termFile_name || '-'}}</p>
          </v-col>
          <v-col cols="6" sm="6" md="6" lg="6"></v-col>
      </v-row>
        
      </v-col>
      <v-row
        v-if="mockdata.length === 0"
          class="mt-4 row__padding rowbg_active"
          style="padding-top: 0px;justify-content: center; align-content: center;"
      >
      No data available
      </v-row>
    </template>
  </div>
</template>
<script>
import { getProfile } from '@/utils/profile'
import { deleteSo } from '@/api/modal'
import swal from 'sweetalert2'
import { EventBus } from '@/utils/EventBus'
import Loading from '@/components/commons/Loading/Loading'
import dayjs from 'dayjs'
import { Getservicedetail, Getfile, EditsoAtv } from '@/api/service'
import Icon from '@/assets/New Project.png'
import { openfileapi } from '@/api/assign'
import Vue from 'vue'
Vue.prototype.dayjs = dayjs
export default {
  components: {
    Loading
  },
  props: {
    abc: null
  },
  data () {
    return {
      datelinear: 33,
      soData: {
        switch1: true
      },
      switch1: true,
      checkboxpm: true,
      tab: null,
      items: ['PM Service', 'Non-PM Service'],
      page: 1,
      expanded: [],
      itemsPerPage: 10,
      mockdata: [],
      isLoading: false,
      date: new Date().toISOString().substr(0, 7),
      checkst: {
        complete: { no: '2', name: 'Complete', color: '#58A144' },
        in_progress: { no: '3', name: 'In Progress', color: '#FCC419' },
        uat: { no: '5', name: 'UAT', color: '#0F75BD' },
        waiting_customer: { no: '6', name: 'Waiting Customer', color: '#ED7D2B' },
        waiting_so: { no: '7', name: 'Waiting Revise SO', color: '#ED7D2B' },
        terminate: { no: '8', name: 'Terminate', color: '#6C49B8' },
        cancel: { no: '9', name: 'Cancel', color: '#AEAEAE' },
        expire: { no: '10', name: 'Expire', color: '#757575' },
        overdue: { no: '4', key: 'overdue', name: 'Overdue', color: '#F03D3E', value: 0 }
      },
      profile: {},
      dataofsonoapi: {}
    }
  },
  created () {
    this.switchso()
    this.getProfileapi()
  },
  mounted () {
    EventBus.$on('reloadTabPmServiceActive', this.switchso)
  },
  methods: {
    async golinksono (data) {
      var xml = await openfileapi(data)
      const taxid = '0107544000094'
      const boxUrl = await `https://box.one.th/redirectdirectory?accesstoken=${localStorage.getItem('one_token')}&taxid=${taxid}&folder_id=${xml.result[0].folder_id}`
      window.open(boxUrl)
    },
    async getProfileapi () {
      const profile = await getProfile()
      this.profile = profile
    },
    async switchso () {
      var xml = this.$route.query.cusno
      const dataGetservicedetail = await Getservicedetail('inactive', xml)
      this.mockdata = dataGetservicedetail.so_card
      for (const data of dataGetservicedetail.so_card) {
        var xmlcc = await openfileapi(data.so_no)
        if (xmlcc.result) {
          this.dataofsonoapi[data.so_id] = true
        } else {
          this.dataofsonoapi[data.so_id] = false
        }
      }
      this.mockdata = []
      this.mockdata = dataGetservicedetail.so_card
    },
    diffday (opendate, enddate) {
      var xml = dayjs(opendate).diff(enddate, 'days')
      return xml < 0 ? 0 : xml
    },
    checksostatus (data, dd) {
      try {
        const dueList = ['in_progress', 'uat', 'waiting_customer', 'waiting_so']
        const status = (this.diffday(dd, dayjs().format('YYYY-MM-DD')) == 0) && dueList.includes(data) ? 'overdue' : data
        var xddd = this.checkst[status].name
        return xddd
      } catch (error) {
        return '-'
      }
    },
    checkcolor (data, dd) {
      try {
        const dueList = ['in_progress', 'uat', 'waiting_customer', 'waiting_so']
        const status = (this.diffday(dd, dayjs().format('YYYY-MM-DD')) == 0) && dueList.includes(data) ? 'overdue' : data
        var xml = `color: ${this.checkst[status].color};`
        return xml
      } catch (error) {
        return '-'
      }
    },
    async  switchcusactivate (data, data2) {
      try {
        this.isLoading = true
        var xml = !data2
        await EditsoAtv(data, xml)
      } catch (error) {

      } finally {
        setTimeout(async () => {
          this.mockdata = []
          this.switchso()
          EventBus.$emit('reloadTabPmServiceActive')
          this.isLoading = false
        }, 1000)
      }
    },
    tablink (data, soid) {
      this.$router.push({
        name: data,
        query: { soid: soid.so_id, sono: soid.so_no, cusno: this.$route.query.cusno }
      })
    },
    async  openfile (data) {
      if (data) {
        var xc = await Getfile(data)
        window.open(xc, '_blank')
      }
    },
    openModalEditSoDetail (item) {
      EventBus.$emit('openModalEditSoDetail', item)
    },
    deleteLog (id) {
      swal
        .fire({
          imageUrl: Icon,
          imageWidth: 110,
          imageHeight: 120,
          text: 'Are you confirm to delete this data?',
          reverseButtons: true,
          showCancelButton: true,
          confirmButtonColor: '#174A67',
          confirmButtonText: 'Delete'
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.deletesoapi(id)
          }
        })
    },
    async deletesoapi (id) {
      try {
        this.isLoading = true
        var getProfiledata = await getProfile()
        var dataDetail = {
          so_id: id,
          pm_id: getProfiledata.pm_id ? getProfiledata.pm_id : 'admin'
        }
        await deleteSo(dataDetail, 'deletesoapi')
        swal.fire({
          position: 'center',
          icon: 'success',
          title: 'Deleted!',
          text: 'Your data has been deleted.',
          confirmButtonColor: '#174A67'
        })
        this.switchso()
      } catch (error) {
        swal.fire({
          confirmButtonColor: '#325869',
          icon: 'error',
          title: error.response.data.message
        })
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>
<style scoped>
.onebox.theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: var(--v-primary-base) !important;
	color: #ffffff !important;
}
.onebox.theme--light.v-btn.v-btn--disabled .v-icon, .theme--light.v-btn.v-btn--disabled .v-btn__loading {
        color: inherit !important;
}
</style>
<style>
.row__padding {
  padding: 24px;
}
.rowbg {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
}

.rowbg_active {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  height: 300px;
}

@media screen and (max-width: 600px) {
  .row__padding {
    padding: unset !important;
  }
}
.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #fff;
  color: #174a67;
  font-size: 1em;
  border: thin solid currentColor;
}
</style>
