<template>
  <div>
    <PMLogDetail/>
  </div>
</template>
<script>
import PMLogDetail from '@/components/pages/PMServiceDetail/PMLogDetail'
export default {
  components: {
    PMLogDetail
  }
}
</script>
