<template>
  <div>
    <PMServiceDetail/>
  </div>
</template>
<script>
import PMServiceDetail from '@/components/pages/PMServiceDetail/PMServiceDetail'
export default {
  components: {
    PMServiceDetail
  }
}
</script>
