<template>
  <v-row justify="center">
    <v-dialog persistent v-model="dialog" max-width="600px">
      <v-card style="background-color: #f5f5f5">
        <v-card-title class="text-center justify-center" style="padding-right: 10px;">
          <h3 class="head2 ml-2" color="#174A67">Edit PM</h3>
          <v-spacer></v-spacer>
           <v-btn
              icon
              color="#333333"
              large
              @click="closedialog"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title>

        <v-container class="px-5">
          <v-card
            style="
              margin-bottom: 30px;
              box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            "
          >
            <v-list-item>
              <v-list-item-content>
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-row>
                    <v-col cols="12" sm="12" md="12" class="pt-0 pb-0">
                      <v-row>
                        <v-col cols="12" sm="12" md="12">
                          <div style="color:#333333;font-size:16px;">
                            PM Name
                          </div>
                          <v-col cols="12" style="padding-left: 0px">
                            <v-text-field
                              single-line
                              outlined
                              v-model="pmData.pm_name"
                              :rules="[v => !!v || 'PM Name is required']"
                              placeholder="PM Name"
                              required
                            ></v-text-field>
                          </v-col>
                          <div style="color:#333333;font-size:16px;">
                            PM Nickname
                          </div>
                          <v-col cols="12" style="padding-left: 0px">
                            <v-text-field
                              single-line
                              outlined
                              v-model="pmData.pm_nickname"
                              :rules="[v => !!v || 'Pm Nickname is required']"
                              placeholder="PM Nickname"
                              required
                            ></v-text-field>
                          </v-col>
                          <div style="color:#333333;font-size:16px;">
                            Email (INET)
                          </div>
                          <v-col cols="12" style="padding-left: 0px">
                            <v-text-field
                              single-line
                              outlined
                              v-model="pmData.pm_email"
                              :rules="[v => !!v || 'email is required',v => /.+@inet\.co\.th$/.test(v) || 'E-mail must be valid, Ex.abc@inet.co.th']"
                              placeholder="abcd@inet.co.th"
                              required
                            ></v-text-field>
                          </v-col>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-form>
              </v-list-item-content>
            </v-list-item>
          </v-card>
          <v-col cols="12" sm="12" md="12" class="pt-0 pb-0">
            <v-row class="justify-center">
              <v-col
                cols="6"
                sm="6"
                md="6"
                style="display: flex; justify-content: flex-end"
              >
                <v-btn outlined color="#174A67" @click="closedialog"
                  >Cancel</v-btn
                >
              </v-col>

              <v-col cols="6" sm="6" md="6">
                <v-btn
                  depressed
                  color="#174A67"
                  :disabled="!valid"
                  @click="handleEditMember"
                  style="color: white"
                >
                  Edit</v-btn
                >
              </v-col>
            </v-row>
          </v-col>
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { EventBus } from '@/utils/EventBus'
import { editPM } from '@/api/pm'
import swal from 'sweetalert2'

export default {
  data: () => ({
    dialog: false,
    valid: true,
    pmData: {}
  }),

  mounted () {
    EventBus.$on('editpm', this.editManage)
  },
  methods: {
    editManage (data) {
      this.pmData = JSON.parse(JSON.stringify(data))
      this.dialog = true
    },
    async handleEditMember () {
      try {
        if (this.$refs.form.validate()) {
          await editPM(this.pmData)
          swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Success',
            showConfirmButton: false,
            timer: 1500
          })
          EventBus.$emit('reloaddataTablepmservice')
          this.closedialog()
        }
      } catch (error) {
        swal.fire({ confirmButtonColor: '#325869', icon: 'error', title: error.response.data.message })
      }
    },
    closedialog () {
      this.pmData = {}
      this.$refs.form.reset()
      this.dialog = false
    }
  }
}
</script>
<style>
.postbox .v-input__slot {
  margin-bottom: 0px !important;
  align-items: center;
  color: inherit;
  display: flex;
  margin-bottom: 8px;
  min-height: inherit;
  position: relative;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  width: 100%;
}
.postbox .v-text-field__details {
  display: flex;
  flex: 1 0 auto;
  max-width: 100%;
  min-height: 14px;
  overflow: hidden;
  display: none;
}

.head2 {
  font-size: 23px;
}
.head3 {
  font-size: 26px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
