<template>
  <v-row justify="center">
    <v-dialog persistent v-model="dialog2" max-width="auto" content-class="ass">
      <v-card style="background-color: #f5f5f5;border-radius: 10px;">
        <v-container fluid style="padding: 9px 30px 9px 30px">
          <v-row style="justify-content: flex-end">
            <Loading :isLoadingCheck="isLoading"></Loading>
            <div>
              <v-btn icon color="#8f938e" class="mr-5">
                <feather
                  @click="dialog2 = false"
                  style="color: #333333"
                  type="x"
                  size="27"
                  stroke-width="2"
                ></feather>
              </v-btn>
            </div>
          </v-row>
          <v-row class="mt-2 align-center text-center row__padding rowbgpm">
            <v-col md="12" sm="12">
              <v-data-table
                no-data-text="No data available"
                :headers="headerTeamAvailable"
                :items-per-page="-1"
                style=""
                hide-default-footer
                :items="desserts"
                height="55vh"
                fixed-header
                @click:row="popDupp"
                :item-class="rowBackground"
              >

                <template v-slot:[`header.docdaxmaster`]="{ header }">
               <!-- <v-checkbox -->
          <v-icon color="#ffffff" @click="checkalldata(isAll = !isAll)">{{ selected.length === desserts.filter(des => des.so_info.length == 0).length && desserts.length !== 0 ? 'mdi-checkbox-marked ' : 'mdi-checkbox-blank-outline'}}</v-icon>
                    <!-- v-model="selected" -->
                <!-- ></v-checkbox> -->
              </template>
              <template v-slot:[`item.docdaxmaster`]="{ item }">
                 <v-checkbox
                    v-model="selected"
                    :value="item"
                    :disabled="Boolean(item.so_info.length)"
                    ></v-checkbox>
                </template>
                <template v-slot:[`item.no`]="{ item }">
                 {{ desserts.indexOf(item) + 1 }}
                </template>
                <template v-slot:[`item.pre_start_date`]="{ item }">
                 {{dayjs(item.pre_start_date).format('DD/MM/YYYY')}}
                </template>
                   <template v-slot:[`item.pre_end_date`]="{ item }">
                 {{dayjs(item.pre_end_date).format('DD/MM/YYYY')}}
                </template>

                <template v-slot:[`item.so_file`]="{ item }">
                  <v-btn
                    color="#0082ba"
                    @click="openapifile(item)"
                    icon
                  >
                   <v-icon>mdi-link-variant</v-icon>
                  </v-btn>
                </template>

                <template v-slot:[`item.pm_id`]="{ item }">
                  <v-autocomplete
                                        v-model="item.pm_id"
                                        :items="pmnameitems"
                                        placeholder="PM Name"
                                        class="pmcols"
                                        dense
                                        outlined
                                        :disabled="Boolean(item.so_info.length)"
                  ></v-autocomplete>
                </template>
                <template v-slot:[`item.pre_remark`]="{ item }">
                  <v-combobox
                                        v-model="item.pre_remark"
                                        :items="remarkitems"
                                        placeholder="Remark"
                                        class="pmcols"
                                        dense
                                        outlined
                                        :disabled="Boolean(item.so_info.length)"
                  ></v-combobox>
                </template>
              </v-data-table>
              <v-row justify="center" class="pt-8 pb-2">
      <v-btn
        outlined
        color="#FF0000"
        class="mr-16"
        style="width: 138px;background-color: #fdecec !important;text-transform: capitalize"
        @click="removeAssign()"
        :disabled="Boolean(!selected.length)"
      >
        Deny
      </v-btn>
      <v-btn
        depressed
        color="#174A67"
        style="color: white; text-transform: capitalize;width: 138px;"
        @click="saveAssign()"
        :disabled="Boolean(!selected.length)"
      >
        Accept
      </v-btn>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import Loading from '@/components/commons/Loading/Loading'
import { EventBus } from '@/utils/EventBus'
import { modaltable, openfileapi, denyAutoAssign, acptAutoAssign } from '@/api/assign'
import { getPM } from '@/api/pm'
import dayjs from 'dayjs'
import Vue from 'vue'
import swal from 'sweetalert2'
import Icon from '@/assets/New Project.png'
Vue.prototype.dayjs = dayjs
export default {
  components: {
    Loading,
  },
  data () {
    return {
      selected: [],
      pmnameitems: [],
        remarkitems: [
            'PM+UAT',
            'PM+UAT/MNSP',
            'MNSP',
            'ENT',
            'COMP',
            'ENT/COMP',
            'REP'
        ],
      pagelist: [
        5,
        10,
        15,
        {
          value: Number.MAX_SAFE_INTEGER,
          text: 'all'
        }
      ],
      tab: null,
      page: 1,
      itemsPerPage: 10,
      pageTextField: 1,
      pageCount: 0,
      search: '',
      headerTeamAvailable: [
        {
          text: '',
          value: 'docdaxmaster',
          class: 'header__other',
          sortable: false,
          width: '3.5vw'

        },
        {
          text: 'No',
          value: 'no',
          sortable: false,
          class: 'header__other text-center',
          align: 'center'
        },
        {
          text: 'Customer ID',
          value: 'pre_cus_id',
          sortable: false,
          class: 'header__other text-center',
          align: 'center',
          width: '9vw'
        },
        {
          text: 'Customer Name Thai',
          value: 'pre_cus_name',
          sortable: false,
          class: 'header__other text-center',
          align: 'center',
          width: '17vw'
        },
        {
          text: 'Solotion',
          value: 'pre_solution',
          class: 'header__other text-center',
          sortable: false,
          align: 'center',
          width: '13vw'
        },
        {
          text: 'SO Number',
          value: 'pre_so_no',
          class: 'header__other text-center',
          sortable: false,
          align: 'center',
          width: '11vw'
        },
        {
          text: 'SO File',
          value: 'so_file',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: 'PM Name',
          value: 'pm_id',
          class: 'header__other text-center',
          sortable: false,
          align: 'center',
          width: '11vw'
        },
        {
          text: 'Remark',
          value: 'pre_remark',
          class: 'header__other text-center',
          sortable: false,
          align: 'center',
          width: '11vw'
        },
        {
          text: 'Sale Name',
          value: 'pre_sale_name',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: 'Start Date',
          value: 'pre_start_date',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: 'End Date',
          value: 'pre_end_date',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        }
        // {
        //   text: 'Remark',
        //   value: 'pre_remark',
        //   class: 'header__other text-center',
        //   sortable: false,
        //   align: 'center'
        // },
        // {
        //   text: '',
        //   value: 'open_acc',
        //   class: 'header__other text-center',
        //   sortable: false,
        //   align: 'center'
        // },
      ],
      desserts: [],
      itemSummary: null,
      isLoading: false,
      menu: false,
      isAll: false,
      dialog2: false,
      date: new Date().toISOString().substr(0, 7)
    }
  },
  computed: {
    numberOfPages () {
      return Math.ceil(this.desserts.length / this.itemsPerPage)
    },
    startRowPerPages () {
      return Math.ceil((this.page - 1) * this.itemsPerPage) + 1
    },
    endRowPerPages () {
      return Math.ceil(this.itemsPerPage * this.page) > this.desserts.length
        ? this.desserts.length
        : Math.ceil(this.itemsPerPage * this.page)
    }
  },

  async created () {
    const pm = await getPM()
    this.pmnameitems = pm.map(x => { return { text: x.pm_name + ' ' + '(' + x.pm_nickname + ')', value: x.pm_id } })
    this.pmnameitems.unshift({ text: '----------------', value: null })
  },
  mounted () {
    EventBus.$on('searchDocNot', this.searchDocNot)
    EventBus.$on('openModalAssignment', this.openDialog)
  },
  methods: {
    btnlink (data) {
      this.$router.push(data)
    },
    rowBackground (row) {
      const rowSelected = this.selected.find(itm => itm.pre_id === row.pre_id)
      return rowSelected ? 'highlight' : ''
    },
    async popDupp (arg, row) {
      if (arg.so_info.length) {
        swal.fire({
          showConfirmButton: false,
          timer: 999,
          icon: 'warning',
          title: 'SO No. is Duplicate.'
        })
      }
    },
    async saveAssign () {
        this.isLoading = true
        try {
            const arr2pass = await this.selected.map(item => {
                const container = {}
                container.pm_id = item.pm_id
                container.pre_id = item.pre_id
                container.remark = item.pre_remark
                return container
            })
            await acptAutoAssign(arr2pass)
            swal.fire({
                position: 'center',
                timer: 2222,
                icon: 'success',
                title: 'Accept Successful',
                showConfirmButton: false
            })
            this.openDialog()
        } catch (error) {
            console.log(error)
        }
        EventBus.$emit('reloadAssignmentTable')
        this.isLoading = false
    },
    async removeAssign () {
        this.isLoading = true
        swal.fire({
            imageUrl: Icon,
            imageWidth: 110,
            imageHeight: 120,
            text: 'If you confirm, this customer data will be denied',
            title: 'Deny Customer Data',
            reverseButtons: true,
            showCancelButton: true,
            confirmButtonColor: '#FF0000',
            confirmButtonText: 'Deny'
        }).then(async result => {
            if (result.isConfirmed) {
                const arr2pass = this.selected.map(item => item.pre_id)
                await denyAutoAssign(arr2pass)
                swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Denied!',
                    text: 'Your customer data has been Denied.',
                    confirmButtonColor: '#174A67'
                })
                this.openDialog()
            }
            this.isLoading = false
        })
    },
    checkalldata (isAll) {
      // console.log(isAll)
      if (isAll) {
        this.selected = this.desserts.filter(des => des.so_info.length == 0)
      } else {
        this.selected = []
      }
    },
    // async openapifile (data) {
    // //   console.log(data.pre_so_no)
    //     this.isLoading = true
    //   var xml = await openfileapi(data.pre_so_no)
    // //   console.log(xml.result[0].folder_id)
    //     const taxid = "0107544000094"
    //   const boxUrl = await `https://box.one.th/redirectdirectory?accesstoken=${localStorage.getItem("one_token")}&taxid=${taxid}&folder_id=${xml.result[0].folder_id}`
    // //   console.log(boxUrl)
    //   window.open(boxUrl)
    //     this.isLoading = false
    // },
    async openapifile (data) {
      //   console.log(data.pre_so_no)
      this.isLoading = true
      var xml = await openfileapi(data.pre_so_no)
      //   console.log(xml.result[0].folder_id)
      if (xml.result) {
        const taxid = '0107544000094'
        const boxUrl = await `https://box.one.th/redirectdirectory?accesstoken=${localStorage.getItem('one_token')}&taxid=${taxid}&folder_id=${xml.result[0].folder_id}`
        //   console.log(boxUrl)
        window.open(boxUrl)
      } else {
        swal.fire({
          showConfirmButton: false,
          timer: 2345,
          icon: 'error',
          title: 'No matching information was found.'
        })
      }
      this.isLoading = false
    },
    checkpage () {
      this.pageTextField =
        this.pageTextField > 0 || !this.pageTextField ? this.pageTextField : 1
      this.pageTextField =
        this.pageTextField <= this.pageCount || !this.pageTextField
          ? this.pageTextField
          : this.pageCount
      if (this.pageTextField) {
        this.page = this.pageTextField
      }
    },
    searchDocNot (data) {
      this.search = data
    },

    async openDialog () {
      var xml = await modaltable()
      this.desserts = xml.data
      // .splice(0, 5)
      // console.log(xml.data)
      this.selected = []
      this.dialog2 = true
      this.isAll = false
    }
  }
}
</script>
<style>
.ass {
    align-self: flex-end;
}
.highlight {
    background-color: rgba(225, 245, 255, 0.61);
}
.highlight:hover {
    background-color: rgba(157, 217, 247, 0.486) !important;
}
.pmcols.v-text-field.v-text-field--enclosed .v-text-field__details {
    display: none;
    margin-bottom: 8px;
}
.text-start {
  padding-right: 0px !important;
}
.v-pagination__navigation {
  box-shadow: none !important;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 32px;
  width: 32px;
  margin: 0.3rem 10px;
}
.v-pagination__item {
  background: transparent;
  border-radius: 10px;
  font-size: 1rem;
  height: 34px;
  margin: 0.3rem;
  min-width: 34px;
  padding: 0 5px;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  width: auto;
  box-shadow: none !important;
}
.theme--light.v-pagination .v-pagination__item {
  background: #ffffff;
  color: rgba(23, 74, 103, 0.87);
}
.theme--light.v-pagination .v-pagination__item--active {
  color: #ffffff;
}
.slcsv .v-input__slot {
  width: min-content !important;
  border-radius: 10px !important;
}
.txb .v-input__slot {
  border-radius: 10px;
  max-width: 60px;
}
td {
  border: 1px solid #f1f2f6;
}
th {
  border: 1px solid #f1f2f6;
}

.row__padding {
  padding: 24px;
}

.header__other {
  background-color: #5589bb !important;
  color: #ffffff !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.rowbg {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
}

.title__font {
  font-style: normal;
  font-weight: 600 !important;
  font-size: 18px;
  line-height: 22px;
  color: #0f75bd;
}
.title__margin {
  margin-bottom: 10px;
}

.body__font tr td {
  font-size: 18px !important;
}
.fontrowtable {
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  color: #174a67;
}
@media screen and (max-width: 600px) {
  .row__padding {
    padding: unset !important;
  }
}
.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #fff;
  color: #174a67;
  font-size: 1em;
  border: thin solid currentColor;
}
</style>
<style scoped>
a:hover {
  text-decoration: underline;
  text-underline-position: under;
}
tbody:hover {
  background-color: #eeeeee !important;
}
tbody tr:last-child td {
  /* border-bottom: thin solid rgba(0, 0, 0, 0.12) !important; */
  border-bottom-width: 3px;
}
</style>
