<template>
  <div>
    <Loading :isLoadingCheck="isLoading"></Loading>
    <v-row
      class="align-center text-center row__padding rowbg"
      style="padding-top: 0"
    >
      <v-col md="12" sm="12">
        <v-row>
          <v-col md="9" sm="9" class="text-left">
             <p class="title__font" style="margin-bottom: 0px">Complete</p>
          </v-col>
          <v-col md="3" sm="3"></v-col>
        </v-row>
        <v-data-table
          @page-count="pageCount = $event"
          no-data-text="No data available"
          :headers="headerTeamAvailable"
          :items-per-page="itemsPerPage"
          style="white-space: nowrap"
          hide-default-footer
          :items="mockdata1"
          :page.sync="page"
          :search="search"
          height="450px"
          fixed-header
        >
          <template v-slot:[`item.status`]="{ item }">
            <v-badge
              dot
              inline
              left
              color="#ED7D2B"
            >Pending</v-badge>
          </template>

          <template v-slot:[`item.open`]="{ item }">
            <v-btn
               @click="btnlink('documentformedit')"
              icon
              style="border-radius: 15%"
            >
              <feather
                style="color: gray"
                type="edit"
                size="22"
                href="#documentformedit"
              ></feather>
            </v-btn>
          </template>
        </v-data-table>

         <v-row>
          <v-col
            cols="12"
            class="hidden-lg-only hidden-xl-only pb-0 pt-0"
            style="display: flex; align-items: center; justify-content: center"
          >
            <v-pagination
              v-model="page"
              :length="pageCount"
              color="#174A67"
              :total-visible="7"
            ></v-pagination>
          </v-col>
          <v-col cols="4" class="d-md-none d-lg-flex hidden-md-only hidden-sm-and-down pb-0 pt-0">
            <v-row>
              <v-col
                cols="12"
                style="padding-top: 50px; !important"
                class="text-start fontrowtable hidden-sm-and-down"
              >
                Showing {{ startRowPerPages || 1 }} to {{ endRowPerPages }} of
                {{ desserts.length }} entries
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="8" class="d-md-none d-lg-flex hidden-md-only hidden-sm-and-down pb-0 pt-0">
            <v-row>
              <v-col
                cols="3"
                style="display: flex; align-items: center"
                class="hidden-sm-and-down"
              >
                <v-row>
                  <v-col
                    cols="9"
                    class="fontrowtable"
                    style="padding-top:38px; !important;"
                    >Row per page :</v-col
                  >
                  <v-col cols="3" class="px-0 py-0">
                    <v-select
                      solo
                      flat
                      style="padding-top: 26px"
                      :items="pagelist"
                      outlined
                      dense
                      :value="itemsPerPage"
                      type="number"
                      class="slcsv"
                      @input="itemsPerPage = parseInt($event, 10)"
                    ></v-select>
                  </v-col>
                </v-row>
              </v-col>
              <v-col
                cols="6"
                style="display: flex; align-items: center; justify-content: end"
              >
                <v-pagination
                  v-model="page"
                  :length="pageCount"
                  color="#174A67"
                  :total-visible="7"
                ></v-pagination>
              </v-col>
              <v-col
                cols="3"
                style="display: flex; align-items: center"
                class="hidden-sm-and-down"
              >
                <v-row>
                  <v-col
                    md="8"
                    class="fontrowtable"
                    style="padding-top: 35px; !important;display: flex;justify-content: end;"
                    >Go to page :</v-col
                  >
                  <v-col md="4" class="px-0 py-0">
                   <v-text-field
                          solo
                          flat
                          v-model.number="pageTextField"
                          @input="checkpage()"
                          min="1"
                          outlined
                          dense
                          :max="pageCount"
                          style="padding-top: 23px"
                          class="txb"
                          type="number"
                        ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import Loading from '@/components/commons/Loading/Loading'
import { EventBus } from '@/utils/EventBus'
export default {
  components: {
    Loading,
  },
  data () {
    return {
      pagelist: [5, 10, 15, {
        value: Number.MAX_SAFE_INTEGER,
        text: 'all'
      }],
      tab: null,
      page: 1,
      itemsPerPage: 10,
      pageTextField: 1,
      pageCount: 0,
      search: '',
      mockdata1:[
        {
          no: '1',
          document_id: 'D02-000151',
          document_name:'Cloud(Nutanix) + xxxxxxxxx',
          related_team:'Cloud/abc',
          status:'',
          date:'06/08/2021',
          open:''
              
        },
      ],
      headerTeamAvailable: [
         {
          text: 'No',
          value: 'no',
          sortable: false,
          class: 'header__other text-center',
          align: 'center'
        },
        {
          text: 'Document ID',
          value: 'document_id',
          sortable: false,
          class: 'header__other text-center',
          align: 'center'
        },
        {
          text: 'Document Name',
          value: 'document_name',
          sortable: false,
          class: 'header__other text-center',
          align: 'center'
        },
        {
          text: 'Related Team',
          value: 'related_team',
          sortable: false,
          class: 'header__other text-center',
          align: 'center'
        },
        {
          text: 'Status',
          value: 'status',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: 'Date',
          value: 'date',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        },
        {
          text: '',
          value: 'open',
          class: 'header__other text-center',
          sortable: false,
          align: 'center'
        }
      ],
      desserts: [],
      itemSummary: null,
      isLoading: false,
      menu: false,
      date: new Date().toISOString().substr(0, 7)
    }
  },
  computed: {
    numberOfPages () {
      return Math.ceil(this.desserts.length / this.itemsPerPage)
    },
    startRowPerPages () {
      return Math.ceil((this.page - 1) * this.itemsPerPage) + 1
    },
    endRowPerPages () {
      return Math.ceil(this.itemsPerPage * this.page) > this.desserts.length
        ? this.desserts.length
        : Math.ceil(this.itemsPerPage * this.page)
    }
  },
  created () {
  },
  mounted () {
    EventBus.$on('searchDocNot', this.searchDocNot)
  },
  methods: {
    btnlink (data) {
      this.$router.push(data)
    },
    checkpage () {
      this.pageTextField = this.pageTextField > 0 || !this.pageTextField ? this.pageTextField : 1
      this.pageTextField = this.pageTextField <= this.pageCount || !this.pageTextField ? this.pageTextField : this.pageCount
      if (this.pageTextField) { this.page = this.pageTextField }
    },
    searchDocNot (data) {
      this.search = data
    },
   
  }
}
</script>
<style>
.text-start {
  padding-right: 0px !important;
}
.v-pagination__navigation {
  box-shadow: none !important;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 32px;
  width: 32px;
  margin: 0.3rem 10px;
}
.v-pagination__item {
  background: transparent;
  border-radius: 10px;
  font-size: 1rem;
  height: 34px;
  margin: 0.3rem;
  min-width: 34px;
  padding: 0 5px;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  width: auto;
  box-shadow: none !important;
}
.theme--light.v-pagination .v-pagination__item {
  background: #ffffff;
  color: rgba(23, 74, 103, 0.87);
}
.theme--light.v-pagination .v-pagination__item--active {
  color: #ffffff;
}
.slcsv .v-input__slot {
  width: min-content !important;
  border-radius: 10px !important;
}
.txb .v-input__slot {
 border-radius: 10px;
  max-width: 60px;
}
td {
  border: 1px solid #f1f2f6;
}
th {
  border: 1px solid #f1f2f6;
}

.row__padding {
  padding: 24px;
}

.header__other {
  background-color: #5589bb !important;
  color: #ffffff !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.rowbg {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
}

.title__font {
    font-style: normal;
    font-weight: 600 !important;
    font-size: 18px;
    line-height: 22px;
    color: #0f75bd;
}
.title__margin {
  margin-bottom: 10px;
}

.body__font tr td {
  font-size: 18px !important;
}
.fontrowtable {
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  color: #174a67;
}
@media screen and (max-width: 600px) {
  .row__padding {
    padding: unset !important;
  }
}
.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #fff;
  color: #174a67;
  font-size: 1em;
  border: thin solid currentColor;
}
</style>
