<template>
  <v-row justify="center">
    <Loading :isLoadingCheck="isLoading"></Loading>
    <v-dialog
      persistent
      v-model="dialog2"
      max-width="900px"
      :retain-focus="false"
    >
      <v-card style="background-color: #f5f5f5">
        <v-card-title
          class="text-center justify-center"
          style="padding-right: 9px; padding-left: 14px"
        >
          <h3 class="head2 ml-2" color="#174A67">Add New Customer Data</h3>
          <v-spacer></v-spacer>
          <v-btn icon color="#333333" large @click="dialog2 = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-container class="px-5">
          <v-form ref="form" v-model="valid">
            <v-card
              style="
                margin-bottom: 30px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
              "
            >
              <v-list-item>
                <v-list-item-content>
                  <h4
                    color="#0F75BD"
                    style="
                      margin-bottom: 10px;
                      margin-top: 10px;
                      color: #0f75bd;
                    "
                  >
                    Customer Data
                    <toggle-button class="ml-3" id="changed-font" v-model="dataCus.is_critical" :sync="true" :height="30" :width="99" :color="{checked: '#F03D3E', unchecked: '#0F75BD'}" :labels="{checked: 'Critical', unchecked: 'Normal'}" disabled></toggle-button>
							
                  </h4>
                  <v-row>
                    <v-col cols="6" sm="6" md="6">
                      <p>Customer ID <span class="red--text">*</span></p>
                      <v-combobox
                        v-model="dataCus.cus_id"
                        :rules="cusIDRules"
                        :items="cusdata"
                        @change="Changecustomer"
                        outlined
						disabled
                        label="Customer ID"
                      ></v-combobox>
                    </v-col>
                    <v-col cols="6" sm="6" md="6">
                      <p>
                        Customer Name (Thai)<span class="red--text">*</span>
                      </p>
                      <v-text-field
                        v-model="dataCus.cus_name_thai"
                        single-line
                        :rules="[
                          (v) => !!v || 'Customer Name (Thai) is required',
                        ]"
                        outlined
						disabled
                        label="Customer Name"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6" sm="6" md="6" class="pt-0">
                      <p>
                        Customer Name (English) <span class="red--text">*</span>
                      </p>
                      <v-text-field
                        v-model="dataCus.cus_name_eng"
                        :rules="cusNameEngRules"
                        outlined
                        single-line
						disabled
                        label="Customer Name"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6" sm="6" md="6" class="pt-0 pb-0">
						<p>Customer Info <span class="red--text"></span></p>
						<v-text-field
							v-model="dataCus.cus_info"
							outlined
							single-line
							label=" - "
							disabled
						></v-text-field>
					</v-col>
                    <v-col cols="6" sm="6" md="6" class="pb-0">
							<p>Customer Contact File</p>
                                <v-btn
                                    class="mx-3 mb-12"
                                    @click="openfile(dataCus.cus_file)"
                                    :disabled="!Boolean(dataCus.cus_file)"
                                    icon
									color="primary"
                                    style="border-radius: 15%"
                                    >
                                    <v-icon style="font-size: 36px;">mdi-card-account-phone-outline</v-icon>
                                </v-btn>
                    </v-col>
                    <!-- <v-col cols="12" class="pt-0">
                      <v-checkbox
                        v-model="dataCus.is_critical"
                        value="Critical"
                        label="Critical"
                        color="info"
						disabled
                        hide-details
                        style="
                          margin-top: 0px;
                          padding-top: 0px;
                          padding-left: 5px;
                        "
                      ></v-checkbox>
                    </v-col> -->
                  </v-row>
                </v-list-item-content>
              </v-list-item>
            </v-card>

            <v-card
              style="
                margin-bottom: 30px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
              "
            >
              <v-list-item>
                <v-list-item-content>
                  <h4
                    color="#0F75BD"
                    style="
                      margin-bottom: 10px;
                      margin-top: 10px;
                      color: #0f75bd;
                    "
                  >
                    Service Data
                  </h4>
                  <v-row>
                    <v-col cols="7">
                      <p style="color: #aeaeae">
                        Service<span class="red--text">*</span>
                      </p>
                      <v-row>
                        <v-col cols="3" class="pt-0 pb-0">
                          <v-checkbox
                            v-model="dataCus.services"
                            :readonly="
                              dataCus.services.length === 1 &&
                              dataCus.services.includes('pm')
                            "
                            label="PM"
                            value="pm"
                            color="info"
                            style="
                              margin-top: 0px;
                              padding-top: 0px;
                              padding-left: 10px;
                            "
                          ></v-checkbox>
                        </v-col>
                        <v-col cols="3" class="pt-0 pb-0">
                          <v-checkbox
                            v-model="dataCus.services"
                            :readonly="
                              dataCus.services.length === 1 &&
                              dataCus.services.includes('mnsp')
                            "
                            label="MNSP"
                            color="info"
                            value="mnsp"
                            hide-details
                            style="
                              margin-top: 0px;
                              padding-top: 0px;
                              padding-left: 10px;
                            "
                          ></v-checkbox>
                        </v-col>
                        <v-col cols="3" class="pt-0 pb-0">
                          <v-checkbox
                            v-model="dataCus.services"
                            :readonly="
                              dataCus.services.length === 1 &&
                              dataCus.services.includes('bcp')
                            "
                            label="BCP"
                            color="info"
                            value="bcp"
                            hide-details
                            style="
                              margin-top: 0px;
                              padding-top: 0px;
                              padding-left: 10px;
                            "
                          ></v-checkbox>
                        </v-col>
                        <v-col cols="3" class="pt-0 pb-0">
                          <v-checkbox
                            v-model="dataCus.services"
                            :readonly="
                              dataCus.services.length === 1 &&
                              dataCus.services.includes('report')
                            "
                            label="Report"
                            color="info"
                            value="report"
                            hide-details
                            style="
                              margin-top: 0px;
                              padding-top: 0px;
                              padding-left: 10px;
                            "
                          ></v-checkbox>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col cols="6" sm="6" md="6" class="pt-0 pb-0">
                      <p>
                        SO No. <span class="red--text">*</span>
                        <!-- <v-btn
                          v-show="dataCus.status === 'waiting_so'"
                          small
                          rounded
                          color="primary"
                          dark
                          @click="genSOno"
                          style="
                            margin-top: -5px;
                            margin-left: 20px;
                            position: absolute;
                          "
                        >
                          Generate
                        </v-btn> -->
                      </p>
                      <v-text-field
                        single-line
                        v-model="dataCus.so_no"
                        :rules="so_NoRules"
                        outlined
                        placeholder="SO"
                        label="SO"
                        required
						disabled
                        @blur="chkDup"
                      ></v-text-field>
                    </v-col>

                    <v-col cols="6" sm="6" md="6" class="pt-0 pb-0">
                    <p>SO Type<span class="red--text">*</span></p>
                    <v-select
                      v-model="dataCus.so_type"
                      :items="sotypeitems"
                      outlined
                      :rules="sotypeRules"
                      placeholder="SO Type"
                    >
                    </v-select>
                    </v-col>

                    <v-col
											cols="12"
											sm="12"
											md="12"
											class="pt-0 pb-0"
										>
											<p>SO File</p>
	                                      <v-btn
												:disabled="!dataCus.so_no || !Clearsonotox"
												:loading="Clearsonotoxload"
												color="primary"
												rounded
												width="130px"
												@click="golinksono(dataCus.so_no)"
												class="mb-4 onebox"
												style="
													margin-right: 20px;
													padding: 0px;
													text-transform: capitalize;
												"
											>
												<v-icon class="pr-1"
													>mdi-link-variant</v-icon
												>
												Onebox
												<v-icon
												v-if="Clearsonotox === true || Clearsonotox === false"
												style="font-size: 20px;"
												color="#ffffff"
												right
													>
												{{Clearsonotox === true ? 'mdi-check-circle' : 'mdi-close-circle'}}
												</v-icon>
											</v-btn>
										</v-col>

                    <v-col cols="6" sm="6" md="6" class="pt-0 pb-0">
                      <p>Status<span class="red--text">*</span></p>
                      <v-select
                        v-model="dataCus.so_status"
                        :items="statusitems"
                        outlined
                        :rules="statusRules"
                        placeholder="Status"
                      >
                        <template v-slot:item="{ item, attrs, on }">
                          <v-list-item v-bind="attrs" v-on="on">
                            <v-list-item-title
                              :id="attrs['aria-labelledby']"
                              :style="getcolorstatus(item)"
                              >{{ item.text }}</v-list-item-title
                            >
                          </v-list-item>
                        </template>
                      </v-select>
                    </v-col>

                    <v-col cols="6" sm="6" md="6" class="pt-0 pb-0"></v-col>

                    <v-col
                      cols="6"
                      sm="6"
                      md="6"
                      class="pt-0 pb-0"
                      v-if="dataCus.services.includes('pm')"
                    >
                      <p>Open Date <span class="red--text">*</span></p>
                      <v-menu
                        v-model="OpenDate"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            single-line
                            class="mt-5 black--text"
                            :value="formatOdate"
                            :rules="[(v) => !!v || 'Open Date is required']"
                            label="DD/MM/YY"
                            readonly
                            outlined
                            append-icon="mdi-calendar"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="dataCus.open_date"
                          no-title
                          show-adjacent-months
                          scrollable
                          @input="getDate()"
                        >
                          <v-spacer></v-spacer>
                        </v-date-picker>
                      </v-menu>
                    </v-col>

                    <v-col
                      cols="6"
                      sm="6"
                      md="6"
                      class="pt-0 pb-0"
                      v-if="dataCus.services.includes('pm')"
                    >
                      <p>Due Date <span class="red--text">*</span></p>
                      <v-menu
                        v-model="DueDate"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            single-line
                            class="mt-5 black--text"
                            :value="formatDdate"
                            :rules="[(v) => !!v || 'Due Date is required']"
                            label="DD/MM/YY"
                            readonly
                            outlined
                            append-icon="mdi-calendar"
                            v-on="on"
                            required
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="dataCus.due_date"
                          show-adjacent-months
                          no-title
                          scrollable
                          @input="getDate()"
                          :min="defaultDueDate"
                        >
                          <v-spacer></v-spacer>
                        </v-date-picker>
                      </v-menu>
                    </v-col>

                    <v-col cols="12" sm="12" md="12" class="pt-0 pb-0">
                      <p>Solution</p>
                      <v-text-field
                        single-line
                        v-model="dataCus.so_solution"
                        outlined
                        placeholder="Ex.Cloud[HP]+ Link VRF + Colo[TST]"
                        label="Solution"
                        required
                      ></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="12" class="pt-0 pb-0" v-if="dataCus.services.includes('report')">
                    <p>Report Detail</p>
                    <v-text-field
                      single-line
                      v-model="dataCus.report_detail"
                      outlined
                      placeholder="Report Detail"
                      label="Report Detail"

                    ></v-text-field>
                    </v-col>

                    <v-col cols="6" sm="6" md="6" class="pt-0 pb-0">
                      <p>Start Date <span class="red--text">*</span></p>
                      <v-menu
                        v-model="startdate"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            single-line
                            class="mt-5 black--text"
                            :value="formatSdate"
                            :rules="startDateRules"
                            label="DD/MM/YY"
                            readonly
                            outlined
                            append-icon="mdi-calendar"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="dataCus.start_date"
                          no-title
                          show-adjacent-months
                          scrollable
                          @input="getDate2()"
                        >
                          <v-spacer></v-spacer>
                        </v-date-picker>
                      </v-menu>
                    </v-col>

                    <v-col cols="6" sm="6" md="6" class="pt-0 pb-0">
                      <p>End Date <span class="red--text">*</span></p>
                      <v-menu
                        v-model="enddate"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            single-line
                            class="mt-5 black--text"
                            :value="formatEdate"
                            :rules="endDateRules"
                            label="DD/MM/YY"
                            readonly
                            outlined
                            append-icon="mdi-calendar"
                            v-on="on"
                            required
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="dataCus.end_date"
                          show-adjacent-months
                          no-title
                          scrollable
                          @input="getDate2()"
                          :min="defaultEndDate"
                        >
                          <v-spacer></v-spacer>
                        </v-date-picker>
                      </v-menu>
                    </v-col>

                    <v-col cols="6" sm="6" md="6" class="pt-0 pb-0">
                      <p>Project</p>
                      <v-text-field
                        single-line
                        v-model="dataCus.cov_project"
                        outlined
                        placeholder="Project"
                        label="Project"
                      ></v-text-field>
                    </v-col>

                    <v-col cols="6" sm="6" md="6" class="pt-0 pb-0">
                      <p>PM Name<span class="red--text">*</span></p>
                      <v-autocomplete
                        v-model="dataCus.pm_id"
                        :items="pmnameitems"
                        :rules="[(v) => !!v || 'PM Name is required']"
                        placeholder="PM Name"
                        outlined
						disabled
                      ></v-autocomplete>
                    </v-col>

                    <v-col cols="6" sm="6" md="6" class="pt-0 pb-0">
                      <p>Sale Name</p>
                      <v-combobox
                        v-model="dataCus.sale_name"
                        :items="salenameitems"
                        no-data-text="No matching names were found."
                        :loading="isLoadingsearchsalename"
                        :search-input.sync="searchsalename"
                        placeholder="Please input to search"
                        outlined
                      ></v-combobox>
                      <!-- @keydown="checkautocomplete($event, 'sale_name')" -->
                      <!-- <v-text-field
							single-line
							v-model="dataCus.sale_name"
							outlined
							placeholder="Sale Name"
							label="Sale Name"
						></v-text-field> -->
                    </v-col>

                    <v-col cols="6" sm="6" md="6" class="pt-0 pb-0">
                      <p>Pre-sale Name</p>
                      <v-combobox
                        v-model="dataCus.presale_name"
                        :items="presalenameitems"
                        no-data-text="No matching names were found."
                        :loading="isLoadingsearchpresalename"
                        :search-input.sync="searchpresalename"
                        placeholder="Please input to search"
                        outlined
                      ></v-combobox>
                      <!-- @keydown="checkautocomplete($event, 'presale_name')" -->
                      <!-- <v-text-field
							single-line
							v-model="dataCus.presale_name"
							outlined
							placeholder="Pre-sale Name"
							label="Pre-sale Name"
						></v-text-field> -->
                    </v-col>

                    <v-col cols="6" sm="6" md="6" class="pt-0 pb-0">
                      <p>Diagram File</p>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            small
                            rounded
                            color="primary"
                            dark
                            v-bind="attrs"
                            v-on="on"
                            @click="$refs.filed.$refs.input.click()"
                            style="
                              position: absolute;
                              margin-top: 13px;
                              margin-left: 10px;
                              text-transform: capitalize;
                              z-index: 999;
                            "
                          >
                            Choose File
                          </v-btn>
                        </template>
                        <span
                          >The system allows the file size to be no more than
                          200 MB. If you need to add files, please contact
                          admin</span
                        >
                      </v-tooltip>
                      <v-file-input
                        v-model="diagram_file"
                        :rules="rulefileinput"
                        outlined
                        show-size
                        counter
                        prepend-icon=""
                        ref="filed"
                      ></v-file-input>
                    </v-col>

                    <v-col cols="6" sm="6" md="6" class="pt-0 pb-0">
                      <p>SO File</p>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            small
                            rounded
                            color="primary"
                            dark
                            v-bind="attrs"
                            v-on="on"
                            @click="$refs.filesf.$refs.input.click()"
                            style="
                              position: absolute;
                              margin-top: 13px;
                              margin-left: 10px;
                              text-transform: capitalize;
                              z-index: 999;
                            "
                          >
                            Choose File
                          </v-btn>
                        </template>
                        <span
                          >The system allows the file size to be no more than
                          200 MB. If you need to add files, please contact
                          admin</span
                        >
                      </v-tooltip>
                      <v-file-input
                        v-model="so_file"
                        :rules="rulefileinput"
                        outlined
                        show-size
                        counter
                        prepend-icon=""
                        ref="filesf"
                      ></v-file-input>
                    </v-col>

                    <v-col
                      cols="6"
                      sm="6"
                      md="6"
                      class="pt-0 pb-0"
                      v-show="dataCus.services.includes('pm')"
                    >
                      <p>Confirm UAT File</p>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            small
                            rounded
                            color="primary"
                            dark
                            v-bind="attrs"
                            v-on="on"
                            @click="$refs.fileconfirmuat.$refs.input.click()"
                            style="
                              position: absolute;
                              margin-top: 13px;
                              margin-left: 10px;
                              text-transform: capitalize;
                              z-index: 999;
                            "
                          >
                            Choose File
                          </v-btn>
                        </template>
                        <span
                          >The system allows the file size to be no more than
                          200 MB. If you need to add files, please contact
                          admin</span
                        >
                      </v-tooltip>
                      <v-file-input
                        v-model="confirm_UAT_file"
                        :rules="rulefileinput"
                        single-line
                        outlined
                        show-size
                        counter
                        prepend-icon=""
                        ref="fileconfirmuat"
                      ></v-file-input>
                    </v-col>

                    <v-col
                      cols="6"
                      sm="6"
                      md="6"
                      class="pt-0 pb-0"
                      v-show="dataCus.services.includes('pm')"
                    >
                      <p>UAT File</p>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            small
                            rounded
                            color="primary"
                            dark
                            v-bind="attrs"
                            v-on="on"
                            @click="$refs.fileuat.$refs.input.click()"
                            style="
                              position: absolute;
                              margin-top: 13px;
                              margin-left: 10px;
                              text-transform: capitalize;
                              z-index: 999;
                            "
                          >
                            Choose File
                          </v-btn>
                        </template>
                        <span
                          >The system allows the file size to be no more than
                          200 MB. If you need to add files, please contact
                          admin</span
                        >
                      </v-tooltip>
                      <v-file-input
                        v-model="UAT_file"
                        :rules="rulefileinput"
                        outlined
                        show-size
                        counter
                        prepend-icon=""
                        ref="fileuat"
                      ></v-file-input>
                    </v-col>
                  </v-row>
                </v-list-item-content>
              </v-list-item>
            </v-card>

            <v-col cols="12" sm="12" md="12" class="pt-0 pb-0">
              <v-row class="justify-center">
                <v-col
                  cols="6"
                  sm="6"
                  md="6"
                  style="display: flex; justify-content: flex-end"
                >
                  <v-btn
                    outlined
                    color="#174A67"
                    @click="dialog2 = false"
                    style="text-transform: capitalize"
                    >Cancel</v-btn
                  >
                </v-col>

                <v-col cols="6" sm="6" md="6">
                  <v-btn
                    depressed
					:disabled="!valid"
                    color="#174A67"
                    @click="handleAddCustomer"
                    style="color: white; text-transform: capitalize"
                  >
                    Add</v-btn
                  >
                </v-col>
              </v-row>
            </v-col>
          </v-form>
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import Loading from '@/components/commons/Loading/Loading'
import { EventBus } from '@/utils/EventBus'
import { getPM, searchSale } from '@/api/pm'
import { editSoDetail, getCus, chkDupp } from '@/api/modal'
import { getProfile } from '@/utils/profile'
import { openfileapi } from '@/api/assign'
import { Getfile } from '@/api/service'
import dayjs from 'dayjs'
import swal from 'sweetalert2'

export default {
  components: {
    Loading
  },
  data: () => ({
    rulefileinput: [
      (value) =>
        !value ||
        value.size < 209715200 ||
        'File size should be less than 200 MB!'
    ],
    checkboxpm: true,
    isLoading: false,
    select: ['add-tags-with', 'enter', 'tab', 'paste'],
    cusIDRules: [(v) => !!v || 'Customer ID is required'],
    cusNameThaiRules: [(v) => !!v || 'Customer Name (Thai) is required'],
    cusNameEngRules: [(v) => !!v || 'Customer Name (Eng) is required'],
    so_NoRules: [
      (v) =>
        (!!v &&
          v.trim() != '' &&
          v.trim() != '-' &&
          !v
            .replace(/\s/gm, '')
            .split('')
            .every((val, i, arr) => val === '-')) ||
        'SO No. is required'
    ],
    statusRules: [(v) => !!v || 'Status is required'],
    startDateRules: [(v) => !!v || 'Start Date is required'],
    endDateRules: [(v) => !!v || 'End Date is required'],
    PMNameRules: [(v) => !!v || 'PM Name is required'],
    sotypeRules: [(v) => !!v || 'So Type is required'],
    statusitems: [
      { text: 'Complete', value: 'complete' },
      { text: 'In Progress', value: 'in_progress' },
      { text: 'UAT', value: 'uat' },
      { text: 'Waiting Customer', value: 'waiting_customer' },
      { text: 'Waiting Revise SO', value: 'waiting_so' }
    ],
    checkst: {
      complete: { no: '2', name: 'Complete', color: '#58A144' },
      in_progress: { no: '3', name: 'In Progress', color: '#FCC419' },
      uat: { no: '5', name: 'UAT', color: '#0F75BD' },
      waiting_customer: { no: '6', name: 'Waiting Customer', color: '#ED7D2B' },
      waiting_so: { no: '7', name: 'Waiting Revise SO', color: '#ED7D2B' },
      terminate: { no: '8', name: 'Terminate', color: '#6C49B8' },
      cancel: { no: '9', name: 'Cancel', color: '#AEAEAE' },
      overdue: {
        no: '4',
        key: 'overdue',
        name: 'Overdue',
        color: '#F03D3E',
        value: 0
      }
    },
    valid: true,
    defaultEndDate: dayjs().add(1, 'day').format('YYYY-MM-DD'),
    defaultDueDate: dayjs().add(1, 'day').format('YYYY-MM-DD'),
    dialog2: false,
    sotypeitems: [{ text: '-', value: null },
      { text: 'Change', value: 'Change' },
      { text: 'New Service', value: 'New Service' },
      { text: 'New Customer', value: 'New Customer' },
      { text: 'Renew', value: 'Renew' },
      { text: 'Renew and Change', value: 'Renew and Change' }],
    data: {},
    profile: {},
    startdate: false,
    enddate: false,
    OpenDate: false,
    DueDate: false,
    pmnameitems: [],
    salenameitems: [],
    searchsalename: null,
    isLoadingsearchsalename: false,
    presalenameitems: [],
    searchpresalename: null,
    isLoadingsearchpresalename: false,
    startdate_show: dayjs().format('DD/MM/YY'),
    enddate_show: null,
    date: '',
    addCusreal: [],
    cus_name_th_dis: false,
    cus_name_eng_dis: false,
    diagram_file: null,
    so_file: null,
    confirm_UAT_file: null,
    UAT_file: null,
    dataCus: {
      so_no: '',
      cus_name_thai: null,
      start_date: null,
      end_date: null,
      open_date: null,
      due_date: null,
      services: ['pm'],
      is_new_cus: false
    },
    cusdata: [],
    Clearsonotox: null,
    Clearsonotoxload: false,
    timeout: null
  }),
  computed: {
    formatOdate () {
      return this.dataCus.open_date
        ? dayjs(this.dataCus.open_date).format('DD/MM/YY')
        : ''
    },
    formatDdate () {
      return this.dataCus.due_date
        ? dayjs(this.dataCus.due_date).format('DD/MM/YY')
        : ''
    },
    formatSdate () {
      return this.dataCus.start_date
        ? dayjs(this.dataCus.start_date).format('DD/MM/YY')
        : ''
    },
    formatEdate () {
      return this.dataCus.end_date
        ? dayjs(this.dataCus.end_date).format('DD/MM/YY')
        : ''
    }
  },
  watch: {
    dialog2 (val) {
      if (!val) {
        this.closeDialog()
      }
    },
    async searchsalename (val) {
      if (!val) {
        this.dataCus.sale_name = null
      }
      if (val && val.length > 1) {
        // && !this.dataCus.sale_name) {
        this.isLoadingsearchsalename = true
        clearTimeout(this.timeout)
        this.timeout = setTimeout(async () => {
          try {
            const addCus = await searchSale(val)
            this.isLoadingsearchsalename = false
            this.salenameitems = addCus.result.map((x) => {
              return (
                x.firstNameTh +
                ' ' +
                x.lastNameTh +
                ' ' +
                '(' +
                x.nickName +
                ')'
              )
            })
          } catch (error) {
            this.isLoadingsearchsalename = false
          } finally {
            this.isLoadingsearchsalename = false
          }
        }, 1250)
      } else if (val && val.length === 1) {
        this.isLoadingsearchsalename = true
      } else {
        this.isLoadingsearchsalename = false
      }
    },
    async searchpresalename (val) {
      if (!val) {
        this.dataCus.presale_name = null
      }
      if (val && val.length > 1) {
        // && !this.dataCus.presale_name) {
        this.isLoadingsearchpresalename = true
        clearTimeout(this.timeout)
        this.timeout = setTimeout(async () => {
          try {
            const addCus = await searchSale(val)
            this.presalenameitems = addCus.result.map((x) => {
              return (
                x.firstNameTh +
                ' ' +
                x.lastNameTh +
                ' ' +
                '(' +
                x.nickName +
                ')'
              )
            })
          } catch (error) {
          } finally {
            this.isLoadingsearchpresalename = false
          }
        }, 1250)
      } else if (val && val.length === 1) {
        this.isLoadingsearchpresalename = true
      } else {
        this.isLoadingsearchpresalename = false
      }
    }
  },
  created () {
    this.getcus()
  },
  mounted () {
    EventBus.$on('openModalAddAssignmentCustomer', this.openDialog)
  },
  methods: {
    async openapifilea () {
      this.Clearsonotoxload = true
      var xml = await openfileapi(this.dataCus.so_no)
      if (xml.result) {
        ;
        this.Clearsonotox = true
      } else {
        this.Clearsonotox = false
      }
      this.Clearsonotoxload = false
    },
    async chkDup () {
      if (this.dataCus.so_no && this.dataCus.so_no.length) {
        const sono = this.dataCus.so_no ? this.dataCus.so_no.trim() : this.dataCus.so_no
        const resp = await chkDupp('edit', sono, this.dataCus.so_id)
        if (resp.chk) {
          this.Clearsonotox = null
          const isASS = resp.chk === 'A' ? '\n(In Assign)' : '\n(In Services)'
          swal.fire({
            confirmButtonColor: '#325869',
            icon: 'error',
            title: 'SO No. is Duplicate.' + isASS
          })
        } else {
          this.openapifilea()
        }
      }
    },
    async golinksono (data) {
      var xml = await openfileapi(data)
      const taxid = '0107544000094'
      const boxUrl = await `https://box.one.th/redirectdirectory?accesstoken=${localStorage.getItem('one_token')}&taxid=${taxid}&folder_id=${xml.result[0].folder_id}`
      window.open(boxUrl)
    },
    async  openfile (data) {
        if (data) {
            var xc = await Getfile(data)
            window.open(xc, '_blank')
        }
    },
    async openDialog (data) {
	  var datapar = await JSON.parse(JSON.stringify(data))
	  this.dataCus = await JSON.parse(JSON.stringify(datapar))
	  this.dataCus.cus_name_thai = datapar.cus_name_th
	  this.dataCus.cus_name_eng = datapar.cus_name_en
      this.dataCus.services = datapar.services || ['pm']
	//   this.dataCus.so_id = datapar.so_id
	//   this.dataCus.cov_id = datapar.cov_id
	//   this.dataCus.cus_no = datapar.cus_no
	//   this.dataCus.cus_id = datapar.cus_id
	//   this.dataCus.cus_info = datapar.cus_info
	//   this.dataCus.cus_file = datapar.cus_file
	//   this.dataCus.is_critical = datapar.is_critical
	//   this.dataCus.so_no = datapar.so_no
	//   this.dataCus.pm_id = datapar.pm_id
	//   this.dataCus.so_solution = datapar.so_solution
	//   this.dataCus.start_date = datapar.start_date
	//   this.dataCus.end_date = datapar.end_date
	//   this.dataCus.sale_name = datapar.sale_name
      await this.chkDup()
      this.dialog2 = true
    },
    async getcus () {
      const addCus = await getCus()
      const pm = await getPM()
      this.pmnameitems = pm.map((x) => {
        return {
          text: x.pm_name + ' ' + '(' + x.pm_nickname + ')',
          value: x.pm_id
        }
      })
      // console.log(pm, 'pm')
      this.addCusreal = addCus.cusData
      this.cusdata = addCus.cusData.map((x) => {
        return x.cus_id
      })
    },
    async checkautocomplete (e, data) {
      if (e.key === 'Backspace' || e.key === 'Delete') {
        this.dataCus[data] = null
        if (data === 'sale_name') {
          this.salenameitems = []
        } else {
          this.presalenameitems = []
        }
      }
    },
    async handleAddCustomer () {
      try {
        this.isLoading = true
        if (this.$refs.form.validate()) {
          setTimeout(async () => {
            this.dataCus.cus_id = this.dataCus.cus_id
              ? this.dataCus.cus_id.trim()
              : this.dataCus.cus_id
            this.dataCus.cus_name_thai = this.dataCus.cus_name_thai
              ? this.dataCus.cus_name_thai.trim()
              : this.dataCus.cus_name_thai
            this.dataCus.cus_name_eng = this.dataCus.cus_name_eng
              ? this.dataCus.cus_name_eng.trim()
              : this.dataCus.cus_name_eng
            this.dataCus.so_no = this.dataCus.so_no
              ? this.dataCus.so_no.trim()
              : this.dataCus.so_no
            this.dataCus.so_solution = this.dataCus.so_solution
              ? this.dataCus.so_solution.trim()
              : this.dataCus.so_solution
            this.dataCus.report_detail = this.dataCus.report_detail ? this.dataCus.report_detail.trim() : this.dataCus.report_detail
            this.dataCus.cov_project = this.dataCus.cov_project
              ? this.dataCus.cov_project.trim()
              : this.dataCus.cov_project
            this.dataCus.sale_name = this.dataCus.sale_name
              ? this.dataCus.sale_name.trim()
              : this.dataCus.sale_name
            this.dataCus.presale_name = this.dataCus.presale_name
              ? this.dataCus.presale_name.trim()
              : this.dataCus.presale_name
            var getProfiledata = await getProfile()
            var formData = new FormData()
            this.dataCus.last_editor_id = getProfiledata.pm_id
              ? getProfiledata.pm_id
              : 'admin'
            this.dataCus.is_assign = true
            // if (this.diagram_file) {
            //   formData.append('diagram_file', this.diagram_file)
            // }
            if (this.diagram_file) {
              formData.append('diagram_file', this.diagram_file)
              this.dataCus.diagFile_id = true
            } else {
              this.dataCus.diagFile_id = null
            }
            if (this.so_file) {
              formData.append('so_file', this.so_file)
              this.dataCus.soFile_id = true
            } else {
              this.dataCus.soFile_id = null
            }
            if (this.confirm_UAT_file) {
              formData.append('confirm_UAT_file', this.confirm_UAT_file)
              this.dataCus.conf_uatFile_id = true
            } else {
              this.dataCus.conf_uatFile_id = null
            }
            if (this.UAT_file) {
              formData.append('UAT_file', this.UAT_file)
              this.dataCus.uatFile_id = true
            } else {
              this.dataCus.uatFile_id = null
            }

            // if (this.so_file) {
            //   formData.append('so_file', this.so_file)
            // }
            // if (this.confirm_UAT_file) {
            //   formData.append('confirm_UAT_file', this.confirm_UAT_file)
            // }
            // if (this.UAT_file) {
            //   formData.append('UAT_file', this.UAT_file)
            // }
            var keep_log = {
              pm_id: this.dataCus.last_editor_id,
              aLog_type: 'add',
              aLog_dtl: 'edit so (add so from assign)',
              aLog_to: this.dataCus.so_id,
              aLog_loc: 'so_detail',
              is_new_cus: this.dataCus.is_new_cus
            }
            formData.append('so_info', JSON.stringify(this.dataCus))
            formData.append('keep_log', JSON.stringify(keep_log))
            const editSO = await editSoDetail(formData)
            swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Success',
              showConfirmButton: false,
              timer: 1500
            })
            this.dialog2 = false
            this.isLoading = false
            EventBus.$emit('reloadAssignmentTable')
          }, 1000)
        } else {
          this.isLoading = false
        }
      } catch (error) {
        this.isLoading = false
        swal.fire({
          confirmButtonColor: '#325869',
          icon: 'error',
          title: error.response.data.message
        })
      } finally {
      }
    },
    async genSOno () {
      var xml = await Date.now()
        .valueOf()
        .toString()
        .split('')
        .reverse()
        .join('')
      this.dataCus.so_no = xml
    },
    Changecustomer () {
      if (typeof this.dataCus.cus_id === 'string') {
        var xml = this.addCusreal.find((data) => {
          return this.dataCus.cus_id === data.cus_id
        })
        if (xml) {
          this.dataCus.cus_name_thai = xml.cus_name_th
          this.dataCus.cus_name_eng = xml.cus_name_en
          this.dataCus.cus_no = xml.cus_no
          this.dataCus.is_new_cus = false
          this.cus_name_th_dis = true
          this.cus_name_eng_dis = true
        } else {
          this.dataCus.cus_name_thai = null
          this.dataCus.cus_name_eng = null
          this.dataCus.cus_no = null
          this.dataCus.is_new_cus = true
          this.cus_name_th_dis = false
          this.cus_name_eng_dis = false
        }
      }
    },
    getDate () {
      this.OpenDate = false
      this.DueDate = false
      if (
        dayjs(this.dataCus.due_date).diff(this.dataCus.open_date, 'days') < 0
      ) {
        this.dataCus.due_date = dayjs(this.dataCus.open_date)
          .add(1, 'day')
          .format('YYYY-MM-DD')
      }
      this.defaultDueDate = dayjs(this.dataCus.open_date)
        .add(1, 'day')
        .format('YYYY-MM-DD')
    },
    getDate2 () {
      this.startdate = false
      this.enddate = false
      if (
        dayjs(this.dataCus.end_date).diff(this.dataCus.start_date, 'days') < 0
      ) {
        this.dataCus.end_date = dayjs(this.dataCus.start_date)
          .add(1, 'day')
          .format('YYYY-MM-DD')
      }
      this.defaultEndDate = dayjs(this.dataCus.start_date)
        .add(1, 'day')
        .format('YYYY-MM-DD')
    },
    getcolorstatus (data) {
      var xml = this.checkst[data.value]
      return `color: ${xml.color};`
    },
    closeDialog () {
      this.$refs.form.reset()
      this.$refs.form.resetValidation()
      this.cus_name_th_dis = false
      this.cus_name_eng_dis = false
      this.diagram_file = null
      this.so_file = null
      this.confirm_UAT_file = null
      this.UAT_file = null
      this.dataCus = {
        cus_name_thai: null,
        start_date: null,
        end_date: null,
        open_date: null,
        due_date: null,
        sale_name: null,
        presale_name: null,
        services: ['pm'],
        is_new_cus: false
      }
      this.salenameitems = []
      this.presalenameitems = []
    }
  }
}
</script>
<style scoped>
.onebox.theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: var(--v-primary-base) !important;
	  color: #ffffff !important;
}
.onebox.theme--light.v-btn.v-btn--disabled .v-icon, .theme--light.v-btn.v-btn--disabled .v-btn__loading {
        color: inherit !important;
}
</style>
<style>
.v-input .v-progress-linear {
  top: calc(100% - 3px) !important;
  left: 0;
}
.head-font {
  color: #8b8e9c;
  font-size: 20px;
}
.text {
  color: var(--v-text_profile-base);
}
.head2 {
  font-size: 23px;
  color: #325869;
}
.head3 {
  font-size: 26px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.v-file-input .v-file-input__text {
  padding-left: 130px !important;
}
</style>
