<template>
	<v-row justify="center">
		<Loading :isLoadingCheck="isLoading"></Loading>
		<v-dialog
			persistent
			v-model="dialog2"
			max-width="900px"
			:retain-focus="false"
		>
			<v-card style="background-color: #f5f5f5">
				<v-card-title
					class="text-center justify-center"
					style="padding-right: 9px; padding-left: 14px"
				>
					<!-- <v-icon color="#325869">mdi-file-multiple</v-icon> -->
					<h3 class="head2 ml-2" color="#174A67">Edit Assignment</h3>
					<v-spacer></v-spacer>
					<v-btn icon color="#333333" large @click="dialog2 = false">
						<v-icon>mdi-close</v-icon>
					</v-btn>
				</v-card-title>
				<v-container class="px-5">
					<v-form ref="form" v-model="valid">
						<v-card
							style="
								margin-bottom: 30px;
								box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
							"
						>
							<v-list-item>
								<v-list-item-content>
									<h4
										color="#0F75BD"
										style="
											margin-bottom: 10px;
											margin-top: 10px;
											color: #0f75bd;
										"
									>
										Customer Data
										<toggle-button
											:font-size="16"
                                            class="ml-3"
											:disabled="is_new_cus_dis"
											:value="dataCus.is_critical"
											v-model="dataCus.is_critical"
											:sync="true"
											:height="30"
											:width="99"
											:color="{
												checked: '#F03D3E',
												unchecked: '#0F75BD',
											}"
											:labels="{
												checked: 'Critical',
												unchecked: 'Normal',
											}"
										></toggle-button>
									</h4>
									<v-row>
										<v-col cols="6" sm="6" md="6">
											<p>
												Customer ID
												<span class="red--text">*</span>
											</p>
											<v-combobox
												v-model="dataCus.cus_id"
												:rules="cusIDRules"
												:items="cusdata"
												@change="Changecustomer"
												outlined
												label="Customer ID"
											></v-combobox>
										</v-col>
										<v-col cols="6" sm="6" md="6">
											<p>
												Customer Name (Thai)<span
													class="red--text"
													>*</span
												>
											</p>
											<v-text-field
												v-model="dataCus.cus_name_thai"
												single-line
												:rules="[
													(v) =>
														!!v ||
														'Customer Name (Thai) is required',
												]"
												:disabled="cus_name_th_dis"
												outlined
												label="Customer Name"
											></v-text-field>
										</v-col>
										<v-col
											cols="6"
											sm="6"
											md="6"
											class="pt-0 pb-0"
										>
											<p>
												Customer Name (English)
												<span class="red--text">*</span>
											</p>
											<v-text-field
												v-model="dataCus.cus_name_eng"
												:disabled="cus_name_eng_dis"
												:rules="[
													(v) =>
														!!v ||
														'Customer Name (eng) is required',
												]"
												outlined
												single-line
												label="Customer Name"
											></v-text-field>
										</v-col>
										<v-col
											cols="6"
											sm="6"
											md="6"
											class="pt-0 pb-0"
										>
											<p>
												Customer Info
												<span class="red--text"></span>
											</p>
											<v-text-field
												v-model="dataCus.cus_info"
												outlined
												single-line
												label="Customer Info"
												:disabled="
													is_new_cus_dis &&
													Boolean(dataCus.cus_id)
												"
											></v-text-field>
										</v-col>
										<v-col
											cols="6"
											sm="6"
											md="6"
											class="pt-0 pb-0"
										>
											<p>Customer Contact File</p>
											<div
												v-if="
													is_new_cus_dis &&
													Boolean(dataCus.cus_id)
												"
											>
												<v-btn
													class="mx-3 mb-12"
													@click="
														openfile(
															dataCus.cus_file
														)
													"
													:disabled="
														!Boolean(
															dataCus.cus_file
														)
													"
													icon
													color="primary"
													style="border-radius: 15%"
												>
													<v-icon
														style="font-size: 36px"
														>mdi-card-account-phone-outline</v-icon
													>
												</v-btn>
											</div>
											<div v-else>
												<v-tooltip bottom>
													<template
														v-slot:activator="{
															on,
															attrs,
														}"
													>
														<v-btn
															small
															:disabled="
																is_new_cus_dis &&
																Boolean(
																	dataCus.cus_id
																)
															"
															rounded
															color="primary"
															class="cusFile"
															dark
															v-bind="attrs"
															v-on="on"
															@click="
																$refs.filecusinfo.$refs.input.click()
															"
															style="
																position: absolute;
																margin-top: 13px;
																margin-left: 10px;
																text-transform: capitalize;
																z-index: 999;
																background-color: var(
																	--v-primary-base
																) !important;
																border-color: var(
																	--v-primary-base
																) !important;
															"
														>
															Choose File
														</v-btn>
													</template>
													<span
														>The system allows the
														file size to be no more
														than 200 MB. If you need
														to add files, please
														contact admin</span
													>
												</v-tooltip>
												<v-file-input
													v-model="cus_file"
                                                    v-show="cus_file"
													:disabled="
														is_new_cus_dis &&
														Boolean(dataCus.cus_id)
													"
													:rules="rulefileinput"
													outlined
													show-size
													counter
													prepend-icon=""
													ref="filecusinfo"
												></v-file-input>
												<v-text-field
													v-show="!cus_file"
													readonly
													v-model="
														dataCus.cusFile_name
													"
													single-line
													class="textfile"
													outlined
													clearable
												></v-text-field>
											</div>
										</v-col>
									</v-row>

									<h4
										color="#0F75BD"
										style="
											margin-bottom: 10px;
											margin-top: 10px;
											color: #0f75bd;
										"
									>
										Service Data
									</h4>
									<v-row>
										<v-col
											cols="6"
											sm="6"
											md="6"
											class="pt-0 pb-0"
										>
											<p>
												SO No.
												<span class="red--text">*</span>
											</p>
											<v-text-field
												:rules="so_NoRules"
												outlined
												single-line
												v-model="dataCus.so_no"
												placeholder="SO"
												label="SO"
												required
												@input="Clearsonotox = null"
												@blur="chkDup"
											></v-text-field>
										</v-col>
										<v-col
											cols="6"
											sm="6"
											md="6"
											class="pt-0 pb-0"
										>
											<p>
												Solution.
												<span class="red--text">*</span>
											</p>
											<v-text-field
												:rules="[
													(v) =>
														!!v ||
														'Service is required',
												]"
												outlined
												single-line
												v-model="dataCus.so_solution"
												placeholder="Solution"
												label="Solution"
												required
											></v-text-field>
										</v-col>
										<v-col
											cols="6"
											sm="6"
											md="6"
											class="pt-0 pb-0"
										>
											<p>SO File</p>
											<v-btn
												:disabled="
													!dataCus.so_no ||
													!Clearsonotox
												"
												:loading="Clearsonotoxload"
												color="primary"
												rounded
												width="130px"
												@click="
													golinksono(dataCus.so_no)
												"
												class="mb-4 onebox"
												style="
													margin-right: 20px;
													padding: 0px;
													text-transform: capitalize;
												"
											>
												<v-icon class="pr-1"
													>mdi-link-variant</v-icon
												>
												Onebox
												<v-icon
													v-if="
														Clearsonotox === true ||
														Clearsonotox === false
													"
													style="font-size: 20px"
													color="#ffffff"
													right
												>
													{{
														Clearsonotox === true
															? "mdi-check-circle"
															: "mdi-close-circle"
													}}
												</v-icon>
											</v-btn>
										</v-col>
										<v-col
											cols="6"
											sm="6"
											md="6"
											class="pt-0 pb-0"
										></v-col>
										<v-col
											cols="6"
											sm="6"
											md="6"
											class="pt-0 pb-0"
										>
											<p>
												Start Date<span
													class="red--text"
													>*</span
												>
											</p>
											<v-menu
												v-model="startdate"
												:close-on-content-click="false"
												transition="scale-transition"
												offset-y
												min-width="290px"
											>
												<template
													v-slot:activator="{ on }"
												>
													<v-text-field
														single-line
														class="mt-5 black--text"
														:value="formatSdate"
														label="Start Date"
														:rules="[
															(v) =>
																!!v ||
																'Start Date is required',
														]"
														readonly
														outlined
														append-icon="mdi-calendar"
														v-on="on"
													></v-text-field>
												</template>
												<v-date-picker
													v-model="dataCus.start_date"
													no-title
													scrollable
													@input="getDate2()"
												>
													<v-spacer></v-spacer>
												</v-date-picker>
											</v-menu>
										</v-col>

										<v-col
											cols="6"
											sm="6"
											md="6"
											class="pt-0 pb-0"
										>
											<p>
												End Date
												<span class="red--text">*</span>
											</p>
											<v-menu
												v-model="enddate"
												:close-on-content-click="false"
												transition="scale-transition"
												offset-y
												min-width="290px"
											>
												<template
													v-slot:activator="{ on }"
												>
													<v-text-field
														single-line
														class="mt-5 black--text"
														:value="formatEdate"
														label="End Date"
														:rules="[
															(v) =>
																!!v ||
																'End Date is required',
														]"
														readonly
														outlined
														append-icon="mdi-calendar"
														v-on="on"
													></v-text-field>
												</template>
												<v-date-picker
													v-model="dataCus.end_date"
													no-title
													scrollable
													@input="getDate2()"
													:min="defaultEndDate"
												>
													<v-spacer></v-spacer>
												</v-date-picker>
											</v-menu>
										</v-col>

										<v-col
											cols="6"
											sm="6"
											md="6"
											class="pt-0 pb-0"
										>
											<p>PM Name</p>
											<v-autocomplete
												v-model="dataCus.pm_id"
												:items="pmnameitems"
												placeholder="PM Name"
												clearable
												outlined
											></v-autocomplete>
										</v-col>

										<v-col
											cols="6"
											sm="6"
											md="6"
											class="pt-0 pb-0"
										>
											<p>Sale Name</p>

											<v-combobox
												v-model="dataCus.sale_name"
												:items="salenameitems"
												no-data-text="No matching names were found."
												:loading="
													isLoadingsearchsalename
												"
												:search-input.sync="
													searchsalename
												"
												placeholder="Please input to search"
												outlined
											></v-combobox>
										</v-col>
										<v-col
											cols="6"
											sm="6"
											md="6"
											class="pt-0 pb-0"
										>
											<p>Remark</p>
											<!-- <v-text-field
												single-line
												v-model="dataCus.so_remark"
												outlined
												placeholder="Remark"
												label="Remark"
												required
											></v-text-field> -->

											<v-combobox
												v-model="dataCus.so_remark"
												:items="remarkitems"
												placeholder="Remark"
												required
												outlined
											></v-combobox>
										</v-col>
									</v-row>
								</v-list-item-content>
							</v-list-item>
						</v-card>

						<v-col cols="12" sm="12" md="12" class="pt-0 pb-0">
							<v-row class="justify-center">
								<v-col
									cols="6"
									sm="6"
									md="6"
									style="
										display: flex;
										justify-content: flex-end;
									"
								>
									<v-btn
										outlined
										color="#174A67"
										@click="dialog2 = false"
										class="mr-2"
										style="
											text-transform: capitalize;
											width: 138px;
										"
										>Cancel</v-btn
									>
								</v-col>

								<v-col cols="6" sm="6" md="6">
									<v-btn
										:disabled="!valid"
										depressed
										color="#174A67"
										@click="handleAddCustomer"
										style="
											color: white;
											text-transform: capitalize;
											width: 138px;
										"
									>
										Save</v-btn
									>
								</v-col>
							</v-row>
						</v-col>
					</v-form>
				</v-container>
			</v-card>
		</v-dialog>
	</v-row>
</template>
<script>
	import Loading from "@/components/commons/Loading/Loading";
	import { EventBus } from "@/utils/EventBus";
	import { getPM, searchSale } from "@/api/pm";
	import { getCus, chkDupp } from "@/api/modal";
	import { editAssign, getchkCusFree, openfileapi } from "@/api/assign";
    import { Getfile } from '@/api/service'
	import { getProfile } from "@/utils/profile";
	import dayjs from "dayjs";
	import swal from "sweetalert2";

	export default {
		components: {
			Loading,
		},
		data: () => ({
			rulefileinput: [
				(value) =>
					!value ||
					value.size < 209715200 ||
					"File size should be less than 200 MB!",
			],
			isLoading: false,
			cusIDRules: [(v) => !!v || "Customer ID is required"],
			valid: true,
			so_NoRules: [(v) => (!!v && v.trim() != '' && v.trim() != '-' && !(v.replace(/\s/gm, '').split('').every((val, i, arr) => val === '-'))) || 'SO No. is required'],
			defaultEndDate: dayjs().add(1, "day").format("YYYY-MM-DD"),
			defaultDueDate: dayjs().add(1, "day").format("YYYY-MM-DD"),
			dialog2: false,
			data: {},
			profile: {},
			startdate: false,
			enddate: false,
			pmnameitems: [],
			salenameitems: [],
			searchsalename: null,
			isLoadingsearchsalename: false,
			presalenameitems: [],
			searchpresalename: null,
			isLoadingsearchpresalename: false,
			startdate_show: dayjs().format("DD/MM/YY"),
			enddate_show: null,
			date: "",
			remarkitems: [
            'PM+UAT',
            'PM+UAT/MNSP',
            'MNSP',
            'ENT',
            'COMP',
            'ENT/COMP',
            'REP'
        ],
			addCusreal: [],
			cus_name_th_dis: false,
			cus_name_eng_dis: false,
			diagram_file: null,
			so_file: null,
			confirm_UAT_file: null,
			UAT_file: null,
			dataCus: {
				so_no: "",
				cus_name_thai: null,
				start_date: null,
				end_date: null,
				open_date: null,
				due_date: null,
				service: ["pm"],
				is_new_cus: false,
			},
			cusdata: [],
			Clearsonotox: null,
			Clearsonotoxload: false,
			timeout: null,
			datatmp: {},
			is_critical: false,
			is_new_cus_dis: false,
            cus_file: null,
		}),
		computed: {
			formatOdate() {
				return this.dataCus.open_date
					? dayjs(this.dataCus.open_date).format("DD/MM/YY")
					: "";
			},
			formatDdate() {
				return this.dataCus.due_date
					? dayjs(this.dataCus.due_date).format("DD/MM/YY")
					: "";
			},
			formatSdate() {
				return this.dataCus.start_date
					? dayjs(this.dataCus.start_date).format("DD/MM/YY")
					: "";
			},
			formatEdate() {
				return this.dataCus.end_date
					? dayjs(this.dataCus.end_date).format("DD/MM/YY")
					: "";
			},
		},
		watch: {
			dialog2(val) {
				if (!val) {
					this.closeDialog();
				}
			},
			async searchsalename(val) {
				if (!val) {
					this.dataCus.sale_name = null;
				}
				if (val && val.length > 1) {
					// && !this.dataCus.sale_name) {
					this.isLoadingsearchsalename = true;
					clearTimeout(this.timeout);
					this.timeout = setTimeout(async () => {
						try {
							const addCus = await searchSale(val);
							this.isLoadingsearchsalename = false;
							this.salenameitems = addCus.result.map((x) => {
								return (
									x.firstNameTh +
									" " +
									x.lastNameTh +
									" " +
									"(" +
									x.nickName +
									")"
								);
							});
						} catch (error) {
							this.isLoadingsearchsalename = false;
						} finally {
							this.isLoadingsearchsalename = false;
						}
					}, 1250);
				} else if (val && val.length === 1) {
					this.isLoadingsearchsalename = true;
				} else {
					this.isLoadingsearchsalename = false;
				}
			},
			async searchpresalename(val) {
				if (!val) {
					this.dataCus.presale_name = null;
				}
				if (val && val.length > 1) {
					// && !this.dataCus.presale_name) {
					this.isLoadingsearchpresalename = true;
					clearTimeout(this.timeout);
					this.timeout = setTimeout(async () => {
						try {
							const addCus = await searchSale(val);
							this.presalenameitems = addCus.result.map((x) => {
								return (
									x.firstNameTh +
									" " +
									x.lastNameTh +
									" " +
									"(" +
									x.nickName +
									")"
								);
							});
						} catch (error) {
						} finally {
							this.isLoadingsearchpresalename = false;
						}
					}, 1250);
				} else if (val && val.length === 1) {
					this.isLoadingsearchpresalename = true;
				} else {
					this.isLoadingsearchpresalename = false;
				}
			},
		},
		created() {},
		mounted() {
			EventBus.$on("openModalEditAssignmentCustomer", this.openDialog);
		},
		methods: {
            async  openfile (data) {
                if (data) {
                    var xc = await Getfile(data)
                    window.open(xc, '_blank')
                }
            },
			async openapifilea() {
				this.Clearsonotoxload = true;
				var xml = await openfileapi(this.dataCus.so_no);
				if (xml.result) {;
					this.Clearsonotox = true
				} else {
					this.Clearsonotox = false
				}
				this.Clearsonotoxload = false
			},
			async chkDup () {
				if (this.dataCus.so_no && this.dataCus.so_no.length) {
				let sono = this.dataCus.so_no ? this.dataCus.so_no = this.dataCus.so_no.trim() : this.dataCus.so_no
				const resp = await chkDupp("edit", sono, this.dataCus.so_id)
				if (resp.chk) {
					this.Clearsonotox = null
					const isASS = resp.chk === 'A' ? '\n(In Assign)' : '\n(In Services)'
          swal.fire({
            confirmButtonColor: '#325869',
            icon: 'error',
            title: 'SO No. is Duplicate.' + isASS
          })
					this.dataCus.so_no = this.datatmp.so_no
				} else {
				this.openapifilea()
				}
				}
			},
		  async golinksono (data) {
			   var xml = await openfileapi(data);
                const taxid = "0107544000094";
				const boxUrl = await `https://box.one.th/redirectdirectory?accesstoken=${localStorage.getItem("one_token")}&taxid=${taxid}&folder_id=${xml.result[0].folder_id}`;
				window.open(boxUrl)
			 },
			getDate2() {
				this.startdate = false;
				this.enddate = false;
				if (
					dayjs(this.dataCus.end_date).diff(
						this.dataCus.start_date,
						"days"
					) < 0
				) {
					this.dataCus.end_date = dayjs(this.dataCus.start_date)
						.add(1, "day")
						.format("YYYY-MM-DD");
				}
				this.defaultEndDate = dayjs(this.dataCus.start_date)
					.add(1, "day")
					.format("YYYY-MM-DD");
			},
			async getcus() {
				const addCus = await getCus();
				const pm = await getPM();
				this.pmnameitems = pm.map((x) => {
					return {
						text: x.pm_name + " " + "(" + x.pm_nickname + ")",
						value: x.pm_id,
					};
				});
				this.addCusreal = addCus.cusData;
				this.cusdata = addCus.cusData.map((x) => {
					return x.cus_id;
				});
			},
			async handleAddCustomer() {
				try {
					this.isLoading = true;
					if (this.$refs.form.validate()) {
						setTimeout(async () => {
							var getProfiledata = await getProfile();
							this.dataCus.cus_id = this.dataCus.cus_id
								? this.dataCus.cus_id.trim()
								: this.dataCus.cus_id;
							this.dataCus.cus_name_thai = this.dataCus.cus_name_thai
								? this.dataCus.cus_name_thai.trim()
								: this.dataCus.cus_name_thai;
							this.dataCus.cus_name_eng = this.dataCus.cus_name_eng
								? this.dataCus.cus_name_eng.trim()
								: this.dataCus.cus_name_eng;
							this.dataCus.so_no = this.dataCus.so_no
								? this.dataCus.so_no.trim()
								: this.dataCus.so_no;
							this.dataCus.is_critical = this.dataCus.is_critical ? 'Critical': null 
							this.dataCus.last_editor_id = getProfiledata.pm_id
								? getProfiledata.pm_id
								: "admin";
							var keeplog = {
								pm_id: this.dataCus.last_editor_id,
								aLog_type: "edit",
								aLog_dtl: "edit assign",
								aLog_to: this.dataCus.so_id,
								aLog_loc: "so_detail",
								is_new_cus: this.dataCus.is_new_cus,
							};
                            var formData = new FormData()
                            let chkFile = false 
                            if (this.cus_file) {
                                formData.append('cus_file', this.cus_file)
                                chkFile = true
                            } else if (this.dataCus.cusFile_name) {
                                chkFile = this.dataCus.cus_file
                            }
                            this.dataCus.file_id = chkFile
                            formData.append('cus_info', JSON.stringify(this.dataCus))
                            formData.append('keep_log', JSON.stringify(keeplog))
							const editAss = await editAssign(formData);
							swal.fire({
								position: "center",
								icon: "success",
								title: "Success",
								showConfirmButton: false,
								timer: 1500,
							});
							this.dialog2 = false;
							this.isLoading = false;
							EventBus.$emit("reloadAssignmentTable");
						}, 999);
					} else {
						this.isLoading = false;
					}
				} catch (error) {
					this.isLoading = false;
					swal.fire({
						confirmButtonColor: "#325869",
						icon: "error",
						title: error.response.data.message,
					});
				} finally {
				}
			},
			async Changecustomer() {
				if (typeof this.dataCus.cus_id === "string") {
					var xml = this.addCusreal.find((data) => {
						return this.dataCus.cus_id === data.cus_id;
					});
					if (xml) {
                        var isCusFree = await getchkCusFree(xml.cus_no);
						this.dataCus.cus_name_thai = xml.cus_name_th;
						this.dataCus.cus_name_eng = xml.cus_name_en;
						this.dataCus.cus_no = xml.cus_no;
                        this.dataCus.cus_info = xml.cus_info
                        this.dataCus.cus_file = xml.file_id
                        this.dataCus.is_critical = xml.is_critical
						this.dataCus.is_new_cus = false;
						this.cus_name_th_dis = isCusFree.chk;
						this.cus_name_eng_dis = isCusFree.chk;
						this.is_new_cus_dis = isCusFree.chk;
					} else {
						this.dataCus.cus_name_thai = null;
						this.dataCus.cus_name_eng = null;
						this.dataCus.cus_no = null;
                        this.dataCus.cus_info = null
                        this.dataCus.cus_file = null
                        this.dataCus.is_critical = false
						this.dataCus.is_new_cus = true;
						this.cus_name_th_dis = false;
						this.cus_name_eng_dis = false;
						this.is_new_cus_dis = false;
					}
				}
			},
			async openDialog(data) {
				this.getcus();
				var xml = await getchkCusFree(data.cus_no);
				this.datatmp = await JSON.parse(JSON.stringify(data));
				var datapar = await JSON.parse(JSON.stringify(data));
				this.dataCus = datapar;
				this.dataCus.cus_name_thai = datapar.cus_name_th;
				this.dataCus.cus_name_eng = datapar.cus_name_en;
				this.dataCus.is_critical = datapar.is_critical;
				this.cus_name_th_dis = xml.chk;
				this.cus_name_eng_dis = xml.chk;
				this.is_new_cus_dis = xml.chk;
				await this.chkDup()
				this.dialog2 = true;
			},
			closeDialog() {
				this.$refs.form.reset();
				this.$refs.form.resetValidation();
				this.cus_name_th_dis = false;
				this.cus_name_eng_dis = false;
				this.diagram_file = null;
				this.so_file = null;
				this.confirm_UAT_file = null;
				this.UAT_file = null;
				this.is_cri	 = null;
				this.dataCus = {
					cus_name_thai: null,
					start_date: null,
					end_date: null,
					open_date: null,
					due_date: null,
					service: ["pm"],
					is_new_cus: false,
				};
				this.salenameitems = [];
				this.presalenameitems = [];
			},
		},
	};
</script>
<style scoped>
	.onebox.theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
		background-color: var(--v-primary-base) !important;
		color: #ffffff !important;
	}
	.onebox.theme--light.v-btn.v-btn--disabled .v-icon,
	.theme--light.v-btn.v-btn--disabled .v-btn__loading {
		color: inherit !important;
	}
</style>
<style>
	.vue-js-switch#changed-font {
		font-size: 16px;
	}
	.v-input .v-progress-linear {
		top: calc(100% - 3px) !important;
		left: 0;
	}
	.head-font {
		color: #8b8e9c;
		font-size: 20px;
	}
	.text {
		color: var(--v-text_profile-base);
	}
	.head2 {
		font-size: 23px;
		color: #325869;
	}
	.head3 {
		font-size: 26px;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	.v-file-input .v-file-input__text {
		padding-left: 130px !important;
	}
	.textfile.v-input input {
		max-height: 32px;
		padding-left: 130px !important;
	}
</style>
