<template>
<div class="bg">
  <div class="center">
      <h1 style="fontSize: 100px">404</h1>
      <p>Page Not Found</p>
      <p>ขออภัย ไม่พบหน้าเว็บไซต์ที่คุณต้องการ</p>
      <div class="my-2 mt-8">
      <a href='/dashboard' style="text-decoration:none">
          <v-btn color="yellow_btn2" dark large>กลับไปหน้า Dashboard</v-btn>
      </a>
      </div>
  </div>
  </div>
</template>

<script>
import { isAdmin, isSuperUser } from '@/utils/auth'

export default {
  data () {
    return {
      isAdmin: isAdmin(),
      isSuperUser: isSuperUser()
    }
  }
}
</script>
<style>
.center {
  margin: 0;
  position: absolute;
  top: 30%;
  text-align: center;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bg {
  margin: 0;
  height: 100vh;
  background: var(--v-white_header-base);
  color:  var(--v-bg_darkgray-base);
}

</style>
