<template>
  <v-app>
      <router-view/>
  </v-app>
</template>

<script>
import { isLoggedIn, clearAuthToken } from '@/utils/auth'
import { clearProfile } from '@/utils/profile'
import swal from 'sweetalert2'
import { getPermission } from '@/api/permission'
export default {
  name: 'App',

  components: {
    // HelloWorld
  },
  data: () => ({
    perm: []
  }),
  mounted () {
    // this.showPermission()
    document.addEventListener('mouseup', e => {
      var pageComponent = this.$route.name
      //  console.log(pageComponent);
      if (pageComponent !== 'Login' && pageComponent !== 'Department' & pageComponent !== 'Ratingscore' && !isLoggedIn() && !swal.isVisible()) {
        swal.fire({
          title: 'คำเตือน',
          text: 'สิทธิ์ในการเข้าสู่ระบบของท่านหมดอายุ กรุณาเข้าสู่ระบบใหม่',
          icon: 'warning',
          showCancelButton: false,
          confirmButtonText: 'รับทราบ',
          allowOutsideClick: false
        }).then((result) => {
          if (result.isConfirmed) {
            this.$router.push({ path: '/' })
            clearAuthToken()
            clearProfile()
          }
        })
      }
    })
  },
  methods: {
    async showPermission () {
      this.perm = await getPermission('5ffe9c2059f7dd001782bda1')
    }
  }
}
</script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
.swal2-popup {
  font-family: 'Inter', sans-serif !important;
}
.v-application {
font-family: 'Inter', sans-serif !important;
background-color:var(--v-grayfooter-base) !important;
}
  .v-text-field input {
    font-size: 1em;
  }
</style>
