<template>
  <div style="background-color: #e5e5e5">
    <v-main>
      <v-container fluid style="padding: 30px">
        <h3 class="ml-5">My Document</h3>

        <v-row class="pl-5">
          <v-col cols="4">
            <v-text-field
              prepend-inner-icon="mdi-magnify"
              label="Search"
              solo
              flat
              dense
            ></v-text-field>
          </v-col>

          <v-col cols="8"></v-col>
        </v-row>

        <v-row class="pl-5">
          <v-col mn="4" cols="2">
            <v-btn block depressed> All Document (8) </v-btn>
          </v-col>
          <v-col mn="4"  cols="2">
            <v-btn block depressed> Pending (1) </v-btn>
          </v-col>
          <v-col mn="4" cols="2">
            <v-btn block depressed> In Progess (4) </v-btn>
          </v-col>
          <v-col mn="4" cols="2">
            <v-btn block depressed> Reject (1) </v-btn>
          </v-col>
          <v-col mn="4" cols="2">
            <v-btn block depressed> Complete (1) </v-btn>
          </v-col>
          <v-col mn="4" cols="2">
            <v-btn block depressed> Cancel (1) </v-btn>
          </v-col>

        </v-row>
      </v-container>
    </v-main>
  </div>
</template>

<script>
</script>

<style>
</style>
