<template>
  <v-row justify="center">
    <Loading :isLoadingCheck="isLoading"></Loading>
    <v-dialog
      persistent
      v-model="dialog2"
      max-width="1800px"
      :retain-focus="false"
    >
      <v-card style="background-color: #f5f5f5">
        <v-card-title class="text-center justify-center">
          <!-- <v-icon color="#325869">mdi-file-multiple</v-icon> -->
          <h3 class="head2 ml-2" color="#174A67">Add So Detail</h3>
          <v-spacer></v-spacer>
          <v-btn icon color="#333333" large @click="dialog2 = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-container class="containers">
          <v-card style="box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px">
            <v-list-item>
              <v-list-item-content>
                <h4
                  color="#0F75BD"
                  style="margin-bottom: 10px; margin-top: 10px; color: #0f75bd"
                >
                  So Detail
                </h4>
                <v-form ref="form" v-model="valid">
                  <v-row>
                    <v-col cols="7">
                      <p style="color: #aeaeae">Service</p>
                      <v-row>
                        <v-col cols="3" class="pt-0 pb-0">
                          <v-checkbox
                            v-model="soData.services"
                            :readonly="
                              soData.services.length === 1 &&
                              soData.services.includes('pm')
                            "
                            value="pm"
                            label="PM"
                            color="info"
                            style="
                              margin-top: 0px;
                              padding-top: 0px;
                              padding-left: 10px;
                            "
                          ></v-checkbox>
                        </v-col>
                        <v-col cols="3" class="pt-0 pb-0">
                          <v-checkbox
                            v-model="soData.services"
                            :readonly="
                              soData.services.length === 1 &&
                              soData.services.includes('mnsp')
                            "
                            value="mnsp"
                            label="MNSP"
                            color="info"
                            hide-details
                            style="
                              margin-top: 0px;
                              padding-top: 0px;
                              padding-left: 10px;
                            "
                          ></v-checkbox>
                        </v-col>
                        <v-col cols="3" class="pt-0 pb-0">
                          <v-checkbox
                            v-model="soData.services"
                            :readonly="
                              soData.services.length === 1 &&
                              soData.services.includes('bcp')
                            "
                            value="bcp"
                            label="BCP"
                            color="info"
                            hide-details
                            style="
                              margin-top: 0px;
                              padding-top: 0px;
                              padding-left: 10px;
                            "
                          ></v-checkbox>
                        </v-col>
                        <v-col cols="3" class="pt-0 pb-0">
                          <v-checkbox
                            v-model="soData.services"
                            :readonly="
                              soData.services.length === 1 &&
                              soData.services.includes('report')
                            "
                            value="report"
                            label="Report"
                            color="info"
                            hide-details
                            style="
                              margin-top: 0px;
                              padding-top: 0px;
                              padding-left: 10px;
                            "
                          ></v-checkbox>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col cols="4" sm="4" md="4" class="pt-0 pb-0">
                      <p style="margin-bottom: 20px">
                        SO No.<span class="red--text">*</span>
                        <v-btn
                          v-show="soData.so_status === 'waiting_so'"
                          small
                          rounded
                          color="primary"
                          dark
                          @click="genSOno"
                          style="
                            margin-top: -5px;
                            margin-left: 20px;
                            position: absolute;
                          "
                        >
                          Generate
                        </v-btn>
                      </p>
                      <v-text-field
                        single-line
                        v-model="soData.so_no"
                        outlined
                        :rules="[
                          (v) =>
                            (!!v &&
                              v.trim() != '' &&
                              v.trim() != '-' &&
                              !v
                                .replace(/\s/gm, '')
                                .split('')
                                .every((val, i, arr) => val === '-')) ||
                            'SO No. is required',
                        ]"
                        placeholder="SO"
                        label="SO"
                        required
                        @input="Clearsonotox = null"
                        @blur="chkDup"
                      ></v-text-field>
                    </v-col>

                    <v-col cols="4" sm="4" md="4" class="pt-0 pb-0">
                      <p style="margin-bottom: 20px">SO Type<span class="red--text">*</span></p>
                      <v-select
                        v-model="soData.so_type"
                        :items="sotypeitems"
                        outlined
                        :rules="sotypeRules"
                        placeholder="SO Type"
                      >
                      </v-select>
                    </v-col>

                    <v-col cols="4" sm="4" md="4" class="pt-0 pb-0">
                      <p style="margin-bottom: 20px">
                        Status<span class="red--text">*</span>
                      </p>
                      <v-select
                        v-model="soData.so_status"
                        :items="statusitems"
                        outlined
                        :rules="[(v) => !!v || 'Status is required']"
                        placeholder="Status"
                      >
                        <template v-slot:item="{ item, attrs, on }">
                          <v-list-item v-bind="attrs" v-on="on">
                            <v-list-item-title
                              :id="attrs['aria-labelledby']"
                              :style="getcolorstatus(item)"
                              >{{ item.text }}</v-list-item-title
                            >
                          </v-list-item>
                        </template>
                      </v-select>
                    </v-col>

                    <v-col
											cols="12"
											sm="12"
											md="12"
											class="pt-0 pb-0"
										>
											<p>SO File</p>
											<v-btn
												:disabled="!soData.so_no || !Clearsonotox"
												:loading="Clearsonotoxload"
												color="primary"
												rounded
												width="130px"
												@click="golinksono(soData.so_no)"
												class="mb-4 onebox"
												style="
													margin-right: 20px;
													padding: 0px;
													text-transform: capitalize;
												"
											>
												<v-icon class="pr-1"
													>mdi-link-variant</v-icon
												>
												Onebox
												<v-icon
												v-if="Clearsonotox === true || Clearsonotox === false"
												style="font-size: 20px;"
												color="#ffffff"
												right
													>
												{{Clearsonotox === true ? 'mdi-check-circle' : 'mdi-close-circle'}}
												</v-icon>
											</v-btn>
										</v-col>

                    <v-col
                      cols="4"
                      sm="4"
                      md="4"
                      class="pt-0 pb-0"
                      v-if="soData.services.includes('pm')"
                    >
                      <p>Open Date<span class="red--text">*</span></p>
                      <v-menu
                        v-model="opendate"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            single-line
                            class="mt-5 black--text"
                            :value="formatOdate"
                            label="Open Date"
                            :rules="[(v) => !!v || 'Open Date is required']"
                            readonly
                            outlined
                            append-icon="mdi-calendar"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="soData.open_date"
                          no-title
                          scrollable
                          @input="getDate()"
                        >
                          <v-spacer></v-spacer>
                        </v-date-picker>
                      </v-menu>
                    </v-col>

                    <v-col
                      cols="4"
                      sm="4"
                      md="4"
                      class="pt-0 pb-0"
                      v-if="soData.services.includes('pm')"
                    >
                      <p>Due Date<span class="red--text">*</span></p>
                      <v-menu
                        v-model="duedate"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            single-line
                            class="mt-5 black--text"
                            :value="formatDdate"
                            :rules="[(v) => !!v || 'Due Date is required']"
                            label="Due Date"
                            readonly
                            outlined
                            append-icon="mdi-calendar"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="soData.due_date"
                          no-title
                          scrollable
                          @input="getDate()"
                          :min="defaultDueDate"
                        >
                          <v-spacer></v-spacer>
                        </v-date-picker>
                      </v-menu>
                    </v-col>

                    <v-col cols="12" sm="12" md="12" class="pt-0 pb-0">
                      <p>Solution</p>
                      <v-text-field
                        single-line
                        v-model="soData.so_solution"
                        outlined
                        placeholder="Ex.Cloud[HP]+ Link VRF + Colo[TST]"
                        label="Solution"
                        required
                      ></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="12" class="pt-0 pb-0" v-if="soData.services.includes('report')">
                      <p>Report Detail</p>
                      <v-text-field
                        single-line
                        v-model="soData.report_detail"
                        outlined
                        placeholder="Report Detail"
                        label="Report Detail"

                      ></v-text-field>
                    </v-col>

                    <v-col lg="3" sm="4" md="4" class="pt-0 pb-0">
                      <p>Start Date<span class="red--text">*</span></p>
                      <v-menu
                        v-model="startdate"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            single-line
                            class="mt-5 black--text"
                            :value="formatSdate"
                            label="Start Date"
                            :rules="[(v) => !!v || 'Start Date is required']"
                            readonly
                            outlined
                            append-icon="mdi-calendar"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="soData.start_date"
                          no-title
                          scrollable
                          @input="getDate2()"
                        >
                          <v-spacer></v-spacer>
                        </v-date-picker>
                      </v-menu>
                    </v-col>

                    <v-col lg="3" sm="4" md="4" class="pt-0 pb-0">
                      <p>End Date <span class="red--text">*</span></p>
                      <v-menu
                        v-model="enddate"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            single-line
                            class="mt-5 black--text"
                            :value="formatEdate"
                            label="End Date"
                            :rules="[(v) => !!v || 'End Date is required']"
                            readonly
                            outlined
                            append-icon="mdi-calendar"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="soData.end_date"
                          no-title
                          scrollable
                          @input="getDate2()"
                          :min="defaultEndDate"
                        >
                          <v-spacer></v-spacer>
                        </v-date-picker>
                      </v-menu>
                    </v-col>

                    <v-col lg="3" sm="4" md="4" class="pt-0 pb-0">
                      <p>Project</p>
                      <v-text-field
                        single-line
                        v-model="soData.cov_project"
                        outlined
                        placeholder="Ex. Customer contact , Project Name"
                        label="SO"
                        required
                      ></v-text-field>
                    </v-col>

                    <v-col
                      cols="3"
                      class="pt-0 pb-0 d-md-none d-lg-flex hidden-md-and-down"
                    >
                    </v-col>

                    <v-col lg="3" sm="4" md="4" class="pt-0 pb-0">
                      <p>PM Name <span class="red--text">*</span></p>
                      <v-autocomplete
                        v-model="soData.pm_id"
                        :items="pmnameitems"
                        :rules="[(v) => !!v || 'PM Name is required']"
                        placeholder="PM Name"
                        outlined
                      ></v-autocomplete>
                    </v-col>
                    <v-col lg="3" sm="4" md="4" class="pt-0 pb-0">
                      <p>Sale Name</p>
                      <!-- <v-text-field
                        single-line
                        outlined
                        placeholder="Sale Name"
                        v-model="soData.sale_name"
                      ></v-text-field> -->
                      <!-- @keydown="checkautocomplete($event, 'sale_name')" -->
                      <v-combobox
                        v-model="soData.sale_name"
                        :items="salenameitems"
                        no-data-text="No matching names were found."
                        :loading="isLoadingsearchsalename"
                        :search-input.sync="searchsalename"
                        placeholder="Please input to search"
                        outlined
                      ></v-combobox>
                    </v-col>
                    <v-col lg="3" sm="4" md="4" class="pt-0 pb-0">
                      <p>Pre-sale Name</p>
                      <!-- <v-text-field
                        single-line
                        outlined
                        placeholder="Pre-sale Name"
                        v-model="soData.presale_name"
                      ></v-text-field> -->
                      <!-- @keydown="checkautocomplete($event, 'presale_name')" -->
                      <v-combobox
                        v-model="soData.presale_name"
                        :items="presalenameitems"
                        no-data-text="No matching names were found."
                        :loading="isLoadingsearchpresalename"
                        :search-input.sync="searchpresalename"
                        placeholder="Please input to search"
                        outlined
                      ></v-combobox>
                    </v-col>
                    <v-col
                      cols="3"
                      class="pt-0 pb-0 d-md-none d-lg-flex hidden-md-and-down"
                    ></v-col>

                    <v-col lg="3" sm="6" md="4" class="pt-0 pb-0">
                      <p>Diagram File</p>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            small
                            rounded
                            v-bind="attrs"
                            v-on="on"
                            color="primary"
                            dark
                            @click="$refs.fileDiagram.$refs.input.click()"
                            style="
                              z-index: 99;
                              position: absolute;
                              margin-top: 13px;
                              margin-left: 10px;
                              text-transform: capitalize;
                              z-index: 999;
                            "
                          >
                            Choose File
                          </v-btn>
                        </template>
                        <span
                          >The system allows the file size to be no more than
                          200 MB. If you need to add files, please contact
                          admin</span
                        >
                      </v-tooltip>
                      <v-file-input
                        single-line
                        outlined
                        show-size
                        counter
                        prepend-icon=""
                        ref="fileDiagram"
                        v-model="diagram_file"
                        :rules="rulefileinput"
                      ></v-file-input>
                    </v-col>
                    <v-col lg="3" sm="6" md="4" class="pt-0 pb-0">
                      <p>SO File</p>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            small
                            rounded
                            v-bind="attrs"
                            v-on="on"
                            color="primary"
                            dark
                            @click="$refs.filesofile.$refs.input.click()"
                            style="
                              z-index: 99;
                              position: absolute;
                              margin-top: 13px;
                              margin-left: 10px;
                              text-transform: capitalize;
                              z-index: 999;
                            "
                          >
                            Choose File
                          </v-btn>
                        </template>
                        <span
                          >The system allows the file size to be no more than
                          200 MB. If you need to add files, please contact
                          admin</span
                        >
                      </v-tooltip>
                      <v-file-input
                        single-line
                        outlined
                        show-size
                        counter
                        prepend-icon=""
                        ref="filesofile"
                        v-model="so_file"
                        :rules="rulefileinput"
                      ></v-file-input>
                    </v-col>

                    <v-col
                      lg="3"
                      sm="6"
                      md="4"
                      class="pt-0 pb-0"
                      v-show="soData.services.includes('pm')"
                    >
                      <p>Confirm UAT File</p>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            small
                            rounded
                            v-bind="attrs"
                            v-on="on"
                            color="primary"
                            dark
                            @click="
                              $refs.fileconfirmUATfile.$refs.input.click()
                            "
                            style="
                              z-index: 99;
                              position: absolute;
                              margin-top: 13px;
                              margin-left: 10px;
                              text-transform: capitalize;
                            "
                          >
                            Choose File
                          </v-btn>
                        </template>
                        <span
                          >The system allows the file size to be no more than
                          200 MB. If you need to add files, please contact
                          admin</span
                        >
                      </v-tooltip>
                      <v-file-input
                        single-line
                        outlined
                        show-size
                        counter
                        prepend-icon=""
                        ref="fileconfirmUATfile"
                        v-model="confirm_UAT_file"
                        :rules="rulefileinput"
                      ></v-file-input>
                    </v-col>

                    <v-col
                      lg="3"
                      class="
                        pt-0
                        pb-0
                        d-md-none d-lg-flex
                        hidden-md-only hidden-sm-only
                      "
                    ></v-col>

                    <v-col
                      sm="6"
                      md="4"
                      lg="3"
                      class="pt-0 pb-0"
                      v-show="soData.services.includes('pm')"
                    >
                      <p>UAT File</p>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            small
                            rounded
                            v-bind="attrs"
                            v-on="on"
                            color="primary"
                            dark
                            @click="$refs.fileUATfile.$refs.input.click()"
                            style="
                              z-index: 99;
                              position: absolute;
                              margin-top: 13px;
                              margin-left: 10px;
                              text-transform: capitalize;
                              z-index: 999;
                            "
                          >
                            Choose File
                          </v-btn>
                        </template>
                        <span
                          >The system allows the file size to be no more than
                          200 MB. If you need to add files, please contact
                          admin</span
                        >
                      </v-tooltip>
                      <v-file-input
                        single-line
                        outlined
                        show-size
                        counter
                        prepend-icon=""
                        ref="fileUATfile"
                        v-model="UAT_file"
                        :rules="rulefileinput"
                      ></v-file-input>
                    </v-col>
                  </v-row>

                  <v-row class="justify-center">
                    <v-col
                      cols="6"
                      sm="6"
                      md="6"
                      style="display: flex; justify-content: flex-end"
                    >
                      <v-btn
                        outlined
                        color="#174A67"
                        style="text-transform: capitalize"
                        @click="dialog2 = false"
                        >Cancel</v-btn
                      >
                    </v-col>

                    <v-col cols="6" sm="6" md="6">
                      <v-btn
                        depressed
                        :disabled="!valid"
                        color="#174A67"
                        @click="handleAddMember"
                        style="color: white; text-transform: capitalize"
                      >
                        Save</v-btn
                      >
                    </v-col>
                  </v-row>
                </v-form>
              </v-list-item-content>
            </v-list-item>
          </v-card>
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { EventBus } from '@/utils/EventBus'
import { getProfile } from '@/utils/profile'
import { addSoDetail, chkDupp } from '@/api/modal'
import { openfileapi } from '@/api/assign'
import { getPM, searchSale } from '@/api/pm'
import Loading from '@/components/commons/Loading/Loading'
import swal from 'sweetalert2'
import dayjs from 'dayjs'

export default {
  components: {
    Loading
  },
  props: ['handleLoading'],
  data: () => ({
    dialog2: false,
    isLoading: false,
    valid: true,
    Data: {},
    rulefileinput: [
      (value) =>
        !value ||
        value.size < 209715200 ||
        'File size should be less than 200 MB!'
    ],
    soData: {
      so_no: '',
      open_date: dayjs().format('YYYY-MM-DD'),
      due_date: null,
      start_date: dayjs().format('YYYY-MM-DD'),
      end_date: null,
      services: ['pm']
    },
    courseId: '',
    defaultStartDate: '',
    opendate: false,
    duedate: false,
    startdate: false,
    enddate: false,
    statusitems: [
      { text: 'Complete', value: 'complete' },
      { text: 'In Progress', value: 'in_progress' },
      { text: 'UAT', value: 'uat' },
      { text: 'Waiting Customer', value: 'waiting_customer' },
      { text: 'Waiting Revise SO', value: 'waiting_so' }
    ],
    checkst: {
      complete: { no: '2', name: 'Complete', color: '#58A144' },
      in_progress: { no: '3', name: 'In Progress', color: '#FCC419' },
      uat: { no: '5', name: 'UAT', color: '#0F75BD' },
      waiting_customer: { no: '6', name: 'Waiting Customer', color: '#ED7D2B' },
      waiting_so: { no: '7', name: 'Waiting Revise SO', color: '#ED7D2B' },
      terminate: { no: '8', name: 'Terminate', color: '#6C49B8' },
      cancel: { no: '9', name: 'Cancel', color: '#AEAEAE' },
      overdue: {
        no: '4',
        key: 'overdue',
        name: 'Overdue',
        color: '#F03D3E',
        value: 0
      }
    },
    pmnameitems: [],
    sotypeitems: [{ text: '-', value: null },
      { text: 'Change', value: 'Change' },
      { text: 'New Service', value: 'New Service' },
      { text: 'New Customer', value: 'New Customer' },
      { text: 'Renew', value: 'Renew' },
      { text: 'Renew and Change', value: 'Renew and Change' }],
    sotypeRules: [(v) => !!v || 'So Type is required'],
    defaultEndDate: dayjs().add(1, 'day').format('YYYY-MM-DD'),
    defaultDueDate: dayjs().add(1, 'day').format('YYYY-MM-DD'),
    diagram_file: null,
    so_file: null,
    confirm_UAT_file: null,
    UAT_file: null,
    salenameitems: [],
    searchsalename: null,
    isLoadingsearchsalename: false,
    presalenameitems: [],
    searchpresalename: null,
    isLoadingsearchpresalename: false,
    timeout: null,
    Clearsonotox: null,
    Clearsonotoxload: false
  }),
  computed: {
    formatOdate () {
      return this.soData.open_date
        ? dayjs(this.soData.open_date).format('DD/MM/YY')
        : ''
    },
    formatDdate () {
      return this.soData.due_date
        ? dayjs(this.soData.due_date).format('DD/MM/YY')
        : ''
    },
    formatSdate () {
      return this.soData.start_date
        ? dayjs(this.soData.start_date).format('DD/MM/YY')
        : ''
    },
    formatEdate () {
      return this.soData.end_date
        ? dayjs(this.soData.end_date).format('DD/MM/YY')
        : ''
    }
  },
  watch: {
    dialog2 (val) {
      if (!val) {
        this.closeDialog()
      }
    },
    async searchsalename (val) {
      if (!val) {
        this.soData.sale_name = null
      }
      if (val && val.length > 1) {
        // && !this.soData.sale_name) {
        this.isLoadingsearchsalename = true
        clearTimeout(this.timeout)
        this.timeout = setTimeout(async () => {
          try {
            const addCus = await searchSale(val)
            this.salenameitems = addCus.result.map((x) => {
              return (
                x.firstNameTh +
                ' ' +
                x.lastNameTh +
                ' ' +
                '(' +
                x.nickName +
                ')'
              )
            })
          } catch (error) {
          } finally {
            this.isLoadingsearchsalename = false
          }
        }, 1250)
      } else if (val && val.length === 1) {
        this.isLoadingsearchsalename = true
      } else {
        this.isLoadingsearchsalename = false
      }
    },
    async searchpresalename (val) {
      if (!val) {
        this.soData.presale_name = null
      }
      if (val && val.length > 1) {
        // && !this.soData.presale_name) {
        this.isLoadingsearchpresalename = true
        clearTimeout(this.timeout)
        this.timeout = setTimeout(async () => {
          try {
            const addCus = await searchSale(val)
            this.presalenameitems = addCus.result.map((x) => {
              return (
                x.firstNameTh +
                ' ' +
                x.lastNameTh +
                ' ' +
                '(' +
                x.nickName +
                ')'
              )
            })
          } catch (error) {
          } finally {
            this.isLoadingsearchpresalename = false
          }
        }, 1250)
      } else if (val && val.length === 1) {
        this.isLoadingsearchpresalename = true
      } else {
        this.isLoadingsearchpresalename = false
      }
    }
  },
  created () {
    this.getcus()
  },
  mounted () {
    EventBus.$on('openModalAddSoDetails', this.getDetail)
  },
  methods: {
    async openapifilea () {
      this.Clearsonotoxload = true
      var xml = await openfileapi(this.soData.so_no)
      if (xml.result) {
        ;
        this.Clearsonotox = true
      } else {
        this.Clearsonotox = false
      }
      this.Clearsonotoxload = false
    },
    async chkDup () {
      if (this.soData.so_no && this.soData.so_no.length) {
        const sono = this.soData.so_no ? this.soData.so_no = this.soData.so_no.trim() : this.soData.so_no
        const resp = await chkDupp('add', sono)
        if (resp.chk) {
          this.Clearsonotox = null
          const isASS = resp.chk === 'A' ? '\n(In Assign)' : '\n(In Services)'
          swal.fire({
            confirmButtonColor: '#325869',
            icon: 'error',
            title: 'SO No. is Duplicate.' + isASS
          })
          this.soData.so_no = null
        } else {
          this.openapifilea()
        }
      }
    },
    async golinksono (data) {
      var xml = await openfileapi(data)
      const taxid = '0107544000094'
      const boxUrl = await `https://box.one.th/redirectdirectory?accesstoken=${localStorage.getItem('one_token')}&taxid=${taxid}&folder_id=${xml.result[0].folder_id}`
      window.open(boxUrl)
    },
    async getcus () {
      const pm = await getPM()
      this.pmnameitems = pm.map((x) => {
        return {
          text: x.pm_name + ' ' + '(' + x.pm_nickname + ')',
          value: x.pm_id
        }
      })
    },
    async checkautocomplete (e, data) {
      if (e.key === 'Backspace' || e.key === 'Delete') {
        this.soData[data] = null
        if (data === 'sale_name') {
          this.salenameitems = []
        } else {
          this.presalenameitems = []
        }
      }
    },
    getDetail () {
      this.dialog2 = true
      this.Clearsonotox = null
      this.Clearsonotoxload = false
    },
    async handleAddMember () {
      try {
        this.isLoading = true
        if (this.$refs.form.validate()) {
          setTimeout(async () => {
            this.soData.so_no = this.soData.so_no
              ? this.soData.so_no.trim()
              : this.soData.so_no
            this.soData.so_solution = this.soData.so_solution
              ? this.soData.so_solution.trim()
              : this.soData.so_solution
            this.soData.report_detail = this.soData.report_detail ? this.soData.report_detail.trim() : this.soData.report_detail
            this.soData.cov_project = this.soData.cov_project
              ? this.soData.cov_project.trim()
              : this.soData.cov_project
            this.soData.sale_name = this.soData.sale_name
              ? this.soData.sale_name.trim()
              : this.soData.sale_name
            this.soData.presale_name = this.soData.presale_name
              ? this.soData.presale_name.trim()
              : this.soData.presale_name
            var getProfiledata = await getProfile()
            var formData = new FormData()
            this.soData.creator_id = getProfiledata.pm_id
              ? getProfiledata.pm_id
              : 'admin'
            if (this.diagram_file) {
              formData.append('diagram_file', this.diagram_file)
            }
            if (this.so_file) {
              formData.append('so_file', this.so_file)
            }
            if (this.confirm_UAT_file) {
              formData.append('confirm_UAT_file', this.confirm_UAT_file)
            }
            if (this.UAT_file) {
              formData.append('UAT_file', this.UAT_file)
            }
            this.soData.cus_no = this.$route.query.cusno
            var keep_log = {
              pm_id: this.soData.creator_id,
              aLog_type: 'add',
              aLog_dtl: 'add so',
              aLog_to: null,
              aLog_loc: 'so_detail'
            }
            formData.append('keep_log', JSON.stringify(keep_log))
            formData.append('so_info', JSON.stringify(this.soData))
            await addSoDetail(formData)
            swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Success',
              showConfirmButton: false,
              timer: 1500
            })
            EventBus.$emit('reloadTabPmServiceActive')
            this.dialog2 = false
            this.isLoading = false
          }, 1000)
        } else {
          this.isLoading = false
        }
      } catch (error) {
        swal.fire({
          confirmButtonColor: '#325869',
          icon: 'error',
          title: error.response.data.message
        })
      } finally {
      }
    },
    async genSOno () {
      var xml = await Date.now()
        .valueOf()
        .toString()
        .split('')
        .reverse()
        .join('')
      this.soData.so_no = xml
      await this.chkDup()
    },
    getcolorstatus (data) {
      var xml = this.checkst[data.value]
      return `color: ${xml.color};`
    },
    getDate () {
      this.opendate = false
      this.duedate = false
      if (dayjs(this.soData.due_date).diff(this.soData.open_date, 'days') < 0) {
        this.soData.due_date = dayjs(this.soData.open_date)
          .add(1, 'day')
          .format('YYYY-MM-DD')
      }
      this.defaultDueDate = dayjs(this.soData.open_date)
        .add(1, 'day')
        .format('YYYY-MM-DD')
    },
    getDate2 () {
      this.startdate = false
      this.enddate = false
      if (
        dayjs(this.soData.end_date).diff(this.soData.start_date, 'days') < 0
      ) {
        this.soData.end_date = dayjs(this.soData.start_date)
          .add(1, 'day')
          .format('YYYY-MM-DD')
      }
      this.defaultEndDate = dayjs(this.soData.start_date)
        .add(1, 'day')
        .format('YYYY-MM-DD')
    },
    closeDialog () {
      this.$refs.form.resetValidation()
      this.diagram_file = null
      this.so_file = null
      this.confirm_UAT_file = null
      this.UAT_file = null
      this.soData = {
        so_no: '',
        open_date: dayjs().format('YYYY-MM-DD'),
        due_date: null,
        start_date: dayjs().format('YYYY-MM-DD'),
        end_date: null,
        services: ['pm']
      }
      this.salenameitems = []
      this.presalenameitems = []
    }
  }
}
</script>
<style scoped>
.onebox.theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: var(--v-primary-base) !important;
    color: #ffffff !important;
}
.onebox.theme--light.v-btn.v-btn--disabled .v-icon, .theme--light.v-btn.v-btn--disabled .v-btn__loading {
        color: inherit !important;
}
</style>
<style>
td {
  border: 1px solid #f1f2f6;
}
th {
  border: 1px solid #f1f2f6;
}
.v-input .v-progress-linear {
  top: calc(100% - 3px) !important;
  left: 0;
}
.head-font {
  color: #8b8e9c;
  font-size: 20px;
}
.text {
  color: var(--v-text_profile-base);
}
.head2 {
  font-size: 23px;
  color: #325869;
}
.containers {
  max-width: 95% !important;
}
.head3 {
  font-size: 26px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.v-file-input .v-file-input__text {
  padding-left: 130px !important;
}
.textfile.v-input input {
  max-height: 32px;
  padding-left: 130px !important;
}
</style>
