<template>
  <div>
    <ExportDashboardPDF/>
  </div>
</template>
<script>
import ExportDashboardPDF from '@/components/pages/ExportDashboardPDF/ExportDashboardPDF'
export default {
  components: {
    ExportDashboardPDF
  }
}
</script>
